In [2]:
import numpy as np
import pandas as pd
import re
import os
working_dir = './user_logs_copy'

users=[]
for root, dirs, _ in os.walk(working_dir):
    for d in dirs:
        if d.startswith('user-'):
            users.append(d)
users=sorted(users, key=lambda item: int(item.partition('-')[2]))

n_devices=[]
talkTime=[]

#user 9 is a great reference. I user with >1 devices.
for user in users:
    n_devices.append(len(next(os.walk(working_dir+'/'+user))[1]))
    
    user_call_logs=[]
    user_text_logs=[]
    user_contact_logs=[]
    for u, device, files in os.walk(working_dir+'/'+user):
        if not u.endswith(user): # solution for device folder "u" repetition
            for filename in files:
                if filename.endswith('call_log.txt'):
                    user_call_logs.append(os.path.join(u, filename)) 
                if filename.endswith('sms_log.txt'):
                    user_text_logs.append(os.path.join(u, filename))
                if filename.endswith('list.txt'):
                    user_contact_logs.append(os.path.join(u, filename))

    for user_call_log in user_call_logs:   
        user_calls = pd.read_json(user_call_log)
        
    talkTime.append(user_calls['duration'].sum())
    #int too large-?
    
    for user_text_log in user_text_logs:   
        user_texts = pd.read_json(user_text_log)
        
    for user_contact_log in user_contact_logs:   
        user_contacts = pd.read_json(user_contact_log)

    print(user, user_calls)
    #user-9 doesn't have country_iso, so why is it being filled?
    
    user_df = pd.DataFrame({'talkTime':talkTime})
#print(user_df)
    
#master_df = concat user_dfs [user, repayed?, talktime, n_devices, n_contacts, d/n ratio, ...]

user-1         cached_name  call_type country_iso  data_usage  \
0         Bro Aaron          1          KE           0
1          Toto Pml          1          KE           0
2    Stephen Munyao          2          KE           0
3            Boni 2          3          KE           0
4         Bro Aaron          1          KE           0
5            Boni 2          2          KE           0
6    Stephen Munyao          2          KE           0
7               NaN          2          KE           0
8           Muthami          1          KE           0
9           Muthami          1          KE           0
10          Priscah          2          KE           0
11        Bro Aaron          1          KE           0
12        Bro Aaron          1          KE           0
13        Bro Aaron          2          KE           0
14              NaN          1          KE           0
15       mrs munyao          1          KE           0
16          Priscah          2          KE           0
17       mrs munyao          3          KE           0
18           obadia          1          KE           0
19           obadia          2          KE           0
20       mrs munyao          2          KE           0
21          Darling          2          KE           0
22          Darling          3          KE           0
23       mrs munyao          2          KE           0
24       mrs munyao          1          KE           0
25          Darling          2          KE           0
26          Darling          2          KE           0
27          Darling          2          KE           0
28          Darling          2          KE           0
29          Darling          3          KE           0
..              ...        ...         ...         ...
152             NaN          3          KE           0
153             NaN          1          KE           0
154             NaN          3          KE           0
155             NaN          2          KE           0
156             NaN          3          KE           0
157             NaN          1          KE           0
158             NaN          2          KE           0
159             NaN          2          KE           0
160             NaN          3          KE           0
161             NaN          3          KE           0
162          GEORGE          2          KE           0
163             min          2          KE           0
164             NaN          2          KE           0
165             NaN          2          KE           0
166           BANDE          2          KE           0
167           BANDE          2          KE           0
168             NaN          2          KE           0
169             NaN          2          KE           0
170             NaN          2          KE           0
171             NaN          3          KE           0
172          Amondi          2          KE           0
173              jm          2          US           0
174              jm          2          KE           0
175             min          2          KE           0
176             min          2          KE           0
177             NaN          2          KE           0
178             Bob          2          KE           0
179             NaN          3          KE           0
180             NaN          3          KE           0
181             NaN          3          KE           0

                   datetime  duration  features_video geocoded_location  \
0   2017-06-01 10:25:06.561        23           False             Kenya
1   2017-06-01 07:21:58.581        40           False             Kenya
2   2017-06-01 07:06:20.372        10           False             Kenya
3   2017-06-01 07:00:17.652         0           False             Kenya
4   2017-06-01 06:39:24.050        34           False             Kenya
5   2017-06-01 06:32:54.881        83           False             Kenya
6   2017-06-01 06:31:15.587        32           False             Kenya
7   2017-06-01 06:29:22.425         2           False             Kenya
8   2017-06-01 03:43:43.660        30           False             Kenya
9   2017-06-01 03:42:39.353        26           False             Kenya
10  2017-05-31 17:38:58.059        16           False             Kenya
11  2017-05-31 16:37:34.400        29           False             Kenya
12  2017-05-31 16:34:38.636        40           False             Kenya
13  2017-05-31 16:34:04.701         0           False             Kenya
14  2017-05-31 15:50:44.454        39           False             Kenya
15  2017-05-31 13:50:32.237         8           False             Kenya
16  2017-05-31 13:42:55.961        56           False             Kenya
17  2017-05-31 13:34:01.100         0           False             Kenya
18  2017-05-31 13:25:37.139        28           False             Kenya
19  2017-05-31 13:24:15.340        59           False             Kenya
20  2017-05-31 13:23:12.565         0           False             Kenya
21  2017-05-31 12:59:45.968        16           False             Kenya
22  2017-05-31 12:50:12.308         0           False             Kenya
23  2017-05-31 12:49:18.775        31           False             Kenya
24  2017-05-31 12:48:02.234        38           False             Kenya
25  2017-05-31 11:46:34.634       105           False             Kenya
26  2017-05-31 11:44:10.424        73           False             Kenya
27  2017-05-31 11:18:33.049        75           False             Kenya
28  2017-05-31 11:14:28.837        60           False             Kenya
29  2017-05-31 09:13:49.622         0           False             Kenya
..                      ...       ...             ...               ...
152 2017-05-21 14:11:40.355         0           False             Kenya
153 2017-05-21 14:09:31.651         0           False             Kenya
154 2017-05-21 14:08:39.202         0           False             Kenya
155 2017-05-21 14:03:09.053        16           False             Kenya
156 2017-05-21 11:34:52.655         0           False             Kenya
157 2017-05-20 13:20:09.764         9           False             Kenya
158 2017-05-20 12:13:14.085         7           False             Kenya
159 2017-05-20 12:11:54.109        70           False             Kenya
160 2017-05-20 12:02:17.515         0           False             Kenya
161 2017-05-20 12:01:15.858         0           False             Kenya
162 2017-05-20 10:38:51.882         0           False             Kenya
163 2017-05-19 21:17:40.022         0           False             Kenya
164 2017-05-19 17:57:02.942         0           False             Kenya
165 2017-05-19 17:54:06.709         0           False             Kenya
166 2017-05-19 10:51:17.508         0           False             Kenya
167 2017-05-19 10:51:01.062         0           False             Kenya
168 2017-05-19 09:35:02.261         8           False
169 2017-05-19 09:33:28.949        69           False
170 2017-05-19 09:27:40.006         7           False
171 2017-05-19 05:50:03.948         0           False
172 2017-05-19 04:37:21.104        69           False             Kenya
173 2017-05-18 18:28:46.687         0           False
174 2017-05-18 09:13:36.427         8           False
175 2017-05-18 09:10:47.478         8           False             Kenya
176 2017-05-18 09:10:35.441         2           False             Kenya
177 2017-05-18 08:40:58.714        70           False
178 2017-05-18 08:34:19.985        70           False
179 2017-05-18 08:18:53.559         0           False
180 2017-05-18 08:14:13.360         0           False
181 2017-05-18 08:07:35.345         0           False

     is_read  item_id   phone_number
0      False      218     0725360013
1      False      217     0720283446
2      False      216     0712155935
3       True      215     0736128081
4      False      214     0725360013
5      False      213     0736128081
6      False      212     0712155935
7      False      211     0773784146
8      False      210     0725239166
9      False      209     0725239166
10     False      208     0715093040
11     False      207     0725360013
12     False      206     0725360013
13     False      205     0725360013
14     False      204     0773784146
15     False      203     0722488443
16     False      202     0715093040
17      True      201     0722488443
18     False      200     0727137311
19     False      199     0727137311
20     False      198     0722488443
21     False      197     0702440293
22      True      196     0702440293
23     False      195     0722488443
24     False      194     0722488443
25     False      193     0702440293
26     False      192     0702440293
27     False      191     0702440293
28     False      190     0702440293
29      True      189     0702440293
..       ...      ...            ...
152     True       66     0710857527
153    False       65     0710857527
154     True       64     0710857527
155    False       63     0713420037
156     True       62     0713420037
157    False       61     0700622410
158    False       60     0700622410
159    False       59     0700622410
160     True       58     0700622410
161     True       57     0700622410
162    False       56     0720354885
163    False       55     0724184070
164    False       54     0710857527
165    False       53     0710857527
166    False       52     0700442075
167    False       51     0700442075
168    False       50     0798477708
169    False       49     0798477708
170    False       48     0798477708
171     True       47     0798477708
172    False       46  +254814457485
173    False       45     0797749991
174    False       44     0797749991
175    False       43     0724184070
176    False       42     0724184070
177    False       41     0799372036
178    False       40     0791562277
179     True       39     0799372036
180     True       38     0799372036
181     True       37     0799372036

[182 rows x 11 columns]
user-2       call_type country_iso  data_usage                datetime  duration  \
0             1          KE           0 2017-09-08 07:40:03.509         9
1             1          KE           0 2017-09-08 07:25:06.060        15
2             2          KE           0 2017-09-08 07:05:38.825        15
3             1          KE           0 2017-09-08 06:51:29.101        23
4             2          KE           0 2017-09-08 06:44:40.884        37
5             2          KE           0 2017-09-08 06:44:19.580         0
6             1          KE           0 2017-09-08 05:51:43.905        10
7             3          KE           0 2017-09-08 05:05:38.024         0
8             3          KE           0 2017-09-08 05:04:20.049         0
9             1          KE           0 2017-09-08 04:25:22.388        15
10            1          KE           0 2017-09-08 04:06:06.203        17
11            1          KE           0 2017-09-07 19:25:07.077        49
12            2          KE           0 2017-09-07 18:07:32.653        19
13            2          KE           0 2017-09-07 17:51:46.437         0
14            1          KE           0 2017-09-07 17:04:40.623       138
15            3          KE           0 2017-09-07 16:44:17.606         0
16            1          KE           0 2017-09-07 16:26:25.913        12
17            2          KE           0 2017-09-07 14:14:44.361        36
18            2          KE           0 2017-09-07 14:14:17.764         0
19            2          KE           0 2017-09-07 14:14:03.613         0
20            3          KE           0 2017-09-07 14:12:24.226         0
21            3          KE           0 2017-09-07 14:11:34.140         0
22            1          KE           0 2017-09-07 13:49:55.595        24
23            1          KE           0 2017-09-07 10:55:18.439        10
24            1          KE           0 2017-09-07 09:55:39.653        85
25            3          KE           0 2017-09-07 09:54:33.756         0
26            2          KE           0 2017-09-07 09:52:33.513         0
27            3          KE           0 2017-09-07 09:52:22.189         0
28            2          KE           0 2017-09-07 09:52:00.296         0
29            2          KE           0 2017-09-07 09:51:44.001         0
...         ...         ...         ...                     ...       ...
1393          1          KE           0 2017-05-17 09:54:59.266       175
1394          1          KE           0 2017-05-17 09:47:25.855       310
1395          1          KE           0 2017-05-17 09:44:13.776        70
1396          1          KE           0 2017-05-17 09:35:30.334       356
1397          1          KE           0 2017-05-17 09:31:26.777       207
1398          1          KE           0 2017-05-17 09:25:30.809       325
1399          1          KE           0 2017-05-17 09:17:24.379       444
1400          1          KE           0 2017-05-17 05:57:03.799       322
1401          2          KE           0 2017-05-17 05:26:36.848        11
1402          2          KE           0 2017-05-17 05:11:17.704        30
1403          1          KE           0 2017-05-16 18:34:55.466       966
1404          1          KE           0 2017-05-16 18:25:31.651       504
1405          1          KE           0 2017-05-16 07:22:20.207       189
1406          1          KE           0 2017-05-16 07:13:07.632        23
1407          2          KE           0 2017-05-16 07:11:16.590        22
1408          2          KE           0 2017-05-16 05:09:20.004         0
1409          2          KE           0 2017-05-16 05:08:09.200         0
1410          2          KE           0 2017-05-16 04:15:10.830        54
1411          2          KE           0 2017-05-16 03:57:32.869        18
1412          2          KE           0 2017-05-16 03:56:29.810         0
1413          1          KE           0 2017-05-15 18:49:18.215       166
1414          1          KE           0 2017-05-15 18:06:40.204        61
1415          2          KE           0 2017-05-15 17:06:22.015         9
1416          2          KE           0 2017-05-15 16:28:29.197         0
1417          2          KE           0 2017-05-15 15:55:13.614         0
1418          2          KE           0 2017-05-15 15:54:49.367         0
1419          2          KE           0 2017-05-15 15:54:23.738         0
1420          2          KE           0 2017-05-15 15:53:42.897         0
1421          2          KE           0 2017-05-15 15:53:30.727         0
1422          2          KE           0 2017-05-15 15:53:19.476         0

      features_video  is_read  item_id   phone_number
0              False    False     3559     0720078275
1              False    False     3558     0720078275
2              False    False     3557  +254919613464
3              False    False     3556     0705981925
4              False    False     3555     0705981925
5              False    False     3554     0705981925
6              False    False     3553     0705981925
7              False     True     3552     0705981925
8              False     True     3551     0705981925
9              False    False     3550     0705981925
10             False    False     3549     0705981925
11             False    False     3548     0705140163
12             False    False     3547     0712073229
13             False    False     3546     0712073229
14             False    False     3545     0705981925
15             False     True     3544     0705981925
16             False    False     3543     0716530287
17             False    False     3542     0705140163
18             False    False     3541     0705140163
19             False    False     3540     0705140163
20             False     True     3539     0705140163
21             False     True     3538     0705140163
22             False    False     3537     0720078275
23             False    False     3536     0726004993
24             False    False     3535     0705140163
25             False     True     3534     0705140163
26             False    False     3533     0705140163
27             False     True     3532     0705140163
28             False    False     3531     0705140163
29             False    False     3530     0705140163
...              ...      ...      ...            ...
1393           False    False     1395     0705140163
1394           False    False     1394     0705140163
1395           False    False     1393     0705140163
1396           False    False     1392     0705140163
1397           False    False     1391     0705140163
1398           False    False     1390     0705140163
1399           False    False     1389     0705140163
1400           False    False     1388     0705140163
1401           False    False     1387     0725380349
1402           False    False     1386     0705140163
1403           False    False     1385     0705140163
1404           False    False     1384     0705140163
1405           False    False     1383     0705140163
1406           False    False     1382     0705140163
1407           False    False     1381     0705140163
1408           False    False     1380     0720338596
1409           False    False     1379     0720338596
1410           False    False     1378     0705140163
1411           False    False     1377     0704076631
1412           False    False     1376     0704076631
1413           False    False     1375     0705140163
1414           False    False     1374     0705140163
1415           False    False     1373     0712412645
1416           False    False     1372     0796374014
1417           False    False     1371     0796374014
1418           False    False     1370     0796374014
1419           False    False     1369     0796374014
1420           False    False     1368     0796374014
1421           False    False     1367     0796374014
1422           False    False     1366     0796374014

[1423 rows x 9 columns]
user-3         cached_name  call_type                datetime  duration  is_read  \
0        0704268505          2 2017-06-04 07:59:04.653        12    False
1        0704268505          3 2017-06-04 07:51:02.619         0     True
2               NaN          2 2017-06-04 07:40:34.843        12    False
3               NaN          2 2017-06-03 17:57:39.290         0    False
4               NaN          2 2017-06-03 17:57:21.089         0    False
5               NaN          2 2017-06-03 17:29:40.440         0    False
6               NaN          2 2017-06-03 17:27:57.837         0    False
7               NaN          2 2017-06-03 17:27:29.377        10    False
8               NaN          2 2017-06-03 17:17:40.434       532    False
9               NaN          1 2017-06-03 17:16:49.721        22    False
10              NaN          2 2017-06-03 17:13:44.100       159    False
11              NaN          2 2017-06-03 17:11:53.906        90    False
12              NaN          1 2017-06-03 17:10:15.265         0    False
13              NaN          3 2017-06-03 17:03:55.842         0     True
14              NaN          3 2017-06-03 16:58:37.525         0     True
15              NaN          2 2017-06-03 16:57:07.767        49    False
16   Patrick Sertoi          2 2017-06-03 16:34:01.619        50    False
17              NaN          2 2017-06-03 16:00:48.013        14    False
18              NaN          2 2017-06-03 16:00:28.233         0    False
19     jebta bamela          2 2017-06-03 15:57:54.004        60    False
20      Alex Tolgos          2 2017-06-03 15:52:55.791         0    False
21      Alex Tolgos          2 2017-06-03 15:52:48.034         0    False
22              NaN          2 2017-06-03 15:51:03.474         3    False
23     Winny Chiris          2 2017-06-03 12:00:18.903         0    False
24              NaN          2 2017-06-03 11:10:35.334         0    False
25              NaN          2 2017-06-03 11:09:49.908         0    False

user-4      cached_name  call_type                datetime  duration  is_read  \
0            Bae          1 2017-11-10 19:44:35.726        89    False
1           SIST          2 2017-11-10 18:12:33.540         0    False
2            Bae          2 2017-11-10 18:10:47.536        61    False
3            Bae          2 2017-11-10 18:10:00.397         0    False
4            Bae          1 2017-11-10 18:03:04.824       389    False
5            Bae          2 2017-11-10 18:02:15.696         0    False
6            Bae          2 2017-11-10 18:01:50.038         0    False
7            Bae          1 2017-11-10 18:01:03.400        26    False
8            Bae          1 2017-11-10 17:59:16.298        21    False
9            Bae          1 2017-11-10 17:58:25.711        10    False
10           Bae          1 2017-11-10 09:08:24.945       101    False
11          SIST          3 2017-11-10 09:05:37.705         0     True
12           Bae          2 2017-11-10 09:03:49.374         5    False
13           Bae          3 2017-11-10 09:01:03.720         0     True
14           Bae          3 2017-11-10 09:00:02.966         0     True
15           Bae          2 2017-11-09 16:59:22.425       232    False
16           Bae          2 2017-11-09 16:56:31.385         0    False
17           Bae          1 2017-11-09 16:52:08.795        74    False
18           Bae          1 2017-11-09 10:59:34.949        45    False
19           NaN          3 2017-11-09 10:56:46.704         0     True
20           NaN          3 2017-11-09 10:56:24.712         0     True
21          SIST          1 2017-11-09 10:48:16.365        60    False
22          SIST          2 2017-11-09 10:25:55.807        38    False
23             A          2 2017-11-09 08:15:35.803         0    False
24           NaN          1 2017-11-09 08:09:13.736         4    False
25           NaN          3 2017-11-09 08:07:48.733         0     True
26          SIST          1 2017-11-09 07:54:22.712       231    False
27          SIST          1 2017-11-09 07:51:10.705       119    False
28           Bae          2 2017-11-09 06:55:16.706        94    False
29           Bae          1 2017-11-09 06:50:16.574       270    False
...          ...        ...                     ...       ...      ...
1745         NaN          2 2017-03-16 17:07:01.340         0    False
1746         DAD          2 2017-03-16 16:19:52.520         0    False
1747      Lilian          1 2017-03-16 14:23:48.519        30    False
1748         Mum          1 2017-03-16 11:58:01.790        12    False
1749        JUMA          1 2017-03-16 11:47:38.613       119    False
1750        JUMA          3 2017-03-16 11:46:47.651         0     True
1751         DAD          3 2017-03-16 07:11:02.727         0     True
1752        JUMA          3 2017-03-15 21:44:14.724         0     True
1753        JUMA          1 2017-03-15 17:47:40.684       104    False
1754  Domy Field          1 2017-03-15 17:06:34.707        26    False
1755      Lilian          2 2017-03-15 16:08:27.158        36    False
1756      Lilian          2 2017-03-15 14:00:06.376        19    False
1757         NaN          1 2017-03-15 13:59:19.512        21    False
1758         NaN          2 2017-03-15 13:58:29.240        16    False
1759         NaN          2 2017-03-15 13:58:12.112         0    False
1760         NaN          2 2017-03-15 13:34:14.269       404    False
1761      Lilian          2 2017-03-15 13:22:50.390         0    False
1762      Lilian          2 2017-03-15 13:21:47.395         0    False
1763         NaN          1 2017-03-15 12:24:51.709        35    False
1764         DAD          2 2017-03-15 07:04:23.132         0    False
1765         DAD          2 2017-03-15 07:03:02.531        44    False
1766       Cathy          2 2017-03-15 06:58:47.672       217    False
1767         Mum          2 2017-03-15 06:58:02.086         6    False
1768        Rsch          3 2017-03-14 15:33:19.888         0     True
1769         NaN          2 2017-03-14 15:13:41.190         0    False
1770         NaN          2 2017-03-14 15:12:45.393         0    False
1771        Rsch          2 2017-03-14 15:06:44.546        22    False
1772   Rodah Rsc          2 2017-03-14 14:31:22.087        57    False
1773         NaN          1 2017-03-14 14:26:54.793         2    False
1774        Rsch          2 2017-03-14 14:25:27.900         0    False

      item_id   phone_number
0        4646     0798554407
1        4645     0701158189
2        4644     0798554407
3        4643     0798554407
4        4642     0798554407
5        4641     0798554407
6        4640     0798554407
7        4639     0798554407
8        4638     0798554407
9        4637     0798554407
10       4636     0798554407
11       4635     0701158189
12       4634     0798554407
13       4633     0798554407
14       4632     0798554407
15       4631  +254228667815
16       4630  +254228667815
17       4629     0798554407
18       4628     0798554407
19       4627     0797598192
20       4626     0797598192
21       4625     0701158189
22       4624     0701158189
23       4623    37171941858
24       4622  +254645614037
25       4621  +254645614037
26       4620     0701158189
27       4619     0701158189
28       4618  +254228667815
29       4617     0798554407
...       ...            ...
1745     2868     0721909726
1746     2867     0719775408
1747     2866     0713599670
1748     2865     0713135152
1749     2864     0704057827
1750     2863     0704057827
1751     2862     0719775408
1752     2861     0704057827
1753     2860     0704057827
1754     2859     0719567458
1755     2858     0713599670
1756     2857     0713599670
1757     2856     0729166078
1758     2855     0719567458
1759     2854     0729166078
1760     2853     0729166078
1761     2852     0713599670
1762     2851     0713599670
1763     2850     0719567458
1764     2849     0719775408
1765     2848     0719775408
1766     2847     0703751430
1767     2846     0713135152
1768     2845     0718902983
1769     2844     0734858487
1770     2843     0734858487
1771     2842     0718902983
1772     2841     0708687478
1773     2840     0710377908
1774     2839     0718902983

[1775 rows x 7 columns]
user-5          cached_name  call_type                datetime  duration  is_read  \
0     My Missing Rib          2 2017-11-09 06:22:58.347         0      0.0
1         Peter ceep          1 2017-11-09 06:16:38.811        12      0.0
2         Peter ceep          1 2017-11-09 06:16:02.359         6      0.0
3                NaN          1 2017-11-09 05:10:59.145        14      0.0
4       Bakule Stone          2 2017-11-08 16:17:16.319         0      0.0
5       Bakule Stone          2 2017-11-08 16:16:53.556         0      0.0
6       Bakule Stone          2 2017-11-08 16:16:24.156         0      0.0
7          Chepkirui          2 2017-11-08 15:56:38.500        13      0.0
8      CHEMUTAI MERE          2 2017-11-08 15:56:10.541         0      0.0
9          Chepkirui          2 2017-11-08 15:55:10.949         8      0.0
10         Chepkirui          2 2017-11-08 15:54:18.767        38      0.0
11         Chepkirui          2 2017-11-08 15:53:37.786        23      0.0
12         Chepkirui          2 2017-11-08 15:53:09.661        14      0.0
13         Chepkirui          2 2017-11-08 15:52:53.121         0      0.0
14         Chepkirui          2 2017-11-08 15:52:17.373        10      0.0
15      XADOX LANGAT          2 2017-11-08 15:49:51.273        48      0.0
16      XADOX LANGAT          1 2017-11-08 15:46:59.184        16      0.0
17     CHEMUTAI MERE          2 2017-11-08 15:43:40.727         0      0.0
18     CHEMUTAI MERE          2 2017-11-08 15:42:21.075         0      0.0
19        Peter ceep          3 2017-11-08 06:25:49.917         0      1.0
20               NaN          1 2017-11-08 06:03:10.089       109      0.0
21               NaN          2 2017-11-07 19:57:34.989         0      0.0
22               NaN          2 2017-11-07 19:57:15.152         0      0.0
23               NaN          2 2017-11-07 19:57:01.552         0      0.0
24               NaN          2 2017-11-07 19:56:03.826         0      0.0
25               NaN          2 2017-11-07 19:44:13.662       643      0.0
26               NaN          2 2017-11-07 19:37:37.546        67      0.0
27               NaN          2 2017-11-07 19:36:35.609         0      0.0
28               NaN          2 2017-11-07 19:35:41.192         0      0.0
29               NaN          2 2017-11-07 19:20:22.494       696      0.0
...              ...        ...                     ...       ...      ...
2326      ann vivian          3 2017-05-12 10:40:51.690         0      NaN
2327        jack mdm          2 2017-05-12 09:45:49.522         0      NaN
2328        jack mdm          2 2017-05-12 09:44:49.982         0      NaN
2329           OLIVA          2 2017-05-12 08:54:11.614         0      NaN
2330        jack mdm          2 2017-05-12 07:54:07.975        83      NaN
2331           RENNY          2 2017-05-12 07:51:29.266         0      NaN
2332        jack mdm          2 2017-05-12 07:50:18.513        30      NaN
2333        jack mdm          2 2017-05-12 07:49:01.828         2      NaN
2334        jack mdm          2 2017-05-12 07:47:57.739        23      NaN
2335      ann vivian          1 2017-05-12 07:22:35.079        12      NaN
2336      ann vivian          3 2017-05-12 05:32:12.396         0      NaN
2337      ann vivian          3 2017-05-12 05:31:00.130         0      NaN
2338      Peter ceep          2 2017-05-12 04:48:57.262        20      NaN
2339             MUM          2 2017-05-12 04:46:31.902        81      NaN
2340             MUM          2 2017-05-12 04:44:14.362        11      NaN
2341             MUM          3 2017-05-12 04:41:08.425         0      NaN
2342        jack mdm          2 2017-05-12 04:22:55.741         4      NaN
2343    XADOX LANGAT          2 2017-05-11 19:12:47.260        44      NaN
2344      Peter ceep          2 2017-05-11 18:05:35.535        28      NaN
2345          Nathan          2 2017-05-11 17:40:30.377         0      NaN
2346          Nathan          2 2017-05-11 17:39:48.936         0      NaN
2347             Mum          3 2017-05-11 17:02:36.948         0      NaN
2348    XADOX LANGAT          2 2017-05-11 16:55:07.358        17      NaN
2349         UNKNOWN          2 2017-05-11 16:52:41.843         0      NaN
2350          CHEBET          2 2017-05-11 16:44:24.193         0      NaN
2351         UNKNOWN          2 2017-05-11 15:37:19.555        86      NaN
2352          CHEBET          2 2017-05-11 15:36:58.199         0      NaN
2353          CHEBET          2 2017-05-11 15:35:28.727         0      NaN
2354         UNKNOWN          2 2017-05-11 15:18:53.927        51      NaN
2355         COLLO 2          1 2017-05-11 13:17:45.129        63      NaN

      item_id   phone_number
0        6653     0723249096
1        6652     0797137143
2        6651     0797137143
3        6650     0729228090
4        6649     0724504024
5        6648     0724504024
6        6647     0724504024
7        6646     0706832298
8        6645     0723249096
9        6644     0706832298
10       6643     0706832298
11       6642     0706832298
12       6641     0706832298
13       6640     0706832298
14       6639     0706832298
15       6638     0711143529
16       6637     0711143529
17       6636     0723249096
18       6635     0723249096
19       6634     0797137143
20       6633     0722545154
21       6632     0722490438
22       6631     0722490438
23       6630     0722490438
24       6629     0722027522
25       6628            234
26       6627            234
27       6626     0722545154
28       6625     0722545154
29       6624            100
...       ...            ...
2326       29     0715460892
2327       28     0724510536
2328       27     0724510536
2329       26     0710967386
2330       25     0724510536
2331       24     0726794218
2332       23     0724510536
2333       22     0724510536
2334       21     0724510536
2335       20     0715460892
2336       19     0715460892
2337       18     0715460892
2338       17     0797137143
2339       16     0712728473
2340       15     0712728473
2341       14     0712728473
2342       13     0724510536
2343       12     0711143529
2344       11     0797137143
2345       10     0717188854
2346        9     0717188854
2347        8     0712728473
2348        7     0711143529
2349        6  +254840462022
2350        5     0797246507
2351        4  +254840462022
2352        3     0797246507
2353        2     0797246507
2354        1  +254840462022
2355        0     0799214793

[2356 rows x 7 columns]
user-6     cached_name  call_type country_iso  data_usage                datetime  \
0           NaN          3          KE           0 2017-07-23 16:16:15.814
1         Swara          1          KE           0 2017-07-23 13:42:13.090
2         Swara          3          KE           0 2017-07-23 13:16:52.768
3         Swara          3          KE           0 2017-07-23 13:16:01.600
4     Sis Tabby          3          KE           0 2017-07-23 12:52:30.776
5           NaN          3          KE           0 2017-07-23 11:16:53.818
6           NaN          3          KE           0 2017-07-23 10:43:13.956
7           NaN          3          KE           0 2017-07-23 10:40:50.395
8           NaN          1          KE           0 2017-07-23 09:07:25.305
9           NaN          3          KE           0 2017-07-23 09:04:43.971
10    Sis Tabby          3          KE           0 2017-07-23 07:41:04.412
11    Sis Tabby          1          KE           0 2017-07-23 05:05:01.807
12    Sis Tabby          1          KE           0 2017-07-23 04:50:03.538
13          NaN          3          KE           0 2017-07-22 18:24:38.562
14        Erico          1          KE           0 2017-07-22 15:11:56.774
15        Erico          1          KE           0 2017-07-22 14:20:16.584
16         Nico          1          KE           0 2017-07-22 13:17:49.994
17          NaN          1          KE           0 2017-07-22 13:13:12.442
18          NaN          1          KE           0 2017-07-22 13:05:20.397
19          NaN          3          KE           0 2017-07-22 11:08:03.123
20         Nico          1          KE           0 2017-07-22 10:20:44.743
21          NaN          1          KE           0 2017-07-22 06:42:17.015
22        Chir2          3          KE           0 2017-07-21 20:10:26.056
23        Chir2          3          KE           0 2017-07-21 20:10:05.865
24        Chir2          1          KE           0 2017-07-21 20:09:14.739
25        Chir2          1          KE           0 2017-07-21 20:00:56.477
26        Chir@          1          KE           0 2017-07-21 19:56:25.650
27        Chir@          2          KE           0 2017-07-21 19:55:25.760
28        Chir@          2          KE           0 2017-07-21 19:51:36.144
29         Nico          1          KE           0 2017-07-21 19:20:31.377
..          ...        ...         ...         ...                     ...
950   onkayioni          2          KE           0 2017-04-23 04:23:33.231
951   onkayioni          2          KE           0 2017-04-22 19:42:06.714
952         Mum          2          KE           0 2017-04-22 19:36:17.199
953   onkayioni          2          KE           0 2017-04-22 19:35:44.202
954   onkayioni          2          KE           0 2017-04-22 19:32:51.756
955   onkayioni          2          KE           0 2017-04-22 19:25:20.566
956   onkayioni          2          KE           0 2017-04-22 19:25:04.216
957   onkayioni          2          KE           0 2017-04-22 19:14:16.429
958   onkayioni          2          KE           0 2017-04-22 19:13:33.702
959         NaN          2          KE           0 2017-04-22 18:20:54.059
960      Bratha          2          KE           0 2017-04-22 17:24:54.678
961      Exupen          2          KE           0 2017-04-22 17:22:20.207
962      Silvia          2          KE           0 2017-04-22 17:09:25.040
963      Bratha          2          KE           0 2017-04-22 16:43:26.410
964      Silvia          2          KE           0 2017-04-22 16:42:58.893
965     Charity          2          KE           0 2017-04-22 16:41:59.437
966   onkayioni          2          KE           0 2017-04-22 16:38:33.029
967         NaN          2          KE           0 2017-04-22 16:37:31.334
968      Silvia          2          KE           0 2017-04-22 15:33:35.924
969     Endawuo          1          KE           0 2017-04-22 10:11:40.826
970     Endawuo          2          KE           0 2017-04-22 05:51:50.896
971        Anko          1          KE           0 2017-04-22 05:44:32.672
972      Silvia          2          KE           0 2017-04-22 05:23:43.106
973        Anko          1          KE           0 2017-04-22 05:16:24.266
974      Silvia          1          KE           0 2017-04-21 18:11:39.353
975      Silvia          1          KE           0 2017-04-21 18:11:05.533
976      Silvia          2          KE           0 2017-04-21 18:11:03.661
977      Silvia          2          KE           0 2017-04-21 18:10:16.444
978      Silvia          2          KE           0 2017-04-21 18:06:33.820
979      Silvia          2          KE           0 2017-04-21 18:05:29.422

     duration  features_video geocoded_location  is_read  item_id  \
0           0           False                       True     1242
1          12           False             Kenya    False     1241
2           0           False             Kenya     True     1240
3           0           False             Kenya     True     1239
4           0           False             Kenya     True     1238
5           0           False             Kenya     True     1237
6           0           False             Kenya     True     1236
7           0           False             Kenya     True     1235
8          17           False             Kenya    False     1234
9           0           False             Kenya     True     1233
10          0           False             Kenya     True     1232
11         82           False             Kenya    False     1231
12         10           False             Kenya    False     1230
13          0           False             Kenya     True     1229
14         28           False             Kenya    False     1228
15         39           False             Kenya    False     1227
16         14           False             Kenya    False     1226
17         17           False             Kenya    False     1225
18         21           False             Kenya    False     1224
19          0           False             Kenya     True     1223
20         26           False             Kenya    False     1222
21         78           False             Kenya    False     1221
22          0           False             Kenya     True     1220
23          0           False             Kenya     True     1219
24         23           False             Kenya    False     1218
25         67           False             Kenya    False     1217
26         64           False             Kenya    False     1216
27          0           False             Kenya    False     1215
28          0           False             Kenya    False     1214
29        148           False             Kenya    False     1213
..        ...             ...               ...      ...      ...
950         0           False             Kenya    False      292
951        26           False             Kenya    False      291
952         0           False             Kenya    False      290
953        13           False             Kenya    False      289
954         0           False             Kenya    False      288
955         0           False             Kenya    False      287
956         0           False             Kenya    False      286

user-8         cached_name  call_type                datetime  duration  is_read  \
0         Wa Bosire          2 2017-10-19 16:36:00.748        21    False
1    johana kimemia          2 2017-10-19 16:34:34.043        14    False
2         Wa Bosire          2 2017-10-19 16:09:02.880         8    False
3                Bb          2 2017-10-19 15:19:49.331        89    False
4          m uchiri          2 2017-10-19 07:03:52.321        30    False
5          m uchiri          2 2017-10-19 07:03:08.532         3    False
6          m uchiri          1 2017-10-18 15:39:53.673         6    False
7            WA RII          2 2017-10-18 14:43:05.865         4    False
8            WA RII          2 2017-10-18 14:42:31.227        16    False
9               NaN          2 2017-10-18 14:42:09.275         0    False
10              NaN          2 2017-10-18 14:41:57.983         0    False
11             Josh          1 2017-10-18 14:35:22.937        10    False
12         m uchiri          2 2017-10-18 11:33:33.314        11    False
13         m uchiri          2 2017-10-18 10:01:06.525        17    False
14         m uchiri          1 2017-10-18 09:59:50.403         6    False
15            NGash          5 2017-10-18 09:28:41.655         0    False
16               MN          2 2017-10-17 15:57:51.029         0    False
17   johana kimemia          2 2017-10-17 15:23:43.107        69    False
18   johana kimemia          2 2017-10-17 15:23:31.889         6    False
19   johana kimemia          2 2017-10-17 15:23:10.637         3    False
20           GITHEI          3 2017-10-17 06:40:47.745         0     True
21           GITHEI          3 2017-10-17 06:12:41.972         0     True
22           GITHEI          1 2017-10-17 06:11:38.157         8    False
23            RIMUI          1 2017-10-16 17:38:10.378        51    False
24              NaN          2 2017-10-16 16:13:16.621        10    False
25            RIMUI          2 2017-10-16 16:08:35.027         0    False
26         m uchiri          2 2017-10-16 16:00:44.192        14    False
27         m uchiri          1 2017-10-16 15:41:50.604         9    False
28         m uchiri          2 2017-10-16 15:32:38.813        15    False
29         m uchiri          3 2017-10-16 15:12:10.219         0     True
..              ...        ...                     ...       ...      ...
308    Ngigi Driver          1 2017-05-30 16:10:15.222         8    False
309    Ngigi Driver          2 2017-05-30 16:07:40.305        15    False
310            Paul          2 2017-05-30 15:39:38.747         4    False
311            Paul          2 2017-05-30 15:35:32.472         5    False
312         B Grace          1 2017-05-30 12:41:09.166         9    False
313   Mwangi Driver          1 2017-05-30 11:51:13.204        43    False
314   Mwangi Driver          2 2017-05-30 11:51:11.760         0    False
315   Mwangi Driver          3 2017-05-30 11:50:50.622         0     True
316            Paul          2 2017-05-30 07:10:05.834        66    False
317    Ngigi Driver          2 2017-05-30 04:12:21.938         0    False
318    Ngigi Driver          2 2017-05-30 04:08:27.436        24    False
319         B Grace          1 2017-05-29 08:10:06.641        41    False
320             Bro          2 2017-05-29 07:12:47.098        29    False
321             Siz          2 2017-05-29 07:05:32.888        44    False
322             Siz          2 2017-05-29 07:05:16.294         0    False
323             Bro          2 2017-05-29 07:01:43.345        29    False
324             Bro          3 2017-05-29 06:13:26.777         0     True
325    Ngigi Driver          2 2017-05-29 04:23:57.069        14    False
326          Githei          1 2017-05-28 19:33:51.914        15    False
327          Githei          2 2017-05-28 16:10:24.690         0    False
328            Paul          1 2017-05-28 13:27:30.025        13    False
329             Bro          1 2017-05-28 11:32:30.082        12    False
330            Paul          1 2017-05-28 11:27:25.807        24    False
331        Ng'ang'a          2 2017-05-28 10:33:46.007         0    False
332            Paul          2 2017-05-28 10:32:35.545         0    False
333        Ng'ang'a          2 2017-05-28 10:29:07.868         0    False
334            Paul          1 2017-05-28 06:01:42.786        22    False
335            Paul          1 2017-05-28 05:47:33.641        28    False
336         B Grace          1 2017-05-27 09:25:58.319        42    False
337         B Grace          1 2017-05-27 08:14:04.394        26    False

     item_id   phone_number
0       1739     0714002526
1       1738     0714505917
2       1736     0714002526
3       1735     0723395393
4       1726     0720331543
5       1720     0720331543
6       1713     0720331543
7       1712     0705358975
8       1711     0705358975
9       1710      070549805
10      1709      070549805
11      1708     0704080950
12      1707     0720331543
13      1706     0720331543
14      1705     0720331543
15      1702     0715046311
16      1680  +254653403456
17      1669     0714505917
18      1668     0714505917
19      1667     0714505917
20      1661     0714129021
21      1660     0714129021
22      1659     0714129021
23      1648     0706157551
24      1643  +254007910888
25      1641     0706157551
26      1640     0720331543
27      1639     0720331543
28      1638  +254566393196
29      1637     0720331543
..       ...            ...
308     2682     0727510264
309     2681     0727510264
310     2680     0716643901
311     2679     0716643901
312     2678     0722757282
313     2677     0721807988
314     2676     0721807988
315     2675     0721807988
316     2672     0716643901
317     2671     0727510264
318     2670     0727510264
319     2662     0722757282
320     2658     0719724849
321     2657     0701671480
322     2656   254112446742
323     2655     0719724849
324     2653     0719724849
325     2651     0727510264
326     2647     0714129021
327     2644     0714129021
328     2643     0716643901
329     2642     0719724849
330     2641     0716643901
331     2640     0715046311
332     2639     0716643901
333     2638     0715046311
334     2633     0716643901
335     2632     0716643901
336     2624     0722757282
337     2620     0722757282

[338 rows x 7 columns]
user-9              cached_name  call_type country_iso  data_usage  \
0                PINOKIO          1          KE           0
1                 Wahito          1          KE           0
2            Nancy Joska          1          KE           0
3          BETH DAUGHTER          2          KE           0
4     RUTH EQUITY Kayole          2          KE           0
5               WAITHERA          2          KE           0
6              MBURU KIO          2          KE           0
7       SPINDER PIKIPIKI          2          KE           0
8                  GRACE          1          KE           0
9            Nancy Joska          1          KE           0
10      SPINDER PIKIPIKI          1          KE           0
11                WAJACK          2          KE           0
12                WAJACK          1          KE           0
13                WAJACK          3          KE           0
14               PINOKIO          1          KE           0
15               PINOKIO          3          KE           0
16               SIMON 2          2          KE           0
17               SIMON 2          1          KE           0
18           Crown Paint          1          KE           0
19      WARUINGI GATHONI          1          KE           0
20               PINOKIO          2          KE           0
21               PINOKIO          1          KE           0
22               PINOKIO          1          KE           0
23              WAITHERA          2          KE           0
24      ESTHER NYAGUTHII          2          KE           0
25      SPINDER PIKIPIKI          2          KE           0
26      SPINDER PIKIPIKI          2          KE           0
27        KARIS T TOWERS          2          KE           0
28           KARIS LORRY          1          KE           0
29           Nancy Joska          1          KE           0
...                  ...        ...         ...         ...
5187                 NaN          3          KE           0
5188   SAFARICOM SHYLOCK          1          KE           0
5189                 NaN          3          KE           0
5190                 NaN          2          KE           0
5191                 NaN          3          KE           0
5192                 NaN          3          KE           0
5193                 NaN          3          KE           0
5194                 NaN          2          KE           0
5195                 NaN          2          KE           0
5196                 NaN          1          KE           0
5197         KIRUI KAREN          3          KE           0
5198               GRACE          1          KE           0
5199       MACHARIA TOWN          2          KE           0
5200   SAFARICOM SHYLOCK          2          KE           0
5201       MACHARIA TOWN          1          KE           0
5202       MACHARIA TOWN          1          KE           0
5203       MACHARIA TOWN          1          KE           0
5204       MACHARIA TOWN          1          KE           0
5205           KOM CHAMA          3          KE           0
5206                 NaN          1          KE           0
5207         KIRUI KAREN          3          KE           0
5208              WAHITO          1          KE           0
5209           KOM CHAMA          3          KE           0
5210      LANDLORD UMOJA          2          KE           0
5211           JOHHANAUN          2          KE           0
5212           JOHHANAUN          1          KE           0
5213         KIRUI KAREN          1          KE           0
5214                 NaN          2          KE           0
5215           WAZEE NCC          2          KE           0
5216         KIRUI KAREN          3          KE           0

                    datetime  duration  features_video geocoded_location  \
0    2017-11-27 11:05:28.866         9           False
1    2017-11-27 09:45:08.231         0           False
2    2017-11-27 09:04:45.076        29           False
3    2017-11-27 08:36:52.372        81           False
4    2017-11-27 07:53:46.785         0           False
5    2017-11-27 07:16:22.191        79           False
6    2017-11-27 07:13:05.006        23           False
7    2017-11-27 06:42:37.145        25           False
8    2017-11-26 19:17:47.082         5           False
9    2017-11-26 17:50:25.095         1           False
10   2017-11-26 17:37:44.972        46           False
11   2017-11-26 17:07:30.093        22           False
12   2017-11-26 17:01:49.080        28           False
13   2017-11-26 17:00:58.086         0           False
14   2017-11-26 16:15:28.822        25           False
15   2017-11-26 16:14:30.086         0           False
16   2017-11-26 15:53:16.765         3           False
17   2017-11-26 15:51:09.081        12           False
18   2017-11-26 15:49:46.094        20           False
19   2017-11-26 14:51:16.106        34           False
20   2017-11-26 13:56:52.731        31           False
21   2017-11-26 13:49:42.921       116           False
22   2017-11-26 13:47:19.976       107           False
23   2017-11-26 13:44:20.676        58           False
24   2017-11-26 13:43:05.997        18           False
25   2017-11-26 13:23:32.799        45           False
26   2017-11-26 13:21:40.578         0           False
27   2017-11-26 13:20:01.059        46           False
28   2017-11-26 13:00:07.093       104           False
29   2017-11-26 11:43:33.758        16           False
...                      ...       ...             ...               ...
5187 2017-08-16 17:48:38.169         0           False
5188 2017-08-16 17:03:52.087        61           False
5189 2017-08-16 16:16:31.085         0           False
5190 2017-08-16 15:34:58.406        38           False
5191 2017-08-16 15:33:42.081         0           False
5192 2017-08-16 15:32:24.382         0           False
5193 2017-08-16 15:31:47.202         0           False
5194 2017-08-16 15:30:41.750        18           False
5195 2017-08-16 15:30:09.495        24           False
5196 2017-08-16 14:54:17.043        15           False
5197 2017-08-16 14:44:52.044         0           False
5198 2017-08-16 14:40:44.043        14           False
5199 2017-08-16 14:16:06.996        30           False
5200 2017-08-16 14:12:55.276       171           False
5201 2017-08-16 14:10:23.051        86           False
5202 2017-08-16 13:57:37.556        14           False
5203 2017-08-16 13:35:51.049         8           False
5204 2017-08-16 13:13:39.043       196           False
5205 2017-08-16 13:03:04.044         0           False
5206 2017-08-16 12:46:20.051        32           False
5207 2017-08-16 12:39:54.454         0           False
5208 2017-08-16 12:20:47.062        14           False
5209 2017-08-16 12:12:34.088         0           False
5210 2017-08-16 11:56:56.385        16           False
5211 2017-08-16 10:10:38.869        24           False
5212 2017-08-16 10:08:15.059        74           False
5213 2017-08-16 08:11:35.053        18           False
5214 2017-08-16 07:49:05.864        36           False
5215 2017-08-16 07:44:19.285        23           False
5216 2017-08-16 07:42:30.041         0           False

      is_read  item_id   phone_number
0       False     6518     0718284167
1       False     6517     0724431265
2       False     6516     0723095081
3       False     6515     0714265012
4       False     6514     0727202141
5       False     6513     0728608965
6       False     6512     0798598194
7       False     6511     0701217022
8       False     6510     0723810712
9       False     6509     0723095081
10      False     6508     0701217022
11      False     6507     0723840578
12      False     6506     0723840578
13       True     6505     0723840578
14      False     6504     0718284167
15       True     6503     0718284167
16      False     6502     0734816681
17      False     6501     0734816681
18      False     6500     0722539702
19      False     6499     0722675131
20      False     6498     0718284167
21      False     6497     0718284167
22      False     6496     0718284167
23      False     6495     0728608965
24      False     6494     0724197834
25      False     6493     0701217022
26      False     6492     0701217022
27      False     6491     0722370841
28      False     6490     0728179563
29      False     6489     0723095081
...       ...      ...            ...
5187     True      812     0726545661
5188    False      811     0722794877
5189     True      810     0718284167
5190    False      809     0718284167
5191     True      808     0718284167
5192     True      807     0718284167
5193     True      806     0718284167
5194    False      805     0718284167
5195    False      804     0718284167
5196    False      803     0718284167
5197     True      802  +254461842157
5198    False      801     0723810712
5199    False      800     0722796745
5200    False      799     0722794877
5201    False      798     0722796745
5202    False      797     0722796745
5203    False      796     0722796745
5204    False      795     0722796745
5205     True      794     0721864897
5206    False      793     0718284167
5207     True      792  +254461842157
5208    False      791     0724431265
5209     True      790     0721864897
5210    False      789     0723862181
5211    False      788     0722408095
5212    False      787     0722408095
5213    False      786  +254461842157
5214    False      785     0718284167
5215    False      784     0720909376
5216     True      783  +254461842157

[5217 rows x 11 columns]
user-10                     cached_name  call_type country_iso  data_usage  \
0        MR . MACHARIA LUNER PA          2          KE           0
1                         NYAKS          2          KE           0
2          MARUA-CHIEF A/C HABO          1          KE           0
3               Electrical Habo          2          KE           0
4                       PATRICK          2          KE           0
5               EMILY -CHESWETE          2          KE           0
6                           NaN          2          KE           0
7                           NaN          2          KE           0
8          MARUA-CHIEF A/C HABO          1          KE           0
9            MAGUNGA CEO-DRIVER          1          KE           0
10                          NaN          1          KE           0
11                          NaN          2          KE           0
12                        NYAKS          2          KE           0
13                        NYAKS          3          KE           0
14         MARUA-CHIEF A/C HABO          3          KE           0
15                   Mkindani 2          2          KE           0
16         MARUA-CHIEF A/C HABO          1          KE           0
17         MARUA-CHIEF A/C HABO          1          KE           0
18               SILIVESTER-FUE          2          KE           0
19              Electrical Habo          2          KE           0
20         MARUA-CHIEF A/C HABO          1          KE           0
21         MARUA-CHIEF A/C HABO          2          KE           0
22                      PATRICK          2          KE           0
23                   Mkindani 2          2          KE           0
24              Electrical Habo          2          KE           0
25    Karanja Awanad Accountant          2          KE           0
26               SILIVESTER-FUE          2          KE           0
27               SILIVESTER-FUE          2          KE           0
28                          NaN          2          KE           0
29               SILIVESTER-FUE          2          KE           0
...                         ...        ...         ...         ...
1337     MR . MACHARIA LUNER PA          2          KE           0
1338            JABALUYA TENANT          2          KE           0
1339                   NYAKUNDI          2          KE           0
1340                   NYAKUNDI          2          KE           0
1341                   NYAKUNDI          2          KE           0
1342                   NYAKUNDI          3          KE           0
1343                   NYAKUNDI          2          KE           0
1344                 EVON-mamba          2          KE           0
1345             SILIVESTER-FUE          2          KE           0
1346               JARED-OKELLO          2          KE           0
1347           AWUOR-POLO PIACH          1          KE           0
1348     MR . MACHARIA LUNER PA          2          KE           0
1349     MR . MACHARIA LUNER PA          2          KE           0
1350                        NaN          2          KE           0
1351             SILIVESTER-FUE          1          KE           0
1352                        NaN          1          KE           0
1353             SILIVESTER-FUE          2          KE           0
1354             SILIVESTER-FUE          2          KE           0
1355               DRIVER-SALIM          1          KE           0
1356             SILIVESTER-FUE          2          KE           0
1357                        NaN          2          KE           0
1358        DAVID-POWER MOMBASA          2          KE           0
1359        DAVID-POWER MOMBASA          2          KE           0
1360        DAVID-POWER MOMBASA          2          KE           0
1361        DAVID-POWER MOMBASA          2          KE           0
1362     MR . MACHARIA LUNER PA          2          KE           0
1363             MAMA-BEN AWITI          1          KE           0
1364     MR . MACHARIA LUNER PA          1          KE           0

user-12      cached_name  call_type country_iso  data_usage                datetime  \
0            NaN          2          KE           0 2017-11-14 19:07:31.249
1            NaN          2          KE           0 2017-11-14 19:07:14.023
2            NaN          2          KE           0 2017-11-14 19:06:51.699
3            NaN          2          KE           0 2017-11-14 17:40:40.157
4         Benjah          2          KE           0 2017-11-14 17:28:39.500
5         sharon          3          KE           0 2017-11-14 15:19:34.785
6        Carolyn          2          KE           0 2017-11-14 14:18:51.937
7        Carolyn          2          KE           0 2017-11-14 14:17:35.463
8         Kochuo          2          KE           0 2017-11-14 14:07:07.551
9         Kochuo          2          KE           0 2017-11-14 14:06:27.141
10           NaN          2          KE           0 2017-11-14 14:04:57.562
11        Benjah          2          KE           0 2017-11-14 13:40:37.362
12           NaN          2          KE           0 2017-11-14 13:36:20.711
13           NaN          2          KE           0 2017-11-14 13:35:29.447
14         Debra          2          KE           0 2017-11-14 13:31:55.968
15         Debra          1          KE           0 2017-11-14 13:30:17.839
16         Debra          2          KE           0 2017-11-14 13:29:53.513
17     Ronniejob          2          KE           0 2017-11-13 19:39:17.485
18     Ronniejob          2          KE           0 2017-11-13 19:00:44.956
19         Debra          2          KE           0 2017-11-13 19:00:05.433
20      Billynet          2          KE           0 2017-11-13 17:27:05.693
21          WiFi          2          KE           0 2017-11-13 17:25:40.550
22     Allanplot          2          KE           0 2017-11-13 17:22:13.136
23        Min-gi          1          KE           0 2017-11-13 16:49:19.596
24     Allanplot          2          KE           0 2017-11-13 16:41:55.445
25          WiFi          2          KE           0 2017-11-13 16:31:07.846
26          WiFi          2          KE           0 2017-11-13 16:30:42.452
27         Debra          2          KE           0 2017-11-13 15:23:26.873
28       Carolyn          2          KE           0 2017-11-13 15:06:24.407
29           NaN          1          KE           0 2017-11-13 13:41:18.964
...          ...        ...         ...         ...                     ...
3947       Ramah          1          KE           0 2017-04-08 12:01:32.878
3948       Ramah          2          KE           0 2017-04-08 11:50:50.504
3949       Ramah          2          KE           0 2017-04-08 07:48:17.512
3950       Uncle          3          KE           0 2017-04-08 05:18:06.083
3951     RoyGar1          2          KE           0 2017-04-07 17:43:28.536
3952       Adalo          3          KE           0 2017-04-07 16:52:18.325
3953    Geoffrey          2          KE           0 2017-04-07 16:38:58.897
3954    Geoffrey          2          KE           0 2017-04-07 16:23:38.784
3955    Geoffrey          2          KE           0 2017-04-07 16:22:57.685
3956    Geoffrey          2          KE           0 2017-04-07 16:18:49.008
3957       Uncle          3          KE           0 2017-04-07 16:04:00.134
3958       Uncle          3          KE           0 2017-04-07 09:20:58.122
3959       Winny          2          KE           0 2017-04-07 04:11:02.313
3960       Apodo          2          KE           0 2017-04-07 04:10:51.964
3961       Apodo          2          KE           0 2017-04-07 04:06:43.919
3962       Apodo          1          KE           0 2017-04-07 03:38:13.359
3963       Uncle          3          KE           0 2017-04-06 18:17:49.085
3964         Bae          2          KE           0 2017-04-06 17:20:50.465
3965       Nerah          3          KE           0 2017-04-06 16:53:15.849
3966       Nerah          1          KE           0 2017-04-06 16:33:09.758
3967         Bae          2          KE           0 2017-04-06 16:25:03.985
3968     RoyGar1          1          KE           0 2017-04-06 16:22:17.126
3969     RoyGar1          2          KE           0 2017-04-06 16:20:12.861
3970       Uncle          3          KE           0 2017-04-06 14:43:49.109
3971       Uncle          3          KE           0 2017-04-06 13:26:05.095
3972       Uncle          3          KE           0 2017-04-06 13:08:30.116
3973       Apodo          1          KE           0 2017-04-06 04:00:00.730
3974       Apodo          2          KE           0 2017-04-06 03:57:41.796
3975       Apodo          3          KE           0 2017-04-06 03:56:17.086
3976     Geoffry          1          KE           0 2017-04-05 17:01:30.152

      duration  features_video geocoded_location  is_read  item_id  \
0           34           False                      False     5891
1            0           False                      False     5890
2            0           False                      False     5889
3           16           False                      False     5888
4            0           False                      False     5887
5            0           False                       True     5886
6           13           False                      False     5885
7           21           False                      False     5884
8           19           False                      False     5883
9            0           False                      False     5882
10           0           False                      False     5881
11           0           False                      False     5880
12           0           False                      False     5879
13           0           False                      False     5878
14           0           False                      False     5877
15          16           False                      False     5876
16           0           False                      False     5875
17          26           False                      False     5874
18         124           False                      False     5873
19           0           False                      False     5872
20          43           False                      False     5871
21           0           False                      False     5870
22           0           False                      False     5869
23         121           False                      False     5868
24          19           False                      False     5867
25           0           False                      False     5866
26           0           False                      False     5865
27          47           False                      False     5864
28           9           False                      False     5863
29          62           False                      False     5862
...        ...             ...               ...      ...      ...
3947        34           False                      False     1943
3948        19           False                      False     1942
3949        36           False                      False     1941
3950         0           False                       True     1940
3951        19           False                      False     1939
3952         0           False                       True     1938
3953        14           False                      False     1937
3954        20           False                      False     1936
3955         0           False                      False     1935
3956         0           False                      False     1934
3957         0           False                       True     1933
3958         0           False                       True     1932
3959         2           False                      False     1931
3960         0           False                      False     1930
3961         5           False                      False     1929
3962        29           False                      False     1928
3963         0           False                       True     1927
3964        46           False                      False     1926
3965         0           False                       True     1925
3966        21           False                      False     1924
3967        35           False                      False     1923
3968        33           False                      False     1922
3969         4           False                      False     1921
3970         0           False                       True     1920
3971         0           False                       True     1919
3972         0           False                       True     1918
3973         7           False                      False     1917
3974        12           False                      False     1916
3975         0           False                       True     1915
3976        24           False                      False     1914

       phone_number
0     +254135290038
1     +254135290038
2     +254135290038
3     +254135290038
4        0704421050
5        0790994602
6        0713315342
7        0713315342
8        0702711731
9        0702711731
10    +254026065729
11       0704421050
12    +254026065729
13    +254026065729
14       0706297737
15       0706297737
16       0706297737
17       0700614865
18       0700614865
19       0706297737
20       0727077446
21       0710526213
22       0715861488
23       0715470415
24       0715861488
25       0710526213
26       0710526213
27       0706297737
28       0713315342
29       0704104817
...             ...
3947     0705530192
3948  +254079795531
3949  +254079795531
3950     0706800453
3951  +254945517371
3952     0714668661
3953  +254006765581
3954  +254006765581
3955  +254006765581
3956  +254006765581
3957     0706800453
3958     0706800453
3959  +254779178306
3960     0717101057
3961     0717101057
3962     0717101057
3963     0706800453
3964  +254108863503
3965  +254847608088
3966  +254847608088
3967  +254108863503
3968     0713208299
3969  +254945517371
3970     0706800453
3971     0706800453
3972     0706800453
3973     0717101057
3974     0717101057
3975     0717101057
3976     0725911237

[3977 rows x 11 columns]
user-13          cached_name  call_type country_iso  data_usage  \
0         Lovely Mom          3          KE           0
1                NaN          1          KE           0
2                NaN          1          KE           0
3                NaN          1          KE           0
4                NaN          3          KE           0
5                NaN          1          KE           0
6                NaN          3          KE           0
7                NaN          3          KE           0
8                NaN          3          KE           0
9                NaN          3          KE           0
10               NaN          1          KE           0
11               NaN          3          KE           0
12              Bili          3          KE           0
13        Lovely Mom          2          KE           0
14              Caro          2          KE           0
15        Mama Kevin          2          KE           0
16           Mwikali          2          KE           0
17           Mwikali          2          KE           0
18           Wanjiku          2          KE           0
19           Mwwndwa          2          KE           0
20        Lovely Mom          1          KE           0
21           Kid Siz          1          KE           0
22   Evans Nandasaba          1          KE           0
23   Evans Nandasaba          1          KE           0
24   Evans Nandasaba          3          KE           0
25               NaN          3          KE           0
26               NaN          3          KE           0
27             Mercy          3          KE           0
28              Anto          3          KE           0
29             Chalo          1          KE           0
..               ...        ...         ...         ...
970         Tony Bro          1          KE           0
971          Wanjiko          2          KE           0
972          Wanjiko          2          KE           0
973            Mercy          2          KE           0
974            Mercy          1          KE           0
975            Janet          3          KE           0
976            Mercy          3          KE           0
977          Mwwndwa          2          KE           0
978            Vaite          2          KE           0
979            Mercy          1          KE           0
980            Mercy          2          KE           0
981            Mercy          1          KE           0
982            Mercy          2          KE           0
983            Mercy          2          KE           0
984         Tony Bro          1          KE           0
985         Tony Bro          2          KE           0
986         Tony Bro          2          KE           0
987         Tony Bro          1          KE           0
988         Tony Bro          3          KE           0
989            Mercy          2          KE           0
990            Mercy          1          KE           0
991            Mercy          1          KE           0
992            Mercy          2          KE           0
993            Mercy          2          KE           0
994  Eunice Muthiani          2          KE           0
995  Eunice Muthiani          2          KE           0
996            Mercy          2          KE           0
997      Mama Ndutaa          2          KE           0
998      Mama Ndutaa          2          KE           0
999            Mercy          1          KE           0

                   datetime  duration  features_video geocoded_location  \
0   2017-09-26 21:00:47.928         0           False             Kenya
1   2017-09-26 16:44:17.078        61           False             Kenya
2   2017-09-26 15:52:08.090        36           False             Kenya
3   2017-09-26 15:20:50.078        80           False             Kenya
4   2017-09-26 15:19:13.316         0           False             Kenya
5   2017-09-26 14:53:07.143        25           False             Kenya
6   2017-09-26 14:41:24.770         0           False             Kenya
7   2017-09-26 03:02:09.112         0           False             Kenya
8   2017-09-26 02:16:56.115         0           False             Kenya
9   2017-09-25 20:48:34.576         0           False             Kenya
10  2017-09-25 15:56:38.212        26           False             Kenya
11  2017-09-25 15:32:01.104         0           False             Kenya
12  2017-09-25 15:07:19.213         0           False             Kenya
13  2017-09-25 11:30:37.957       155           False             Kenya
14  2017-09-25 10:50:23.025        44           False             Kenya
15  2017-09-25 09:37:58.783         0           False             Kenya
16  2017-09-25 09:32:10.968       223           False             Kenya
17  2017-09-25 09:30:51.567        16           False             Kenya
18  2017-09-25 09:28:51.991        38           False             Kenya
19  2017-09-25 09:04:44.071         0           False             Kenya
20  2017-09-25 08:26:37.380       170           False             Kenya
21  2017-09-25 03:26:36.108        10           False             Kenya
22  2017-09-24 21:27:20.146         8           False             Kenya
23  2017-09-24 21:25:14.138        50           False             Kenya
24  2017-09-24 20:46:58.168         0           False             Kenya
25  2017-09-24 20:14:28.890         0           False             Kenya
26  2017-09-24 19:27:45.116         0           False             Kenya
27  2017-09-24 17:49:17.148         0           False             Kenya
28  2017-09-24 17:27:21.125         0           False             Kenya
29  2017-09-24 15:43:57.444        56           False             Kenya
..                      ...       ...             ...               ...
970 2017-03-11 12:32:01.913        24           False             Kenya
971 2017-03-11 10:49:13.281         9           False             Kenya
972 2017-03-11 10:48:24.501         4           False             Kenya
973 2017-03-10 15:27:26.601       388           False             Kenya
974 2017-03-10 12:52:29.312         1           False             Kenya
975 2017-03-10 12:09:35.373         0           False             Kenya
976 2017-03-09 22:19:55.694         0           False             Kenya
977 2017-03-09 19:54:42.865        55           False             Kenya
978 2017-03-09 18:10:02.286        23           False             Kenya
979 2017-03-09 16:41:44.555        35           False             Kenya
980 2017-03-09 16:41:22.480         0           False             Kenya
981 2017-03-09 16:32:24.097        16           False             Kenya
982 2017-03-09 16:29:20.434         0           False             Kenya
983 2017-03-09 16:28:28.747         6           False             Kenya
984 2017-03-09 16:07:15.175        14           False             Kenya
985 2017-03-09 15:14:07.110        21           False             Kenya
986 2017-03-09 15:13:59.307         0           False             Kenya
987 2017-03-09 15:13:24.062        15           False             Kenya
988 2017-03-09 15:11:02.978         0           False             Kenya
989 2017-03-09 14:39:15.790        22           False             Kenya
990 2017-03-09 14:32:14.103        14           False             Kenya
991 2017-03-09 14:14:28.065        17           False             Kenya
992 2017-03-09 14:09:35.129        31           False             Kenya
993 2017-03-09 13:20:56.165        34           False             Kenya
994 2017-03-09 12:27:37.094        55           False             Kenya
995 2017-03-09 12:22:22.255         0           False             Kenya
996 2017-03-09 11:57:58.051       376           False             Kenya
997 2017-03-09 11:57:52.505         0           False             Kenya
998 2017-03-09 11:57:42.540         0           False             Kenya
999 2017-03-09 11:57:27.241         2           False             Kenya

     is_read  item_id  phone_number
0       True     6054     711209485
1      False     6053     726802793
2      False     6052     726802793
3      False     6051     727388982
4       True     6050     727388982
5      False     6049     711144899
6       True     6048     726802793
7       True     6047     711144899
8       True     6046     711144899
9       True     6045     723337833
10      True     6044     726802793
11      True     6043     726802793
12      True     6042     722753831
13      True     6041     711209485
14      True     6040  254240457259
15      True     6039  254157833562
16      True     6038  254361393077
17      True     6037  254361393077
18      True     6036     710502228
19      True     6035     715615288
20      True     6034     711209485
21      True     6033     705626733
22      True     6032     710842643
23      True     6031     710842643
24      True     6030     710842643
25      True     6029     710842643
26      True     6028     726802793
27      True     6027     726595761
28      True     6026     707686017
29      True     6025     727350305
..       ...      ...           ...
970     True     3740     718040842
971     True     3739  254851922391
972     True     3738  254851922391
973     True     3734     726595761
974     True     3733     726595761
975     True     3732     725661129
976     True     3731     726595761
977     True     3730     715615288
978     True     3729     713428400
979     True     3728     726595761
980     True     3727  254468769185
981     True     3726     726595761
982     True     3725  254468769185
983     True     3724  254468769185
984     True     3723     718040842
985     True     3722  254189667846
986     True     3721  254189667846
987     True     3720     718040842
988     True     3719     718040842
989     True     3718  254468769185

user-14      call_type country_iso  data_usage                datetime  duration  \
0            2          KE           0 2017-05-29 07:52:18.427         0
1            2          KE           0 2017-05-29 04:14:16.757         4
2            2          KE           0 2017-05-29 04:12:56.080         0
3            2          KE           0 2017-05-29 04:12:06.875         0
4            1          KE           0 2017-05-28 15:43:19.349        20
5            2          KE           0 2017-05-28 15:30:37.617         0
6            1          KE           0 2017-05-28 11:47:05.370        13
7            2          KE           0 2017-05-28 10:41:29.629         0
8            1          KE           0 2017-05-28 07:07:16.787       102
9            2          KE           0 2017-05-28 07:05:30.995         7
10           2          KE           0 2017-05-28 07:04:29.810         0
11           3          KE           0 2017-05-28 06:55:04.046         0
12           3          KE           0 2017-05-28 06:53:19.111         0
13           1          KE           0 2017-05-27 17:36:30.147        80
14           2          KE           0 2017-05-27 15:54:22.986       141
15           2          KE           0 2017-05-27 15:35:01.795       474
16           2          KE           0 2017-05-27 15:34:53.194         0
17           2          KE           0 2017-05-27 15:30:16.180        56
18           2          KE           0 2017-05-27 15:27:29.802       143
19           2          KE           0 2017-05-27 15:25:15.096        66
20           2          KE           0 2017-05-27 15:21:50.616       155
21           2          KE           0 2017-05-27 15:20:29.784         0
22           2          KE           0 2017-05-27 13:20:49.287        82
23           2          KE           0 2017-05-27 13:19:53.778        15
24           2          KE           0 2017-05-27 13:19:02.166        22
25           2          KE           0 2017-05-27 13:14:25.874       141
26           2          KE           0 2017-05-27 13:11:50.558         0
27           2          KE           0 2017-05-27 13:08:22.075         0
28           2          KE           0 2017-05-27 13:08:13.064         0
29           2          KE           0 2017-05-27 13:07:16.055         0
..         ...         ...         ...                     ...       ...
470          3          KE           0 2017-05-03 12:33:51.236         0
471          2          KE           0 2017-05-03 12:16:24.169         0
472          3          KE           0 2017-05-03 11:28:51.081         0
473          1          KE           0 2017-05-03 11:22:46.109       104
474          2          KE           0 2017-05-03 10:23:25.107        16
475          1          KE           0 2017-05-03 10:14:24.139         0
476          2          KE           0 2017-05-03 10:06:08.262       383
477          1          KE           0 2017-05-03 10:02:37.114         5
478          1          KE           0 2017-05-03 08:21:56.086         4
479          1          KE           0 2017-05-03 08:09:06.738       648
480          2          KE           0 2017-05-03 07:39:01.255        45
481          1          KE           0 2017-05-03 07:29:30.119        56
482          1          KE           0 2017-05-03 07:18:30.125        50
483          2          KE           0 2017-05-03 07:08:57.036        97
484          2          KE           0 2017-05-03 07:06:08.751       100
485          2          KE           0 2017-05-03 06:52:13.038       226
486          1          KE           0 2017-05-03 06:24:59.083         6
487          1          KE           0 2017-05-03 06:13:46.111        61
488          1          KE           0 2017-05-02 18:51:28.808       273
489          2          KE           0 2017-05-02 18:07:53.799       468
490          1          KE           0 2017-05-02 17:45:01.069      1358
491          1          KE           0 2017-05-02 17:33:17.161       334
492          2          KE           0 2017-05-02 17:32:42.754         0
493          3          KE           0 2017-05-02 17:28:26.099         0
494          2          KE           0 2017-05-02 17:23:49.540       499
495          2          KE           0 2017-05-02 17:10:16.568         0
496          2          KE           0 2017-05-02 17:08:42.255        68
497          2          KE           0 2017-05-02 17:06:56.178        93
498          2          KE           0 2017-05-02 17:01:53.981       289
499          2          KE           0 2017-05-02 16:57:49.915       221

     features_video geocoded_location  is_read  item_id  phone_number
0             False             Kenya    False     3787     706703901
1             False             Kenya    False     3786     708324525
2             False             Kenya    False     3785     728124261
3             False             Kenya    False     3784     708324525
4             False             Kenya    False     3783     708324525
5             False             Kenya    False     3782     708324525
6             False             Kenya    False     3781     708324525
7             False             Kenya    False     3780     708324525
8             False             Kenya    False     3779     708324525
9             False             Kenya    False     3778     708324525
10            False             Kenya    False     3777     708324525
11            False             Kenya     True     3776     708324525
12            False             Kenya     True     3775     708324525
13            False             Kenya    False     3774     710266585
14            False             Kenya    False     3773     728124261
15            False                      False     3772     791331296
16            False             Kenya    False     3771     723447299
17            False             Kenya    False     3770     721620366
18            False             Kenya    False     3769  254286029485
19            False             Kenya    False     3768  254855196451
20            False             Kenya    False     3767  254333932050
21            False             Kenya    False     3766     720939798
22            False             Kenya    False     3765     714558060
23            False             Kenya    False     3764     710117570
24            False             Kenya    False     3763     719485000
25            False             Kenya    False     3762     721620366
26            False             Kenya    False     3761  254259287208
27            False                      False     3760     797070233
28            False             Kenya    False     3759     723447299
29            False                      False     3758     791331296
..              ...               ...      ...      ...           ...
470           False           Nairobi     True     3310     206253458
471           False             Kenya     True     3309     722912736
472           False           Nairobi     True     3308     206253458
473           False             Kenya     True     3307     702276367
474           False             Kenya     True     3306     727743882
475           False             Kenya     True     3305     727743882
476           False             Kenya     True     3304     727743882
477           False             Kenya     True     3303     727743882
478           False             Kenya     True     3302     720214574
479           False             Kenya     True     3301     720214574
480           False                       True     3300           100
481           False             Kenya     True     3299     724806961
482           False           Nairobi     True     3298     206253458
483           False             Kenya     True     3297     725528709
484           False             Kenya     True     3296     725528709
485           False             Kenya     True     3295     721856739
486           False           Nairobi     True     3294     206253458
487           False           Nairobi     True     3293     206253458
488           False             Kenya     True     3292     712729500
489           False             Kenya     True     3291     721620366
490           False             Kenya     True     3290     720214574
491           False             Kenya     True     3289     720214574
492           False             Kenya     True     3288     720214574
493           False             Kenya     True     3286     720214574
494           False             Kenya     True     3287     721620366
495           False             Kenya     True     3285     712729500
496           False             Kenya     True     3284     720065745
497           False             Kenya     True     3283     725296064
498           False             Kenya     True     3282  254337825804
499           False             Kenya     True     3281     720962307

[500 rows x 10 columns]
user-15      call_type country_iso  data_usage                datetime  duration  \
0            2          KE           0 2017-05-31 07:35:07.816         0
1            1          KE           0 2017-05-30 19:30:37.501        92
2            1          KE           0 2017-05-29 11:42:55.633        19
3            2          KE           0 2017-05-29 10:08:25.177        16
4            2          KE           0 2017-05-29 10:08:12.713         0
5            1          KE           0 2017-05-29 09:53:55.852       158
6            2          KE           0 2017-05-29 09:51:02.358         0
7            3          KE           0 2017-05-29 01:49:18.908         0
8            1          KE           0 2017-05-28 13:32:25.143        68
9            2          KE           0 2017-05-28 10:50:43.194         0
10           1          KE           0 2017-05-27 22:12:12.347        41
11           1          KE           0 2017-05-27 17:19:24.931         6
12           1          KE           0 2017-05-27 17:06:35.030        17
13           2          KE           0 2017-05-27 16:30:23.660        75
14           1          KE           0 2017-05-27 16:18:21.944        64
15           2          KE           0 2017-05-27 14:29:59.030         0
16           2          KE           0 2017-05-27 04:49:59.042        13
17           1          KE           0 2017-05-27 04:48:10.198        12
18           1          KE           0 2017-05-27 04:28:34.962        35
19           2          KE           0 2017-05-27 04:08:19.128        66
20           3          KE           0 2017-05-27 03:58:13.965         0
21           3          KE           0 2017-05-27 03:57:08.067         0
22           1          KE           0 2017-05-27 00:18:52.106        76
23           3          KE           0 2017-05-27 00:12:16.791         0
24           3          KE           0 2017-05-26 22:39:29.580         0
25           3          KE           0 2017-05-26 22:37:46.673         0
26           1          KE           0 2017-05-26 16:41:40.745        13
27           2          KE           0 2017-05-26 14:17:43.146         0
28           1          KE           0 2017-05-26 10:57:42.315        54
29           2          KE           0 2017-05-26 09:25:44.646        15
..         ...         ...         ...                     ...       ...
470          2          KE           0 2017-03-23 14:38:56.246         0
471          1          KE           0 2017-03-23 12:30:18.025        36
472          2          KE           0 2017-03-23 12:27:16.563         0
473          2          KE           0 2017-03-23 00:04:11.710         0
474          1          KE           0 2017-03-22 16:22:34.024        68
475          2          KE           0 2017-03-22 11:14:04.681         0
476          3          KE           0 2017-03-22 10:42:55.699         0
477          1          KE           0 2017-03-21 19:11:40.382       307
478          2          KE           0 2017-03-21 18:16:50.604         0
479          1          KE           0 2017-03-21 17:43:18.814       190
480          1          KE           0 2017-03-21 10:19:12.032        40
481          1          KE           0 2017-03-20 14:26:53.786        26
482          3          KE           0 2017-03-20 10:07:17.471         0
483          1          KE           0 2017-03-19 13:14:07.933        27
484          2          KE           0 2017-03-19 10:42:47.662         0
485          3          KE           0 2017-03-19 09:31:41.484         0
486          3          KE           0 2017-03-19 07:49:58.350         0
487          3          KE           0 2017-03-19 06:28:02.270         0
488          3          KE           0 2017-03-19 05:51:40.778         0
489          3          KE           0 2017-03-19 05:42:49.709         0
490          3          KE           0 2017-03-18 23:02:18.772         0
491          3          KE           0 2017-03-18 19:00:01.557         0
492          1          KE           0 2017-03-18 10:15:11.932         2
493          2          KE           0 2017-03-17 22:39:55.707         0
494          2          KE           0 2017-03-17 19:32:09.167       103
495          2          KE           0 2017-03-17 19:20:14.347        11
496          2          KE           0 2017-03-17 19:19:48.641         0
497          1          KE           0 2017-03-17 19:17:06.267        54
498          1          KE           0 2017-03-17 19:12:26.656        26
499          1          KE           0 2017-03-17 18:31:59.135       320

     features_video geocoded_location  is_read  item_id         phone_number
0             False             Kenya    False      848           0723364024
1             False             Kenya    False      847           0722982718
2             False             Kenya    False      846           0724262100
3             False             Kenya    False      845           0736708416
4             False             Kenya    False      844           0726618205
5             False             Kenya    False      843           0721518348
6             False             Kenya    False      842           0726618205
7             False             Kenya     True      841           0721518348
8             False             Kenya    False      840           0736187597
9             False             Kenya    False      839           0723364024
10            False             Kenya    False      838           0723364024
11            False             Kenya    False      837           0700916963
12            False             Kenya    False      836           0723364024
13            False             Kenya    False      835           0723364024
14            False             Kenya    False      834           0723364024
15            False             Kenya    False      833           0700916963
16            False             Kenya    False      832           0723364024
17            False             Kenya    False      831           0723364024
18            False             Kenya    False      830           0723364024
19            False             Kenya    False      829           0723364024
20            False             Kenya     True      828           0723364024
21            False             Kenya     True      827           0723364024
22            False             Kenya    False      826           0723364024
23            False             Kenya     True      825           0723364024
24            False             Kenya     True      824           0723364024
25            False             Kenya     True      823           0723364024
26            False             Kenya    False      822           0723364024
27            False             Kenya    False      821           0726618205
28            False             Kenya    False      820           0723364024
29            False             Kenya    False      819           0736708416
..              ...               ...      ...      ...                  ...
470           False             Kenya     True      377           0723434463
471           False             Kenya     True      376           0728090519
472           False             Kenya     True      375           0728090519
473           False             Kenya     True      374           0713624721
474           False             Kenya     True      373           0720976372
475           False             Kenya     True      372           0732751727
476           False             Kenya     True      371           0732751727
477           False             Kenya     True      370           0728479626
478           False             Kenya     True      369           0723434463
479           False             Kenya     True      368           0728479626
480           False             Kenya     True      367           0718485021
481           False             Kenya     True      366           0780322007
482           False                       True      365           0796736347
483           False             Kenya     True      364           0713624721
484           False               NaN     True      363  1415099609496703461
485           False                       True      362           0796736347
486           False                       True      361           0796736347
487           False                       True      360           0796736347
488           False                       True      359           0796736347
489           False                       True      358           0796736347
490           False                       True      357           0796736347
491           False             Kenya     True      356           0725117696
492           False             Kenya     True      355           0707908557
493           False                       True      354           0796736347
494           False             Kenya     True      353           0713624721
495           False             Kenya     True      352        +254168686795
496           False             Kenya     True      351        +254168686795
497           False             Kenya     True      350           0711957469
498           False             Kenya     True      349           0711957469
499           False             Kenya     True      348           0711957469

[500 rows x 10 columns]

user-16    cached_name  call_type country_iso  data_usage                datetime  \
0          NaN          2          KE           0 2017-05-27 18:01:18.465
1          NaN          1          KE           0 2017-05-27 17:58:52.205
2          NaN          2          KE           0 2017-05-27 17:57:36.518
3          NaN          1          KE           0 2017-05-27 17:23:43.592
4          NaN          2          KE           0 2017-05-27 16:44:58.096
5          NaN          2          KE           0 2017-05-27 16:43:35.897
6          NaN          1          US           0 2017-05-27 16:05:11.400
7          NaN          1          US           0 2017-05-27 16:04:06.331
8          NaN          1          KE           0 2017-05-27 10:43:31.504
9          NaN          2          KE           0 2017-05-27 10:42:30.960
10         NaN          2          KE           0 2017-05-27 10:40:13.121
11         NaN          3          KE           0 2017-05-27 10:36:47.054
12         NaN          3          KE           0 2017-05-27 10:36:29.258
13         NaN          2          KE           0 2017-05-27 10:29:53.954
14         NaN          1          KE           0 2017-05-27 10:28:36.172
15         NaN          3          KE           0 2017-05-27 09:57:26.723
16         NaN          3          KE           0 2017-05-27 09:56:35.470
17         NaN          3          KE           0 2017-05-27 09:55:44.522
18         NaN          2          KE           0 2017-05-27 07:53:44.204
19         NaN          1          KE           0 2017-05-27 07:30:40.768
20         NaN          2          KE           0 2017-05-27 07:19:25.980
21         NaN          2          KE           0 2017-05-27 07:03:45.338
22         NaN          2          KE           0 2017-05-27 06:50:00.567
23         NaN          2          KE           0 2017-05-27 06:42:35.763
24       Morin          2          KE           0 2017-05-27 06:42:02.275
25         siz          2          KE           0 2017-05-26 19:50:55.590
26       Morin          2          KE           0 2017-05-26 19:03:02.162
27         siz          2          KE           0 2017-05-26 16:22:09.340
28         siz          1          KE           0 2017-05-26 16:21:02.976
29         NaN          1          US           0 2017-05-26 14:08:01.414
..         ...        ...         ...         ...                     ...
44         NaN          1          KE           0 2017-05-26 07:01:54.527
45         NaN          2          KE           0 2017-05-26 07:01:23.673
46         NaN          2          KE           0 2017-05-26 07:00:31.841
47         NaN          2          KE           0 2017-05-26 07:00:19.681
48         NaN          3          KE           0 2017-05-26 06:58:22.546
49         NaN          3          KE           0 2017-05-26 06:58:01.745
50         NaN          3          KE           0 2017-05-26 06:24:47.566
51       kmwna          2          KE           0 2017-05-26 04:32:57.373
52       kmwna          1          KE           0 2017-05-25 17:54:51.072
53         NaN          2          KE           0 2017-05-25 15:47:24.659
54         NaN          1          KE           0 2017-05-25 15:17:29.853
55         NaN          1          KE           0 2017-05-25 14:17:43.100
56        zola          2          KE           0 2017-05-25 12:42:32.592
57        zola          2          KE           0 2017-05-25 12:41:35.021
58         NaN          2          KE           0 2017-05-25 10:43:36.623
59         NaN          1          KE           0 2017-05-25 08:35:26.259
60         NaN          1          KE           0 2017-05-24 14:54:22.601
61       kmwna          1          KE           0 2017-05-24 14:51:34.986
62       kmwna          1          KE           0 2017-05-24 12:43:52.155
63         NaN          1          KE           0 2017-05-24 12:30:53.583
64         NaN          1          KE           0 2017-05-24 09:29:30.649
65         NaN          3          KE           0 2017-05-24 07:16:17.138
66         NaN          3          KE           0 2017-05-24 07:11:54.948
67         NaN          1          KE           0 2017-05-24 06:33:34.694
68         NaN          1          KE           0 2017-05-24 06:26:48.630
69       Tupid          3          KE           0 2017-05-23 20:14:47.666
70         NaN          1          KE           0 2017-05-23 14:00:36.434
71       Spola          1          KE           0 2017-05-23 11:59:35.093
72         NaN          3          KE           0 2017-05-23 11:58:38.469
73         NaN          1          KE           0 2017-05-23 11:19:33.797

    duration  features_video  is_read  item_id  phone_number
0         11           False    False       93     717110961
1         20           False    False       92     717110961
2          0           False    False       91     717110961
3          1           False    False       90     707205064
4          0           False    False       89     717110961
5          0           False    False       88     717110961
6          7           False    False       87     740854325
7         12           False    False       86     740854325
8         53           False    False       85  252497969719
9          4           False    False       84  252497969719
10         2           False    False       83  252497969719
11         0           False     True       82  252497969719
12         0           False     True       81  252497969719
13         7           False    False       80     799182814
14        18           False    False       79     723315214
15         0           False     True       78     799182814
16         0           False     True       77     799182814
17         0           False     True       76     799182814
18         0           False    False       75     726653466
19        21           False    False       74     799182814
20        44           False    False       73     799182814
21        35           False    False       72     721931924
22         0           False    False       71     729872963
23         0           False    False       70     726653466
24         0           False    False       69     721723363
25        24           False    False       68     712794095
26         4           False    False       67     721723363
27        34           False    False       66     712794095
28         1           False    False       65     712794095
29        44           False    False       64     728708001
..       ...             ...      ...      ...           ...
44        92           False    False       49  252497969719
45         0           False    False       48     741143261
46         2           False    False       47  252497969719
47         0           False    False       46     741143261
48         0           False     True       45  252497969719
49         0           False     True       44  252497969719
50         0           False     True       43     741143261
51        12           False    False       42     701293961
52        11           False    False       41     701293961
53        10           False    False       40     799182814
54        24           False    False       39     799182814
55        23           False    False       38     799182814
56        34           False    False       37     716321348
57        26           False    False       36     716321348
58         0           False    False       35     799182814
59        24           False    False       34     799182814
60        19           False    False       33     790498703
61         8           False    False       32     701293961
62         9           False    False       31     701293961
63        20           False    False       30     729976359
64        24           False    False       21     799182814
65         0           False     True       20     790498703
66         0           False     True       19     790498703
67        29           False    False       18     790498703
68        20           False    False       17     799182814
69         0           False     True       15     723014432
70        28           False    False       11     799182814
71         4           False    False        3     771063724
72         0           False     True        2     790498703
73        52           False    False        1     799182814

[74 rows x 10 columns]
user-17       cached_name  call_type country_iso  data_usage                datetime  \
0           Mwass          1          KE           0 2018-05-21 14:15:53.348
1           Mwass          2          KE           0 2018-05-21 14:15:18.625
2           Jemmo          2          KE           0 2018-05-21 13:16:41.282
3           Mwass          2          KE           0 2018-05-21 13:15:29.866
4           Sizzz          1          KE           0 2017-05-22 16:47:36.604
5             NaN          2          KE           0 2017-05-22 16:33:19.840
6           Sizzz          1          KE           0 2017-05-22 16:32:19.226
7    Pastor Allan          2          KE           0 2017-05-22 16:23:04.367
8             NaN          2          KE           0 2017-05-22 16:13:10.264
9     Caleb Lembe          2          KE           0 2017-05-22 09:04:41.543
10    Caleb Lembe          2          KE           0 2017-05-22 08:41:51.691
11    Caleb Lembe          2          KE           0 2017-05-22 07:54:10.214
12    Caleb Lembe          2          KE           0 2017-05-22 07:52:26.628
13       Barracks          1          KE           0 2017-05-21 05:52:23.495
14       Barracks          3          KE           0 2017-05-21 05:47:28.518
15            NaN          1          KE           0 2017-05-20 10:12:08.698
16            NaN          1          KE           0 2017-05-20 10:11:42.654
17            NaN          1          KE           0 2017-05-20 06:32:12.677
18   Shiko Church          3          KE           0 2017-05-20 04:09:15.102
19          Jemmo          3          KE           0 2017-05-20 03:03:06.093
20         Cochez          3          KE           0 2017-05-19 19:37:15.534
21   Shiko Church          3          KE           0 2017-05-19 19:06:04.503
22   Shiko Church          3          KE           0 2017-05-19 19:05:12.542
23   Shiko Church          3          KE           0 2017-05-19 18:58:16.125
24          Jemmo          2          KE           0 2017-05-19 16:50:04.706
25            Bro          2          KE           0 2017-05-19 16:46:17.977
26            Bro          2          KE           0 2017-05-19 16:42:02.354
27            NaN          2          KE           0 2017-05-19 16:36:29.963
28         Cochez          2          KE           0 2017-05-19 16:07:12.818
29          Duthy          2          KE           0 2017-05-19 16:06:13.662
..            ...        ...         ...         ...                     ...
94    Caleb Lembe          2          KE           0 2017-05-12 19:02:19.774
95         Moseeh          2          KE           0 2017-05-12 18:23:24.147
96         Moseeh          2          KE           0 2017-05-12 18:17:59.768
97           Cate          1          KE           0 2017-05-12 10:06:55.128
98          Dommy          2          KE           0 2017-05-12 07:37:20.659
99         Moseeh          2          KE           0 2017-05-12 07:11:37.964
100        Moseeh          2          KE           0 2017-05-11 18:25:57.707
101           NaN          2          KE           0 2017-05-11 18:09:17.465
102           NaN          2          KE           0 2017-05-11 18:09:05.238
103           NaN          2          KE           0 2017-05-11 18:08:51.982
104           NaN          2          KE           0 2017-05-11 18:08:40.063
105           NaN          2          KE           0 2017-05-11 18:08:12.130
106           NaN          3          KE           0 2017-05-11 18:07:35.516
107           NaN          2          KE           0 2017-05-11 18:02:08.503
108           NaN          2          KE           0 2017-05-11 18:01:30.017
109           NaN          2          KE           0 2017-05-11 18:01:03.031
110           NaN          2          KE           0 2017-05-11 18:00:04.107
111           NaN          2          KE           0 2017-05-11 17:59:15.784
112           NaN          2          KE           0 2017-05-11 17:53:09.058
113        Moseeh          2          KE           0 2017-05-11 15:38:07.518
114           NaN          2          KE           0 2017-05-11 10:23:16.840
115  Pastor Allan          2          KE           0 2017-05-11 07:26:02.450
116           Siz          2          KE           0 2017-05-10 18:58:06.215
117           Siz          2          KE           0 2017-05-10 18:57:49.736
118         Jemmo          1          KE           0 2017-05-10 10:37:08.183
119           NaN          2          KE           0 2017-05-10 04:54:05.707
120           NaN          3          KE           0 2015-01-01 13:51:56.559
121      Barracks          3          KE           0 2015-01-01 05:59:05.710
122      Barracks          3          KE           0 2015-01-01 05:57:19.488
123      Barracks          3          KE           0 2015-01-01 05:56:25.496

     duration  features_video  is_read  item_id   phone_number
0           0           False    False      119  +254655935847
1           0           False    False      118     0725002838
2          21           False    False      117     0711466880
3           0           False    False      116     0725002838
4          19           False    False      124     0726320717
5          26           False    False      123  +254318518356
6           0           False    False      122     0726320717
7          20           False    False      121  +254887589603
8         109           False    False      120     0715303502
9           0           False    False      115     0740739508
10          0           False    False      114     0740739508
11         22           False    False      113     0740739508
12          0           False    False      112     0740739508
13         13           False    False      111     0786730132
14          0           False     True      110     0786730132
15          0           False    False      109     0729219002
16          1           False    False      108     0729219002
17         23           False    False      107     0773449527
18          0           False     True      106     0702961708
19          0           False     True      105     0711466880
20          0           False     True      104     0701140587
21          0           False     True      103     0702961708
22          0           False     True      102     0702961708
23          0           False     True      101     0702961708
24         30           False    False      100     0711466880
25          0           False    False       99  +254582134584
26          0           False    False       98  +254582134584
27         10           False    False       97     0722872193
28         16           False    False       96     0701140587
29         12           False    False       95     0717288664
..        ...             ...      ...      ...            ...
94         24           False    False       26     0740739508
95         11           False    False       25     0732200157
96          8           False    False       24     0732200157
97          9           False    False       23     0725767270
98         46           False    False       22     0700502844
99         34           False    False       21     0732200157
100         8           False    False       20     0732200157
101        10           False    False       19     0703026574
102         0           False    False       18     0703026574
103         0           False    False       17     0703026574
104         0           False    False       16     0703026574
105         0           False    False       15     0703026574
106         0           False     True       14     0703026574
107        85           False    False       13     0703026574
108         0           False    False       12     0703026574
109         0           False    False       11     0703026574
110        13           False    False       10     0703026574
111         5           False    False        9     0770381411
112        30           False    False        8     0708880430
113        14           False    False        7     0732200157
114         0           False    False        6           *444
115         0           False    False        5     0725099724
116         1           False    False        4     0726320717
117         3           False    False        3     0726320717
118        38           False    False        2     0711466880
119         0           False    False        1  +254469324670
120         0           False     True       37     0710452904
121         0           False     True       36     0786730132
122         0           False     True       35     0786730132
123         0           False     True       34     0786730132

[124 rows x 10 columns]
user-18     cached_name  call_type                datetime  duration  is_read  \
0           NaN          1 2017-06-16 12:37:54.738        42    False
1      Gatifaru          1 2017-06-16 10:54:32.770         7    False
2      Gatifaru          2 2017-06-16 10:08:55.092        23    False
3      Gatifaru          3 2017-06-16 09:59:30.039         0     True
4      Gatifaru          2 2017-06-15 14:36:43.180        48    False
5      Gatifaru          3 2017-06-15 14:34:57.083         0     True
6      Gatifaru          2 2017-06-15 14:34:09.723        10    False
7      Gatifaru          2 2017-06-15 14:33:33.681        20    False
8      Gatifaru          3 2017-06-15 14:32:38.919         0     True
9      Gatifaru          1 2017-06-15 14:24:12.235        32    False
10     Gatifaru          2 2017-06-15 14:23:30.747         0    False
11     Gatifaru          3 2017-06-15 14:20:37.294         0     True
12     Gatifaru          3 2017-06-15 13:19:49.228         0     True
13         Kimx          1 2017-06-14 16:50:14.026         8    False
14          NaN          2 2017-06-14 16:17:49.253         0    False
15          NaN          2 2017-06-14 16:07:27.024         6    False
16        paxta          2 2017-06-14 15:36:42.005        43    False
17          NaN          2 2017-06-14 15:21:18.746         0    False
18  Baba Mungai          2 2017-06-14 15:19:31.801        31    False
19          NaN          1 2017-06-14 08:51:06.165        54    False
20          NaN          1 2017-06-14 08:49:54.508        19    False
21          Mum          1 2017-06-14 08:49:18.626        16    False
22          Mum          1 2017-06-14 08:48:10.817        24    False

    item_id  phone_number
0       489     798500066
1       488     715295713
2       487     715295713
3       486     715295713
4       485     715295713
5       484     715295713
6       483     715295713
7       482     715295713
8       481     715295713
9       480     715295713
10      479     715295713
11      478     715295713
12      477     715295713
13      476     713365689
14      475     714491298
15      474     714491298
16      473  254485917859
17      472  254401651642
18      471  254446586804
19      470     786621017
20      469     786621017
21      468     726409054
22      467     726409054

user-19       call_type country_iso  data_usage                datetime  duration  \
0             2          KE           0 2017-11-08 14:50:21.912         0
1             2          KE           0 2017-11-08 14:50:06.783         0
2             2          KE           0 2017-11-08 14:47:51.732        19
3             2          KE           0 2017-11-08 14:42:45.043        21
4             2          KE           0 2017-11-08 13:37:52.952         0
5             2          KE           0 2017-11-08 13:36:35.939         0
6             2          KE           0 2017-11-08 13:36:08.447         0
7             2          KE           0 2017-11-08 13:35:52.071         0
8             2          KE           0 2017-11-08 13:35:15.324         0
9             2          KE           0 2017-11-08 13:34:05.746         0
10            2          KE           0 2017-11-08 13:33:10.502         0
11            2          KE           0 2017-11-08 13:31:44.885        23
12            2          KE           0 2017-11-08 13:30:06.227         5
13            2          KE           0 2017-11-08 13:23:39.417        16
14            1          KE           0 2017-11-08 12:34:56.944       155
15            3          KE           0 2017-11-08 03:53:38.690         0
16            1          KE           0 2017-11-07 17:55:12.054       102
17            1          KE           0 2017-11-07 14:49:47.206       309
18            1          KE           0 2017-11-07 11:23:16.042        59
19            2          KE           0 2017-11-07 11:15:46.826         9
20            2          KE           0 2017-11-07 11:15:28.387        12
21            3          KE           0 2017-11-07 03:55:04.869         0
22            2          KE           0 2017-11-06 17:50:11.901         5
23            2          KE           0 2017-11-06 16:17:45.288         3
24            2          KE           0 2017-11-06 16:16:51.313        10
25            2          KE           0 2017-11-06 16:16:37.942         0
26            1          KE           0 2017-11-06 12:56:16.004        19
27            2          KE           0 2017-11-06 04:49:16.822        22
28            2          KE           0 2017-11-06 04:32:53.218        17
29            2          KE           0 2017-11-06 04:32:49.189         0
...         ...         ...         ...                     ...       ...
2606          1          KE           0 2017-05-08 12:25:02.023        32
2607          1          KE           0 2017-05-08 12:19:46.062        45
2608          2          KE           0 2017-05-08 08:41:08.433        17
2609          2          KE           0 2017-05-08 07:23:23.024         0
2610          1          KE           0 2017-05-08 07:21:07.931        12
2611          2          KE           0 2017-05-08 07:17:42.579        22
2612          2          KE           0 2017-05-08 07:15:38.188        26
2613          2          KE           0 2017-05-08 06:59:49.821         7
2614          1          KE           0 2017-05-08 06:55:40.397        20
2615          2          KE           0 2017-05-08 06:50:47.415        69
2616          3          KE           0 2017-05-08 06:16:27.709         0
2617          2          KE           0 2017-05-08 05:21:51.924        15
2618          2          KE           0 2017-05-08 03:54:45.235        17
2619          2          KE           0 2017-05-07 19:08:02.980         0
2620          2          KE           0 2017-05-07 19:07:47.639         0
2621          2          KE           0 2017-05-07 18:40:29.613        62
2622          2          KE           0 2017-05-07 18:28:57.829       554
2623          2          KE           0 2017-05-07 18:19:09.267         0
2624          1          KE           0 2017-05-07 15:30:58.111        12
2625          2          KE           0 2017-05-07 15:04:11.583       112
2626          2          KE           0 2017-05-07 15:00:58.791        67
2627          2          KE           0 2017-05-07 15:00:01.593         0
2628          2          KE           0 2017-05-07 14:13:32.482         0
2629          2          KE           0 2017-05-07 14:00:38.876        22
2630          2          KE           0 2017-05-07 14:00:08.666         0
2631          3          KE           0 2017-05-07 13:59:49.209         0
2632          2          KE           0 2017-05-07 13:59:01.314         0
2633          2          KE           0 2017-05-07 13:56:22.693        19
2634          2          KE           0 2017-05-07 13:56:12.748         0
2635          2          KE           0 2017-05-07 13:55:53.841         0

      features_video  is_read  item_id   phone_number
0              False    False     3664  +254455142463
1              False    False     3663  +254455142463
2              False    False     3662  +254628445333
3              False    False     3661  +254248020005
4              False    False     3660  +254455142463
5              False    False     3659     0795993159
6              False    False     3658     0795993159
7              False    False     3657     0795993159
8              False    False     3656     0795993159
9              False    False     3655     0743886985
10             False    False     3654  +254248020005
11             False    False     3653  +254628445333
12             False    False     3652     0743886985
13             False    False     3651     0743886985
14             False    False     3650     0711850416
15             False     True     3649     0727907149
16             False    False     3648     0726975533
17             False    False     3647     0743886985
18             False    False     3637     0726975533
19             False    False     3636  +254628445333
20             False    False     3635  +254628445333
21             False     True     3634     0727907149
22             False    False     3633     0706932700
23             False    False     3632  +254979101474
24             False    False     3631  +254628445333
25             False    False     3630  +254628445333
26             False    False     3629     0727907149
27             False    False     3627  +254628445333
28             False    False     3626  +254628445333
29             False    False     3625  +254427787334
...              ...      ...      ...            ...
2606           False    False       73     0724518508
2607           False    False       72     0724518508
2608           False    False       71     0726696462
2609           False    False       70     0727920431
2610           False    False       69     0727750608
2611           False    False       68     0727750608
2612           False    False       67     0727750608
2613           False    False       66     0727920431
2614           False    False       65     0727920431
2615           False    False       64     0726696462
2616           False     True       63     0726696462
2617           False    False       62     0727920431
2618           False    False       61     0725376783
2619           False    False       60     0736786640
2620           False    False       59     0736786640
2621           False    False       58     0727750608
2622           False    False       57     0726450207
2623           False    False       56     0796084487
2624           False    False       55     0706958934
2625           False    False       54  +254628445333
2626           False    False       53  +254628445333
2627           False    False       52  +254628445333
2628           False    False       51  +254628445333
2629           False    False       50     0705250572
2630           False    False       49     0705250572
2631           False     True       48     0705250572
2632           False    False       47     0705250572
2633           False    False       46     0705250572
2634           False    False       45     0705250572
2635           False    False       44     0705250572

[2636 rows x 9 columns]
user-20         cached_name  call_type                datetime  duration  is_read  \
0     mama nyambati          3 2017-06-07 03:46:37.359         0     True
1       Aber joirad          2 2017-06-06 19:27:55.665         0    False
2       Aber joirad          2 2017-06-06 19:27:24.400         0    False
3            asssss          2 2017-06-06 19:10:05.862        12    False
4            asssss          2 2017-06-06 19:09:37.051         0    False
5            asssss          2 2017-06-06 19:09:19.400         0    False
6            asssss          1 2017-06-06 19:07:56.222        10    False
7      2013 to 2022          2 2017-06-06 17:32:41.384         0    False
8       dikson jokg          1 2017-06-06 17:17:36.643        11    False
9             de4ni          2 2017-06-06 17:04:57.592         0    False
10     2013 to 2022          2 2017-06-06 16:45:05.783       104    False
11     2013 to 2022          1 2017-06-06 16:43:58.353         1    False
12   Dikizon jokngi          2 2017-06-06 14:46:47.378         0    False
13      dikson jokg          3 2017-06-06 14:46:31.993         0     True
14    mabeta omoiwa          2 2017-06-06 14:40:16.439         0    False
15       bokedu bon          1 2017-06-06 14:34:30.404        10    False
16       bokedu bon          2 2017-06-06 14:33:46.520        13    False
17       bokedu bon          1 2017-06-06 14:32:53.713        44    False
18   Dikizon jokngi          2 2017-06-06 14:31:51.440         0    False
19   Dikizon jokngi          2 2017-06-06 14:30:25.535         0    False
20   Dikizon jokngi          2 2017-06-06 10:44:27.196         0    False
21   Dikizon jokngi          2 2017-06-06 10:30:00.240        53    False
22        EDI JANRO          1 2017-06-06 08:02:55.101        14    False
23        EDI JANRO          1 2017-06-06 07:51:43.486        35    False
24        EDI JANRO          1 2017-06-06 07:50:25.732        32    False
25     2013 to 2022          3 2017-06-05 17:04:36.563         0     True
26       bokedu bon          3 2017-06-05 16:29:37.482         0     True
27      Aber joirad          2 2017-06-05 16:20:22.528         0    False
28      Aber joirad          2 2017-06-05 16:20:06.637         4    False
29      Aber joirad          1 2017-06-05 16:06:02.051        11    False
..              ...        ...                     ...       ...      ...
867        sam okeo          2 2017-04-27 16:51:42.850         0    False
868        sam okeo          2 2017-04-27 16:51:37.927         0    False
869        sam okeo          2 2017-04-27 16:51:33.020         0    False
870        sam okeo          2 2017-04-27 16:51:28.737         0    False
871        sam okeo          2 2017-04-27 16:51:15.884         6    False
872        sam okeo          2 2017-04-27 16:51:07.193         0    False
873        sam okeo          2 2017-04-27 16:50:56.997         2    False
874              lv          2 2017-04-27 16:50:35.891         0    False
875        sam okeo          1 2017-04-27 16:31:02.109        19    False
876        sam okeo          1 2017-04-27 16:25:51.767        13    False
877            Afro          2 2017-04-27 10:58:44.455         8    False
878            Afro          3 2017-04-27 10:47:02.512         0     True
879            Afro          3 2017-04-27 10:31:44.131         0     True
880             NaN          2 2017-04-27 09:23:48.051       133    False
881             NaN          3 2017-04-27 06:23:05.453         0     True
882             ldy          2 2017-04-27 05:37:32.254       135    False
883           edinh          2 2017-04-27 05:07:55.847         0    False
884             NaN          2 2017-04-26 13:42:56.706         7    False
885             NaN          2 2017-04-26 13:42:48.510         0    False
886              lv          3 2017-04-26 13:11:30.154         0     True
887           Joyce          2 2017-04-26 13:00:12.962         0    False
888            Afro          3 2017-04-26 12:50:25.540         0     True
889          edinah          2 2017-04-26 11:41:50.699         0    False
890           edinh          2 2017-04-26 11:41:15.763         0    False
891           edinh          2 2017-04-26 10:56:49.513         0    False
892    aaasdxxxxxxx          2 2017-04-26 10:01:22.971        49    False
893    aaasdxxxxxxx          3 2017-04-26 09:43:09.947         0     True
894    aaasdxxxxxxx          3 2017-04-26 09:17:08.921         0     True
895             mor          2 2017-04-25 15:57:11.255         0    False
896        nyambati          2 2017-04-25 10:52:57.358        13    False

     item_id   phone_number
0      26307     0719076266
1      26305     0711843181
2      26304     0711843181
3      26303     0713007515
4      26302     0713007515
5      26301     0713007515
6      26300     0713007515
7      26299     0715599715
8      26298     0706726738
9      26297     0707756563
10     26296     0715599715
11     26295     0715599715
12     26294     0707709571
13     26293     0706726738
14     26292     0712446035
15     26291     0723149261
16     26290     0723149261
17     26289     0723149261
18     26288     0707709571
19     26287     0707709571
20     26284     0707709571
21     26283     0707709571
22     26282     0726770511
23     26281     0726770511
24     26280     0726770511
25     26238     0715599715
26     26235     0723149261
27     26232  +254745535236
28     26231     0711843181
29     26229     0711843181
..       ...            ...
867    24571     0715401948
868    24570     0715401948
869    24569     0715401948
870    24568     0715401948
871    24567     0715401948
872    24566     0715401948
873    24565     0715401948
874    24564     0729898142
875    24555     0715401948
876    24554     0715401948
877    24553     0723522750
878    24552     0723522750
879    24551     0723522750
880    24550     0791358255
881    24549     0791358255
882    24548     0725703073
883    24547     0797738026
884    24494  1414419723808
885    24493  1414419723808
886    24490     0729898142
887    24489     0796116729
888    24488     0723522750
889    24483  +254053279309
890    24482     0797738026
891    24475     0797738026
892    24473     0792782558
893    24471     0792782558
894    24469     0792782558
895    24466  +254990464988
896    24465  +254778943178

[897 rows x 7 columns]

user-21       call_type country_iso  data_usage                datetime  duration  \
0             2          KE           0 2017-11-05 19:12:11.661        27
1             2          KE           0 2017-11-05 19:10:35.065         0
2             1          KE           0 2017-11-05 14:56:29.457        42
3             2          KE           0 2017-11-05 12:36:51.701        61
4             1          KE           0 2017-11-05 11:20:11.423        55
5             2          KE           0 2017-11-05 10:58:42.939        34
6             2          KE           0 2017-11-05 10:41:54.312        15
7             2          KE           0 2017-11-05 10:40:45.040        22
8             2          KE           0 2017-11-05 10:39:35.974         3
9             2          KE           0 2017-11-05 10:38:46.841        26
10            1          KE           0 2017-11-05 10:19:32.412        42
11            1          KE           0 2017-11-05 10:11:08.420        56
12            2          KE           0 2017-11-05 09:42:37.645         0
13            2          KE           0 2017-11-05 09:42:20.162         0
14            1          KE           0 2017-11-05 09:40:54.990        19
15            2          KE           0 2017-11-05 09:25:33.811        40
16            2          KE           0 2017-11-05 09:24:41.771        18
17            3          KE           0 2017-11-05 09:19:50.419         0
18            3          KE           0 2017-11-05 09:13:14.421         0
19            3          KE           0 2017-11-05 08:45:57.453         0
20            1          KE           0 2017-11-05 08:05:33.433        29
21            1          KE           0 2017-11-05 06:41:29.405        41
22            1          KE           0 2017-11-05 06:29:31.411        13
23            2          KE           0 2017-11-05 06:21:12.435        20
24            2          KE           0 2017-11-05 06:15:35.991        15
25            2          KE           0 2017-11-05 06:13:04.657        33
26            2          KE           0 2017-11-05 06:11:00.378        19
27            2          KE           0 2017-11-05 06:05:08.448        21
28            1          KE           0 2017-11-05 06:04:47.409         8
29            3          KE           0 2017-11-05 05:49:28.428         0
...         ...         ...         ...                     ...       ...
4138          1          KE           0 2017-05-16 11:17:10.978        25
4139          1          KE           0 2017-05-16 11:07:58.233        18
4140          1          KE           0 2017-05-16 10:47:28.402        82
4141          1          KE           0 2017-05-16 10:45:40.775        26
4142          3          KE           0 2017-05-16 10:22:54.143         0
4143          1          KE           0 2017-05-16 10:03:57.670      1019
4144          1          KE           0 2017-05-16 09:52:26.158       144
4145          1          KE           0 2017-05-16 09:23:08.819        47
4146          2          KE           0 2017-05-16 07:05:46.478        24
4147          1          KE           0 2017-05-16 06:16:42.799        97
4148          1          KE           0 2017-05-16 04:35:48.629        24
4149          1          KE           0 2017-05-16 04:14:17.543        53
4150          3          KE           0 2017-05-16 04:05:29.948         0
4151          2          KE           0 2017-05-15 20:53:08.364        91
4152          1          KE           0 2017-05-15 20:43:33.538        12
4153          2          KE           0 2017-05-15 20:43:10.701         0
4154          2          KE           0 2017-05-15 20:10:55.344        84
4155          2          KE           0 2017-05-15 19:13:45.718         9
4156          2          KE           0 2017-05-15 19:00:44.170        59
4157          1          KE           0 2017-05-15 18:55:07.618        68
4158          2          KE           0 2017-05-15 18:50:22.541         0
4159          1          KE           0 2017-05-15 18:49:43.002         1
4160          2          KE           0 2017-05-15 18:32:32.213         0
4161          2          KE           0 2017-05-15 18:31:46.444         0
4162          2          KE           0 2017-05-15 18:09:22.128         0
4163          1          KE           0 2017-05-15 17:46:15.689         9
4164          1          KE           0 2017-05-15 17:05:55.594        26
4165          1          KE           0 2017-05-15 15:57:40.681        13
4166          2          KE           0 2017-05-15 15:45:49.173         0
4167          2          KE           0 2017-05-15 15:44:30.488         0

      features_video geocoded_location  is_read  item_id   phone_number
0              False             Kenya    False      543  +254302482339
1              False             Kenya    False      542  +254302482339
2              False             Kenya     True      541     0725096410
3              False             Kenya     True      540     0710399087
4              False             Kenya     True      539     0716652544
5              False             Kenya     True      538     0712739881
6              False             Kenya     True      537  +254871164393
7              False             Kenya     True      536  +254871164393
8              False             Kenya     True      535  +254157729747
9              False             Kenya     True      534  +254871164393
10             False             Kenya     True      533     0712739881
11             False             Kenya     True      532     0716652544
12             False             Kenya     True      531     0726294871
13             False             Kenya     True      530     0726294871
14             False             Kenya     True      529     0726294871
15             False             Kenya     True      528  +254871164393
16             False             Kenya     True      527     0712739881
17             False             Kenya     True      526     0712739881
18             False             Kenya     True      525     0724964512
19             False             Kenya     True      524     0706382686
20             False             Kenya     True      521     0712739881
21             False             Kenya     True      520     0724964512
22             False             Kenya     True      519     0724964512
23             False             Kenya     True      518     0724964512
24             False             Kenya     True      517     0724964512
25             False             Kenya     True      516     0724964512
26             False             Kenya     True      515     0724964512
27             False             Kenya     True      514     0724964512
28             False             Kenya     True      513     0724964512
29             False             Kenya     True      512     0717961024
...              ...               ...      ...      ...            ...
4138           False             Kenya     True    11167     0724111682
4139           False             Kenya     True    11166     0721374690
4140           False             Kenya     True    11165     0724111682
4141           False             Kenya     True    11164     0724111682
4142           False             Kenya     True    11163     0724111682
4143           False             Kenya     True    11162     0717961024
4144           False             Kenya     True    11161     0717961024
4145           False             Kenya     True    11160     0724111682
4146           False             Kenya     True    11159     0724297251
4147           False             Kenya     True    11158     0720012544
4148           False                       True    11157     0799405193
4149           False                       True    11156     0799405193
4150           False                       True    11155     0799405193
4151           False             Kenya     True    11154     0706382686
4152           False             Kenya     True    11153     0719645243
4153           False             Kenya     True    11152  +254905264721
4154           False             Kenya     True    11151  +254905264721
4155           False             Kenya     True    11150     0724111682
4156           False             Kenya     True    11149     0717961024
4157           False             Kenya     True    11148     0724111682
4158           False             Kenya     True    11147     0723536833
4159           False             Kenya     True    11146     0723536833
4160           False             Kenya     True    11145     0717961024
4161           False             Kenya     True    11144     0723536833
4162           False             Kenya     True    11143     0723536833
4163           False             Kenya     True    11142     0706382686
4164           False             Kenya     True    11141     0724111682
4165           False             Kenya     True    11140     0719294422
4166           False             Kenya     True    11139     0723952172
4167           False             Kenya     True    11138     0713080457

[4168 rows x 10 columns]
user-22        cached_name  call_type                datetime  duration  item_id  \
0     Dickson Yr 2          1 2018-03-28 09:21:55.090        35        0
1    Swampland Man          1 2017-05-31 08:32:00.270        56      499
2        Sis You 2          1 2017-05-31 05:13:32.020        45      498
3              Dad          1 2017-05-30 18:18:22.360       190      497
4         Muchangi          1 2017-05-30 18:15:22.909       112      496
5              Dad          2 2017-05-30 18:14:56.370         1      495
6         Muchangi          2 2017-05-30 18:14:29.527         0      494
7              BRO          2 2017-05-30 18:13:18.513         0      493
8    Swampland Man          1 2017-05-30 18:07:19.069        94      492
9          Goretti          2 2017-05-30 13:22:26.042       236      491
10         mary G.          2 2017-05-30 13:21:52.164         3      490
11         joy kar          2 2017-05-30 13:19:17.662        54      489
12            joan          2 2017-05-30 13:19:03.492         0      488
13     Alice Swamp          2 2017-05-30 13:18:38.658         0      487
14     Alice Swamp          2 2017-05-30 13:18:25.479         0      486
15             MUM          2 2017-05-30 08:34:12.677       293      485
16           MUM 2          2 2017-05-30 08:31:33.100         0      484
17     Jenny Swamp          1 2017-05-30 07:57:16.132       415      483
18   Denno Swamp 2          1 2017-05-30 07:49:10.796       155      482
19   Denno Swamp 2          2 2017-05-30 07:45:44.456       168      481
20        Muchangi          2 2017-05-30 07:40:11.966        91      480
21   Denno Swamp 2          2 2017-05-30 05:18:22.859         0      479
22   Denno Swamp 2          2 2017-05-30 04:57:09.514         0      478
23     Denno Swamp          2 2017-05-30 04:56:55.785         0      477
24   Denno Swamp 2          2 2017-05-30 04:56:37.955         0      476
25   Denno Swamp 2          2 2017-05-30 04:56:29.204         0      475
26   Denno Swamp 2          1 2017-05-30 04:54:52.079        59      474
27     Jenny Swamp          2 2017-05-30 04:10:08.995         0      473
28   Denno Swamp 2          2 2017-05-30 04:08:53.377         0      472
29     Jenny Swamp          2 2017-05-30 04:08:14.215         0      471
..             ...        ...                     ...       ...      ...
470            NaN          3 2017-04-28 17:19:59.419         0       30
471          Peris          2 2017-04-28 11:25:40.415        71       29
472    Alice Swamp          2 2017-04-28 05:29:08.066        31       28
473    Alice Swamp          3 2017-04-28 05:28:25.446         0       27
474          Peris          2 2017-04-28 04:31:57.289         0       26
475          Peris          2 2017-04-28 04:30:19.363         0       25
476          Peris          2 2017-04-28 04:29:10.548         0       23
477          Peris          2 2017-04-28 04:29:07.421        36       24
478          Peris          1 2017-04-28 04:28:25.370         1       22
479          Peris          3 2017-04-28 04:27:47.885         0       21
480      Sis You 2          1 2017-04-27 18:28:00.903       173       20
481      Sis You 2          1 2017-04-27 18:24:30.514       129       19
482     Kegoli D.2          1 2017-04-27 18:17:27.362         0       18
483    Mwangi Agbm          1 2017-04-27 13:37:25.772        18       17
484   Newton Agbm.          1 2017-04-27 12:13:42.274         0       16
485     Kegoli D.2          2 2017-04-27 07:51:29.165         0       15
486     Magda Chep          2 2017-04-27 07:50:39.109         0       13
487     Magda Chep          2 2017-04-27 07:50:33.840         0       14
488     Kegoli D.2          2 2017-04-27 07:49:58.197         2       12
489     Magda Chep          2 2017-04-27 07:49:26.598         1       11
490   Newton Agbm.          2 2017-04-27 07:49:04.158         0       10
491            Dad          1 2017-04-26 17:45:09.289       150        9
492            Dad          2 2017-04-26 17:31:56.154         0        8
493        Faith 2          1 2017-04-26 14:50:35.935        15        7
494   Newton Agbm.          1 2017-04-26 10:58:31.415         9        6
495   Newton Agbm.          1 2017-04-26 10:33:21.039        24        5
496        Faith 2          1 2017-04-26 08:25:18.424        36        4
497   Newton Agbm.          1 2017-04-26 05:01:22.563        37        3
498        joy kar          2 2017-04-25 17:23:38.009        35        2
499        joy kar          1 2017-04-25 17:22:32.052         5        1

      phone_number
0       0719592712
1       0721475038
2       0725961651
3       0725171293
4       0701718014
5       0725171293
6       0701718014
7       0711785494
8       0721475038
9    +254894379893
10   +254444139359
11      0713777076
12      0710869460
13      0701298537
14      0701298537
15      0727983314
16      0737958474
17      0724183857
18      0701942899
19   +254497910382
20      0701718014
21   +254497910382
22   +254497910382
23      0729266326
24   +254497910382
25   +254497910382
26      0701942899
27      0724183857
28      0701942899
29      0724183857
..             ...
470     0750125213
471     0715840901
472     0701298537
473     0701298537
474     0715840901
475     0715840901
476     0715840901
477     0715840901
478     0715840901
479     0715840901
480     0725961651
481     0725961651
482     0797506980
483     0703417036
484     0723250386
485     0797506980
486     0703953798
487     0703953798
488     0797506980
489     0703953798
490     0723250386
491     0725171293
492     0725171293
493     0718754516
494     0723250386
495     0723250386
496     0718754516
497     0723250386
498     0713777076
499     0713777076

[500 rows x 6 columns]
user-23     cached_name  call_type                datetime  duration  is_read  \
0        Betika          1 2017-07-12 16:29:33.648         7    False
1        Betika          2 2017-07-12 16:15:21.394        10    False
2           Non          2 2017-07-12 11:29:07.655         0    False
3           Non          2 2017-07-12 11:28:11.884         5    False
4      Mwangi 2          1 2017-07-11 16:28:54.613        11    False
5      Mwangi 2          3 2017-07-11 16:18:25.839         0     True
6         Kanye          1 2017-07-11 09:26:37.960         8    False
7           NaN          2 2017-07-10 18:12:51.853         0    False
8           NaN          2 2017-07-10 17:46:15.133         0    False
9           Dev          2 2017-07-10 17:44:25.481        35    False
10          NaN          3 2017-07-10 17:42:54.579         0     True
11          NaN          2 2017-07-10 17:20:31.093        16    False
12         Shem          2 2017-07-10 17:18:46.571        31    False
13          NaN          1 2017-07-10 17:17:36.402        20    False
14          NaN          1 2017-07-10 16:41:00.622        33    False
15          NaN          2 2017-07-10 16:26:30.186         0    False
16          NaN          2 2017-07-10 16:25:27.477         0    False
17          NaN          1 2017-07-10 15:57:38.596        13    False
18          NaN          3 2017-07-10 15:47:05.647         0     True
19          NaN          2 2017-07-10 15:35:40.651        25    False
20      Wauga 2          2 2017-07-10 10:12:29.345        14    False
21      Wauga 2          3 2017-07-10 09:59:02.391         0     True
22      Wauga 2          3 2017-07-10 09:56:05.106         0     True
23      Wauga 2          2 2017-07-10 09:49:29.480         0    False
24          NaN          3 2017-07-07 09:07:19.102         0     True
25      Ongays'          1 2017-07-06 13:40:27.683        43    False
26         AuRa          1 2017-07-06 11:16:44.689         4    False
27      Steve K          1 2017-07-06 09:17:07.949        24    False
28          GbC          2 2017-07-06 07:57:01.686        32    False
29          GbC          3 2017-07-06 07:26:51.748         0     True
..          ...        ...                     ...       ...      ...
242     Meshach          2 2017-05-27 07:24:01.618         0    False
243         NaN          1 2017-05-27 07:01:00.224        13    False
244      George          3 2017-05-27 06:24:16.982         0     True
245      DaDy 1          2 2017-05-27 04:55:35.864        46    False
246         NaN          1 2017-05-26 18:38:55.617       138    False
247      DaDy 1          2 2017-05-26 18:26:04.792         0    False
248         NaN          1 2017-05-26 18:21:27.209        80    False
249         NaN          1 2017-05-26 18:12:46.448        14    False
250      DaDy 1          1 2017-05-26 17:08:12.883        52    False
251      DaDy 1          2 2017-05-26 17:04:17.728         0    False
252         NaN          1 2017-05-26 16:50:32.302        33    False
253         NaN          1 2017-05-26 16:40:49.610         0    False
254         NaN          3 2017-05-26 16:22:11.562         0     True
255         NaN          3 2017-05-26 16:21:19.696         0     True
256  Alan Wenga          2 2017-05-26 10:56:57.459         0    False
257         NaN          1 2017-05-26 09:41:28.306         0    False
258         NaN          2 2017-05-26 09:39:55.738         0    False
259         NaN          3 2017-05-26 07:30:08.226         0     True
260       Derro          2 2017-05-26 05:57:59.746        27    False
261       Derro          3 2017-05-26 05:37:07.619         0     True
262       Derro          2 2017-05-26 03:44:25.910         0    False
263         NaN          2 2017-05-25 19:20:53.508         0    False
264         NaN          2 2017-05-25 19:20:35.310         0    False
265         NaN          2 2017-05-25 19:20:21.612         0    False
266         NaN          1 2017-05-25 15:30:44.485        27    False
267       Derro          1 2017-05-25 14:29:28.727        34    False
268       Wauga          2 2017-05-25 14:16:53.487         0    False
269  Alan Wenga          2 2017-05-25 14:01:15.461        24    False
270        Mato          1 2017-05-25 13:54:46.745         5    False
271        Mato          1 2017-05-25 13:51:31.468         8    False

     item_id   phone_number
0       6290     0713816904
1       6289  +254497982395
2       6288  +254895676974
3       6287  +254895676974
4       6286     0705208289
5       6285     0705208289
6       6284     0740973317
7       6283  +254212650196
8       6282     0705694393
9       6281  +254971610518
10      6280     0705694393
11      6279     0711795569
12      6278     0700464012
13      6277     0711795569
14      6276     0711795569
15      6275     0711795569
16      6274     0711795569
17      6273     0705208289
18      6272     0705208289
19      6271  +254299689028
20      6270     0708464297
21      6269     0708464297
22      6268     0708464297
23      6267     0708464297
24      6266     0740973317
25      6265     0701333114
26      6264     0716123171
27      6263     0706404108

user-24        cached_name  call_type country_iso  data_usage                datetime  \
0            HARUN          2          KE           0 2017-11-26 16:29:44.134
1      MUIRURI KBP          1          KE           0 2017-11-26 16:23:57.419
2            HARUN          1          KE           0 2017-11-26 16:19:53.435
3              NaN          1          KE           0 2017-11-26 16:15:45.036
4              NaN          2          KE           0 2017-11-26 16:12:58.304
5      MUIRURI KBP          1          KE           0 2017-11-26 15:53:56.059
6            HARUN          1          KE           0 2017-11-26 15:27:41.094
7            J K 2          2          KE           0 2017-11-26 14:15:41.470
8              NaN          2          KE           0 2017-11-26 14:04:32.054
9              NaN          2          KE           0 2017-11-26 10:02:00.373
10             NaN          2          KE           0 2017-11-26 08:34:06.012
11      0717462331          2          KE           0 2017-11-26 07:37:42.161
12             NaN          2          KE           0 2017-11-26 07:19:49.346
13             MUM          2          KE           0 2017-11-26 06:05:44.443
14       KURIA MIK          1          KE           0 2017-11-26 04:46:53.096
15           MBURU          2          KE           0 2017-11-25 19:17:51.609
16           MBURU          3          KE           0 2017-11-25 19:13:56.084
17         KABAIKO          2          KE           0 2017-11-25 18:27:27.752
18         KABAIKO          1          KE           0 2017-11-25 18:22:55.042
19         KABAIKO          2          KE           0 2017-11-25 18:14:18.469
20             T V          2          KE           0 2017-11-25 18:05:32.323
21         KABAIKO          2          KE           0 2017-11-25 17:58:53.576
22         KABAIKO          2          KE           0 2017-11-25 17:54:32.152
23             NaN          2          KE           0 2017-11-25 17:53:21.844
24         KABAIKO          2          KE           0 2017-11-25 17:49:43.986
25         KABAIKO          2          KE           0 2017-11-25 17:49:04.010
26         KABAIKO          2          KE           0 2017-11-25 17:48:21.608
27           MBURU          2          KE           0 2017-11-25 17:41:44.697
28         KABAIKO          2          KE           0 2017-11-25 17:23:38.232
29         KABAIKO          2          KE           0 2017-11-25 17:16:04.342
...            ...        ...         ...         ...                     ...
2815   DAD KARABUI          2          KE           0 2017-05-24 14:39:16.408
2816  SAMMY KANINI          2          KE           0 2017-05-24 13:49:12.000
2817   0715 888500          2          KE           0 2017-05-24 13:48:24.032
2818           NaN          2          KE           0 2017-05-24 13:35:43.111
2819     MUCHINA 2          2          KE           0 2017-05-24 13:33:57.570
2820     MUCHINA 2          2          KE           0 2017-05-24 13:33:32.936
2821  SAMMY KANINI          2          KE           0 2017-05-24 13:31:46.839
2822  SAMMY KANINI          2          KE           0 2017-05-24 13:31:08.428
2823  SAMMY KANINI          2          KE           0 2017-05-24 13:30:53.980
2824   WA CIRU KIM          2          KE           0 2017-05-24 13:29:45.572
2825    CHEGE SONY          2          KE           0 2017-05-24 13:28:55.493
2826  SAMMY KANINI          2          KE           0 2017-05-24 13:27:28.835
2827  SAMMY KANINI          1          KE           0 2017-05-24 13:24:55.075
2828  SAMMY KANINI          2          KE           0 2017-05-24 12:57:00.531
2829          MILO          3          KE           0 2017-05-24 12:53:53.306
2830  SAMMY KANINI          2          KE           0 2017-05-24 12:53:30.468
2831  SAMMY KANINI          2          KE           0 2017-05-24 12:53:01.387
2832           NaN          2          KE           0 2017-05-24 12:51:47.688
2833           NaN          2          KE           0 2017-05-24 12:38:49.269
2834       GICHUHI          2          KE           0 2017-05-24 12:32:20.134
2835       GICHUHI          2          KE           0 2017-05-24 12:31:32.507
2836           NaN          2          KE           0 2017-05-24 12:07:44.753
2837           NaN          2          KE           0 2017-05-24 12:07:06.685
2838           NaN          3          KE           0 2017-05-24 11:46:29.122
2839   0715 888500          2          KE           0 2017-05-24 11:00:23.569
2840         MADVD          2          KE           0 2017-05-24 10:40:32.938
2841         MADVD          1          KE           0 2017-05-24 10:34:15.035
2842         MADVD          1          KE           0 2017-05-24 10:28:14.035
2843           NaN          3          KE           0 2017-05-24 10:24:20.045
2844         MADVD          3          KE           0 2017-05-24 10:17:49.578

      duration  features_video geocoded_location  is_read  item_id  \
0           14           False             Kenya    False    42012
1           12           False             Kenya    False    42011
2           67           False             Kenya    False    42010
3           24           False                      False    42009
4            0           False                      False    42008
5           10           False             Kenya    False    42007
6           84           False             Kenya    False    42006
7           40           False             Kenya    False    42005
8           27           False             Kenya    False    42004
9           13           False             Kenya    False    42003
10           8           False             Kenya    False    42002
11          17           False             Kenya    False    42001
12          14           False             Kenya    False    42000
13           6           False             Kenya    False    41999
14          16           False             Kenya    False    41998
15          72           False             Kenya    False    41997
16           0           False             Kenya     True    41996
17          13           False             Kenya    False    41995
18          23           False             Kenya    False    41994
19           0           False             Kenya    False    41993
20           3           False                      False    41992
21           0           False             Kenya    False    41991
22           0           False             Kenya    False    41990
23           4           False    United Kingdom    False    41989
24           0           False             Kenya    False    41988
25          18           False             Kenya    False    41987
26           0           False             Kenya    False    41986
27          27           False             Kenya    False    41985
28          27           False             Kenya    False    41984
29           0           False             Kenya    False    41983
...        ...             ...               ...      ...      ...
2815        33           False             Kenya    False    29402
2816         0           False             Kenya    False    29401
2817        16           False             Kenya    False    29400
2818         0           False             Kenya    False    29399
2819         0           False             Kenya    False    29398
2820         0           False             Kenya    False    29397
2821        49           False             Kenya    False    29396
2822         0           False             Kenya    False    29395
2823         0           False             Kenya    False    29394
2824        21           False             Kenya    False    29393
2825        11           False             Kenya    False    29392
2826        34           False             Kenya    False    29391
2827        55           False             Kenya    False    29390
2828         0           False             Kenya    False    29389
2829         0           False             Kenya     True    29388
2830         0           False             Kenya    False    29387
2831         0           False             Kenya    False    29386
2832         0           False                      False    29385
2833         0           False                      False    29384
2834         0           False             Kenya    False    29383
2835         0           False             Kenya    False    29382
2836         0           False                      False    29381
2837         0           False                      False    29380
2838         0           False                       True    29376
2839        24           False             Kenya    False    29373
2840        20           False                      False    29372
2841         0           False                      False    29371
2842         0           False                      False    29370
2843         0           False                       True    29369
2844         0           False                       True    29368

      phone_number
0        716106098
1        716802084
2        716106098
3        790752753
4        790752753
5        716802084
6        716106098
7        725011778
8        715468905
9        715468905
10       717321115
11       717057064
12       710301504
13       723023346
14       720332729
15       710565663
16       710565663
17       715263479
18       715263479
19       715263479
20    254345746257
21       715263479
22       715263479
23    447357482034
24       715263479
25       715263479
26       715263479
27       710565663
28       715263479
29       715263479
...            ...
2815     723955753
2816     726664958
2817     715468905
2818     722008337
2819     728740275
2820     728740275
2821     726664958
2822     726664958
2823     726664958
2824     727610072
2825     724207186
2826     726664958
2827     726664958
2828     726664958
2829     706190100
2830     726664958
2831     726664958
2832     764673602
2833     799645177
2834     720402087
2835     720402087
2836     799645177
2837     799645177
2838     799645177
2839     715468905
2840     798341662
2841     798341662
2842     798341662
2843     790752753
2844     798341662

[2845 rows x 11 columns]
user-25         cached_name  call_type                datetime  duration  is_read  \
0    Phama  Inchrge          1 2017-09-24 13:17:02.312        51    False
1    Phama  Inchrge          1 2017-09-24 11:10:07.761        34    False
2                Sp          1 2017-09-24 10:34:48.173        20    False
3                Sp          3 2017-09-24 10:20:45.967         0     True
4                Sp          3 2017-09-24 10:14:05.070         0     True
5              Hila          2 2017-09-24 10:12:25.958         0     True
6        C.E.O VINN          2 2017-09-24 08:24:01.596         7     True
7        C.E.O VINN          2 2017-09-24 08:23:44.539         0     True
8        C.E.O VINN          3 2017-09-24 08:19:52.227         0     True
9             Stevo          2 2017-09-23 20:25:12.794        16     True
10          Clinton          1 2017-09-23 20:18:41.459        43     True
11          Clinton          1 2017-09-23 20:15:15.880        20     True
12          Clinton          1 2017-09-23 20:12:54.945        13     True
13          Clinton          1 2017-09-23 20:04:01.308        42     True
14       C.E.O VINN          1 2017-09-23 17:03:38.847        13     True
15          CHRISTN          2 2017-09-23 12:55:17.638        18    False
16          CHRISTN          3 2017-09-23 12:45:54.781         0     True
17       C.E.O VINN          2 2017-09-23 11:18:08.727        94     True
18       C.E.O VINN          1 2017-09-23 10:56:31.437        12     True
19          CHRISTN          1 2017-09-23 10:27:08.110        23     True
20          CHRISTN          1 2017-09-23 10:24:51.180         6     True
21          CHRISTN          1 2017-09-23 10:17:07.213        12     True
22             Daic          2 2017-09-23 07:23:35.818        72     True
23             Daic          2 2017-09-23 07:23:09.268         0     True
24       C.E.O VINN          2 2017-09-23 05:59:03.220         0     True
25             TYMO          3 2017-09-22 17:15:29.181         0     True
26       C.E.O VINN          1 2017-09-22 16:35:44.849        34     True
27      Daic orange          2 2017-09-22 16:33:55.250         7     True
28             Daic          2 2017-09-22 16:32:12.694         0     True
29             Daic          2 2017-09-22 16:30:11.448         0     True
..              ...        ...                     ...       ...      ...
668         LESINGO          1 2017-08-13 16:41:29.116        64     True
669          mwaura          1 2017-08-13 14:57:26.916        76     True
670           Elude          2 2017-08-13 06:27:09.209        13     True
671           Elude          2 2017-08-13 06:26:41.124         0     True
672           Elude          3 2017-08-13 06:25:49.768         0     True
673            Alex          2 2017-08-12 17:42:40.092       183     True
674    EZEKIEL APOI          2 2017-08-12 17:37:18.116        72     True
675    EZEKIEL APOI          1 2017-08-12 17:35:15.018        95     True
676           Veroh          2 2017-08-12 17:30:01.815       123     True
677             NaN          2 2017-08-11 22:14:43.858         0     True
678            Alex          3 2017-08-11 20:24:26.291         0     True
679           Kytee          2 2017-08-11 18:14:08.037         0     True
680           Kytee          3 2017-08-11 17:26:06.592         0     True
681           GORGY          1 2017-08-11 17:17:49.972        13     True
682           GORGY          3 2017-08-11 17:17:03.909         0     True
683    EZEKIEL APOI          2 2017-08-11 16:26:23.805         0     True
684    EZEKIEL APOI          1 2017-08-11 16:25:28.877        44     True
685     Verol Ornge          1 2017-08-11 12:39:09.934       126     True
686        Sp Aitel          1 2017-08-11 10:19:45.931       112     True
687           Korir          3 2017-08-11 06:48:45.669         0     True
688             NaN          2 2017-08-10 18:20:47.761         0     True
689           Elude          2 2017-08-10 18:20:34.709         0     True
690         CHRISTN          1 2017-08-10 18:06:32.502         9     True
691     Verol Ornge          1 2017-08-10 17:27:54.000      1637     True
692           Veroh          2 2017-08-10 16:06:26.706        10     True
693     Verol Ornge          3 2017-08-10 15:43:49.395         0     True
694           Korir          1 2017-08-10 12:21:14.870         9     True
695           Veroh          2 2017-08-09 19:18:37.539       144     True
696           Veroh          2 2017-08-09 19:18:13.497         0     True
697           Doriz          2 2017-08-09 17:42:32.475       340     True

     item_id   phone_number
0       4433     0728770438
1       4432     0728770438
2       4431     0710001899
3       4430     0710001899
4       4429     0710001899
5       4428  +254690874968
6       4424  +254419356932
7       4423  +254419356932
8       4421     0717476740
9       4417  +254799372668
10      4416     0718916746
11      4415     0718916746
12      4414     0718916746
13      4413     0718916746
14      4410     0717476740
15      4399     0728578599
16      4395     0728578599
17      4392  +254419356932
18      4390     0717476740
19      4389     0728578599
20      4388     0728578599
21      4387     0728578599
22      4383  +254193750635
23      4382  +254193750635
24      4378     0717476740
25      4367     0718619692
26      4364     0717476740
27      4363     0774225222
28      4362  +254193750635
29      4361  +254193750635
..       ...            ...
668     2009     0705160091
669     2008     0713873559
670     1998     0729471186
671     1996     0729471186
672     1994     0729471186
673     1990     0704525726
674     1989     0721714569
675     1988     0721714569
676     1987  +254970521701
677     1899  +254399928783
678     1910     0704525726
679     1893  +254785847363
680     1889     0797495655
681     1887     0718974799
682     1885     0718974799
683     1883     0721714569
684     1882     0721714569
685     1871     0775272852
686     1869     0735428632
687     1862     0740897695
688     1838     0717860897
689     1837  +254558622372
690     1834     0728578599
691     1833     0775272852
692     1832  +254970521701
693     1831     0775272852
694     1827     0740897695
695     1801     0716959398
696     1800     0716959398
697     1799  +254235283096

[698 rows x 7 columns]

user-26      call_type country_iso  data_usage                datetime  duration  \
0            2          KE           0 2017-05-22 11:21:28.149         0
1            3          KE           0 2017-05-22 11:11:01.686         0
2            1          KE           0 2017-05-21 11:57:41.401        24
3            3          KE           0 2017-05-21 11:43:02.264         0
4            3          KE           0 2017-05-21 10:02:52.316         0
5            3          KE           0 2017-05-21 09:49:14.617         0
6            2          KE           0 2017-05-21 07:02:47.267         5
7            1          KE           0 2017-05-21 06:43:17.815        37
8            1          KE           0 2017-05-21 06:36:45.006       352
9            1          KE           0 2017-05-21 05:41:23.528       149
10           1          KE           0 2017-05-20 19:32:36.504        25
11           1          KE           0 2017-05-20 19:29:28.066       166
12           1          US           0 2017-05-20 18:57:39.493         0
13           1          KE           0 2017-05-20 18:55:01.567       135
14           1          KE           0 2017-05-20 18:04:23.957         0
15           1          KE           0 2017-05-20 18:04:11.244         0
16           1          KE           0 2017-05-20 18:03:48.858         0
17           1          KE           0 2017-05-20 11:17:27.124        24
18           2          KE           0 2017-05-20 11:15:54.492         3
19           2          KE           0 2017-05-19 19:57:39.321         0
20           2          KE           0 2017-05-19 19:57:12.638         6
21           2          KE           0 2017-05-19 19:55:15.079        77
22           2          KE           0 2017-05-19 18:35:52.670         0
23           2          KE           0 2017-05-19 17:29:54.307         0
24           2          KE           0 2017-05-19 17:29:42.139         0
25           2          KE           0 2017-05-19 17:29:29.193         0
26           2          KE           0 2017-05-19 17:17:17.184         7
27           2          KE           0 2017-05-19 17:16:48.515         0
28           2          KE           0 2017-05-19 17:14:57.227         0
29           2          KE           0 2017-05-19 17:06:59.401         0
..         ...         ...         ...                     ...       ...
476          2          KE           0 2017-04-15 15:34:31.263         2
477          2          KE           0 2017-04-15 15:31:35.294         0
478          2          KE           0 2017-04-15 15:22:03.037         0
479          3          KE           0 2017-04-15 15:17:10.569         0
480          2          KE           0 2017-04-15 15:15:07.811         0
481          2          KE           0 2017-04-15 13:14:43.086        59
482          2          KE           0 2017-04-15 13:07:21.913         0
483          1          KE           0 2017-04-15 12:15:28.356        24
484          2          KE           0 2017-04-13 19:42:15.440        26
485          2          KE           0 2017-04-13 18:32:40.475       264
486          2          KE           0 2017-04-13 17:47:38.261         0
487          2          KE           0 2017-04-13 17:47:16.913         0
488          3          KE           0 2017-04-13 17:31:23.029         0
489          1          KE           0 2017-04-13 17:09:19.310        42
490          2          KE           0 2017-04-12 13:12:18.451         0
491          2          KE           0 2017-04-12 12:51:09.004         0
492          3          KE           0 2017-04-12 12:50:48.194         0
493          3          KE           0 2017-04-12 12:44:14.824         0
494          2          KE           0 2017-04-12 12:35:58.215         0
495          2          KE           0 2017-04-12 11:13:36.458         0
496          2          KE           0 2017-04-12 11:11:07.673         0
497          2          KE           0 2017-04-12 10:47:37.436         0
498          2          KE           0 2017-04-12 10:46:54.857         0
499          3          KE           0 2017-04-12 10:07:33.193         0
500          1          KE           0 2017-04-12 10:06:46.204        14
501          3          KE           0 2017-04-12 10:06:27.632         0
502          2          KE           0 2017-04-12 09:11:09.625         0
503          2          KE           0 2017-04-12 09:06:58.875         2
504          2          KE           0 2017-04-12 09:00:37.941         0
505          2          KE           0 2017-04-12 08:19:40.195         0

     features_video  is_read  item_id      phone_number
0             False    False     1777        0705695710
1             False     True     1776        0705695710
2             False    False     1775        0700635810
3             False     True     1774        0700635810
4             False     True     1773        0725539158
5             False     True     1772        0725539158
6             False    False     1771        0726955589
7             False    False     1770        0790691655
8             False    False     1769        0790691655
9             False    False     1768        0776432497
10            False    False     1767        0796227963
11            False    False     1766        0796227963
12            False    False     1765        0796227963
13            False    False     1764        0796227963
14            False    False     1763        0796227963
15            False    False     1762        0796227963
16            False    False     1761        0796227963
17            False    False     1760        0721876987
18            False    False     1759     +254653852224
19            False    False     1758        0797429862
20            False    False     1757        0797429862
21            False    False     1756        0797429862
22            False    False     1755        0798096914
23            False    False     1754        0707182128
24            False    False     1753        0707182128
25            False    False     1752        0707182128
26            False    False     1751        0799352393
27            False    False     1750        0740246719
28            False    False     1749     +254805275133
29            False    False     1748     +254805275133
..              ...      ...      ...               ...
476           False    False     1301     +254757579322
477           False    False     1300        0705974579
478           False    False     1299     +254923588564
479           False     True     1298        0797436726
480           False    False     1297     +254030777920
481           False    False     1296        0705069533
482           False    False     1295        0705069533
483           False    False     1294        0700310549
484           False    False     1293     +254781752141
485           False    False     1292     +254781752141
486           False    False     1291     +254075233166
487           False    False     1290        0796837342
488           False     True     1289        0718673087
489           False    False     1288        0718360930
490           False    False     1287     +254075233166
491           False    False     1286        0792528027
492           False     True     1285        0707751463
493           False     True     1284        0707751463
494           False    False     1283        0700310549
495           False    False     1282     +254295550175
496           False    False     1281     +254295550175
497           False    False     1280     +254295550175
498           False    False     1279  +254740876426864
499           False     True     1278        0702743654
500           False    False     1277        0702743654
501           False     True     1276        0702743654
502           False    False     1275     +254923588564
503           False    False     1274     +254075233166
504           False    False     1273     +254295550175
505           False    False     1272        0797429862

[506 rows x 9 columns]
user-27       cached_name  call_type country_iso  data_usage                datetime  \
0             NaN          1          KE           0 2017-11-10 02:40:04.069
1      Titus Muia          1          KE           0 2017-11-09 19:32:18.276
2           Aytan          2          KE           0 2017-11-09 18:32:09.957
3     Baba Marion          2          KE           0 2017-11-09 17:50:57.951
4     Mama Marion          2          KE           0 2017-11-09 17:50:41.153
5           Aytan          2          KE           0 2017-11-09 17:35:59.949
6           Aytan          1          KE           0 2017-11-09 17:32:26.172
7           Aytan          1          KE           0 2017-11-09 15:43:06.724
8     Andrew KiNg          2          KE           0 2017-11-09 14:38:12.645
9     Andrew KiNg          3          KE           0 2017-11-09 14:36:24.375
10          Aytan          2          KE           0 2017-11-09 14:33:20.152
11     Vicky Cuzo          2          KE           0 2017-11-09 09:23:03.273
12     Vicky Cuzo          2          KE           0 2017-11-09 09:20:26.797
13          Aytan          1          KE           0 2017-11-09 07:15:07.721
14          Aytan          2          KE           0 2017-11-09 07:14:12.562
15            NaN          1          KE           0 2017-11-09 05:22:51.292
16          Aytan          1          KE           0 2017-11-08 19:05:51.211
17        Monicah          1          KE           0 2017-11-08 18:30:18.513
18    Andrew KiNg          1          KE           0 2017-11-08 17:58:54.587
19          Aytan          2          KE           0 2017-11-08 17:39:54.275
20           Dad2          1          KE           0 2017-11-08 17:18:47.410
21           Dad2          1          KE           0 2017-11-08 16:52:39.355
22           Dad2          2          KE           0 2017-11-08 16:51:53.847
23          Aytan          1          KE           0 2017-11-08 16:50:22.339
24           Dad2          3          KE           0 2017-11-08 16:38:44.507
25          Aytan          1          KE           0 2017-11-08 15:24:50.836
26     Vicky Cuzo          2          KE           0 2017-11-08 13:58:17.642
27     Vicky Cuzo          2          KE           0 2017-11-08 13:57:33.844
28           Dad2          1          KE           0 2017-11-08 11:29:36.789
29           Dad2          1          KE           0 2017-11-08 11:28:21.975
...           ...        ...         ...         ...                     ...
3701          NaN          2          KE           0 2017-05-31 05:05:28.745
3702        Aytan          1          KE           0 2017-05-30 14:14:42.496
3703          Dad          1          KE           0 2017-05-30 13:12:30.994
3704     Max Real          1          KE           0 2017-05-30 13:07:09.405
3705          Dad          2          KE           0 2017-05-30 13:04:44.821
3706        Aytan          2          KE           0 2017-05-30 12:33:45.435
3707         Proj          2          KE           0 2017-05-30 10:02:04.436
3708          NaN          2          KE           0 2017-05-30 03:10:10.279
3709        Aytan          2          KE           0 2017-05-30 03:04:36.379
3710    Steph BCA          2          KE           0 2017-05-29 18:59:25.601
3711          Dad          2          KE           0 2017-05-29 18:10:49.622
3712          Dad          2          KE           0 2017-05-29 18:10:35.330
3713          Dad          3          KE           0 2017-05-29 18:00:57.574
3714        Aytan          2          KE           0 2017-05-29 13:15:04.785
3715        Aytan          2          KE           0 2017-05-29 13:14:55.005
3716        Aytan          1          KE           0 2017-05-29 13:13:28.554
3717        Elvis          1          KE           0 2017-05-29 08:21:52.444
3718   0704246213          2          KE           0 2017-05-28 13:46:09.787
3719          NaN          2          KE           0 2017-05-28 13:45:13.334
3720          Dad          2          KE           0 2017-05-28 08:31:19.874
3721          Dad          2          KE           0 2017-05-28 08:17:03.912
3722    Deno New1          1          KE           0 2017-05-27 17:26:08.977
3723    Deno New1          1          KE           0 2017-05-27 17:25:39.265
3724    Deno New1          1          KE           0 2017-05-27 17:18:02.185
3725       Philip          2          KE           0 2017-05-27 14:40:47.371
3726       Philip          2          KE           0 2017-05-27 14:37:57.766
3727       Philip          2          KE           0 2017-05-27 14:29:16.626
3728     Max Real          2          KE           0 2017-05-27 11:19:34.008
3729   Carol Wats          2          KE           0 2017-05-27 10:19:04.692
3730   Carol Wats          2          KE           0 2017-05-27 10:17:51.325

      duration  features_video geocoded_location  is_read  item_id  \
0           16           False             Kenya    False     4228
1           59           False             Kenya    False     4227
2         1076           False             Kenya    False     4226
3           36           False             Kenya    False     4225
4            0           False             Kenya    False     4224
5          206           False             Kenya    False     4223
6          150           False             Kenya    False     4222
7           59           False             Kenya    False     4221
8           74           False             Kenya    False     4220
9            0           False             Kenya     True     4218
10         261           False             Kenya    False     4219
11         250           False             Kenya    False     4217
12           0           False             Kenya    False     4216
13          71           False             Kenya    False     4215
14           0           False             Kenya    False     4214
15          21           False        Nottingham    False     4213
16        2654           False             Kenya    False     4212
17         159           False             Kenya    False     4211
18         208           False             Kenya    False     4210
19           9           False             Kenya    False     4209
20         254           False             Kenya    False     4208
21          30           False             Kenya    False     4207
22           0           False             Kenya    False     4206
23          12           False             Kenya    False     4205
24           0           False             Kenya     True     4204
25          40           False             Kenya    False     4203
26          42           False             Kenya    False     4202
27          11           False             Kenya    False     4201
28         137           False             Kenya    False     4200
29          10           False             Kenya    False     4199
...        ...             ...               ...      ...      ...
3701         0           False             Kenya    False       30
3702        34           False             Kenya    False       29
3703       817           False             Kenya    False       28
3704        27           False             Kenya    False       27
3705       104           False             Kenya    False       26
3706         0           False             Kenya    False       25
3707        17           False             Kenya    False       24
3708        42           False             Kenya    False       23
3709         0           False             Kenya    False       22
3710        61           False                      False       21
3711        29           False             Kenya    False       20
3712         3           False             Kenya    False       19
3713         0           False             Kenya     True       18
3714         0           False             Kenya    False       17
3715         1           False             Kenya    False       16
3716        28           False             Kenya    False       15
3717        12           False             Kenya    False       14
3718         0           False             Kenya    False       13
3719         0           False                      False       12
3720        58           False             Kenya    False       11
3721       177           False             Kenya    False       10
3722        34           False                      False        9
3723        13           False                      False        8
3724         7           False                      False        7
3725         7           False             Kenya    False        6
3726        40           False             Kenya    False        5
3727        30           False             Kenya    False        4
3728        22           False             Kenya    False        3
3729         0           False             Kenya    False        2
3730         0           False             Kenya    False        1

       phone_number
0        0738533763
1        0723893135
2        0727068032
3        0728052022
4        0708065240
5        0727068032
6        0727068032
7        0727068032
8        0719237738
9        0719237738
10       0727068032
11       0718173315
12       0718173315
13       0727068032
14       0727068032
15    +441109188528
16       0727068032
17       0700500384
18       0719237738
19       0727068032
20       0788623204
21       0788623204
22       0788623204
23       0727068032
24       0788623204
25       0727068032
26       0718173315
27       0718173315
28       0788623204
29       0788623204
...             ...
3701     0713484737
3702     0727068032
3703     0721902515
3704     0707822321
3705     0721902515
3706     0727068032
3707  +254120345236
3708     0704714489
3709     0727068032
3710     0795059593
3711     0721902515
3712     0721902515
3713     0721902515
3714     0727068032
3715     0727068032
3716     0727068032
3717     0704551172
3718     0704997993
3719    07045789656
3720  +254806502868
3721  +254806502868
3722     0792340277
3723     0792340277
3724     0792340277
3725     0713310504
3726     0713310504
3727     0713310504
3728  +254544502358
3729  +254929415973
3730  +254929415973

[3731 rows x 11 columns]
user-28    cached_name  call_type                datetime  duration  item_id  \
0          NaN          3 2017-06-03 11:58:09.157         4       18
1        Mathe          1 2017-06-03 03:14:07.976         0       17
2          NaN          1 2017-06-03 02:15:08.050        10       16
3          NaN          3 2017-06-03 02:04:02.061        40       15
4          NaN          1 2017-06-02 21:10:05.468         1       14
5          NaN          1 2017-06-02 20:56:53.436         4       13
6          NaN          1 2017-06-02 20:22:30.363         3       12
7          NaN          1 2017-06-02 20:07:30.625         3       11
8          NaN          3 2017-06-02 19:41:24.141         3       10
9          NaN          1 2017-06-02 18:15:18.042        26        9
10         NaN          3 2017-06-02 18:11:19.565        40        8
11         NaN          2 2017-06-02 17:01:09.481         5        7
12         NaN          3 2017-06-02 16:40:30.927        40        6
13       Mathe          1 2017-06-02 15:46:45.032        19        5
14       Mathe          2 2017-06-02 15:42:38.590         9        4
15     Trizzah          1 2017-06-02 15:41:49.309         1        3
16       Mathe          1 2017-06-02 15:09:18.663        12        2
17         NaN          3 2017-06-02 14:09:25.091         5        1
18         NaN          1 2017-06-02 13:08:02.964         2        0
19         NaN          1 2017-05-25 19:25:02.213         1       10
20         NaN          1 2017-05-25 17:02:50.108        20        9
21         NaN          3 2017-05-25 16:53:30.360         9        8
22         NaN          3 2017-05-25 16:51:40.030        40        7
23         NaN          1 2017-05-25 16:48:40.072         7        6

user-29          cached_name  call_type                datetime  duration  is_read  \
0            me amor          1 2017-10-27 12:09:51.952       133    False
1           Innocent          1 2017-10-27 11:02:24.551        35    False
2            me amor          2 2017-10-27 08:43:50.715         8    False
3                NaN          2 2017-10-27 08:43:43.730         0    False
4            me amor          1 2017-10-27 08:42:24.494        11    False
5            me amor          1 2017-10-27 08:40:17.625        30    False
6               Jeff          1 2017-10-27 08:28:52.496        24    False
7            me amor          1 2017-10-27 07:54:50.431        62    False
8    Brendah Bubbles          1 2017-10-27 05:27:29.134       156    False
9             Brenda          2 2017-10-27 05:26:43.498        24    False
10            Brenda          3 2017-10-27 05:19:11.412         0     True
11             Alice          1 2017-10-26 18:32:17.484        59    False
12            Jesica          2 2017-10-26 12:07:15.659         0    False
13               Liz          2 2017-10-26 10:31:33.179        22    False
14             Alice          3 2017-10-26 09:40:57.463         0     True
15               Mum          3 2017-10-26 07:20:58.477         0     True
16               Dee          3 2017-10-25 19:51:56.213         0     True
17             Alice          3 2017-10-25 19:14:22.431         0     True
18             Alice          1 2017-10-25 18:41:16.294        44    False
19             Alice          1 2017-10-25 17:46:30.219        92    False
20             Alice          1 2017-10-25 17:01:41.442        68    False
21             Alice          3 2017-10-25 16:28:26.458         0     True
22              manu          2 2017-10-25 16:17:12.129        21    False
23             Alice          1 2017-10-25 12:08:40.413       286    False
24               NaN          2 2017-10-25 10:24:41.603         4    False
25               NaN          1 2017-10-25 10:23:41.385         1    False
26               NaN          3 2017-10-25 10:21:24.443         0     True
27             Alice          1 2017-10-25 07:21:44.642       141    False
28            Brenda          1 2017-10-25 04:16:57.965        47    False
29            Brenda          3 2017-10-25 04:14:20.529         0     True
..               ...        ...                     ...       ...      ...
101              Dee          2 2017-10-21 17:56:08.217         2    False
102              Dee          2 2017-10-21 17:49:54.640        37    False
103            Irene          2 2017-10-21 17:26:41.990       132    False
104              NaN          3 2017-09-25 10:20:05.469         0     True
105              NaN          3 2017-09-25 10:19:33.442         0     True
106              NaN          3 2017-09-25 10:17:41.441         0     True
107              NaN          3 2017-09-25 10:11:24.400         0     True
108              NaN          3 2017-09-24 09:04:28.831         0     True
109              NaN          3 2017-09-24 08:32:43.429         0     True
110              NaN          3 2017-09-24 08:31:54.262         0     True
111              NaN          1 2017-09-22 11:51:21.518         3    False
112              NaN          1 2017-09-20 05:45:28.482       107    False
113              NaN          2 2017-08-24 18:22:25.915         0    False
114              NaN          1 2017-08-24 09:32:02.936        42    False
115              NaN          1 2017-08-24 09:31:23.428        24    False
116              NaN          2 2017-08-19 20:17:18.942         0    False
117              Pep          2 2017-08-19 20:07:28.532       318    False
118              NaN          3 2017-08-17 16:38:46.478         0     True
119              NaN          2 2017-08-17 08:15:29.707       112    False
120              NaN          1 2017-08-17 06:44:45.504        29    False
121              NaN          3 2017-08-06 19:22:41.539         0     True
122              NaN          1 2017-07-23 20:12:02.515        30    False
123              NaN          1 2017-07-23 13:31:09.394        14    False
124              NaN          3 2017-07-23 13:30:34.494         0     True
125   Yu Sharon Tuwe          1 2017-06-22 12:41:25.510        69    False
126              NaN          3 2017-06-19 09:05:15.912         0     True
127              NaN          3 2017-06-19 09:04:35.482         0     True
128          me amor          2 2017-06-18 09:28:06.530         0    False
129              NaN          3 2017-06-11 06:25:42.585         0     True
130              NaN          1 2017-06-08 13:50:27.779       122    False

     item_id  phone_number
0        937     755033570
1        936     792976473
2        935     755033570
3        934     723428832
4        932     755033570
5        931     755033570
6        930     723876717
7        929     755033570
8        918     720418441
9        917     776157838
10       916     776157838
11       913     704075525
12       894     726152127
13       874     723712489
14       872     704075525
15       870     799535144
16       867     713211850
17       866     704075525
18       863     704075525
19       858     704075525
20       851     704075525
21       848     704075525
22       847     717666544
23       845     704075525
24       841     786318170
25       840     786318170
26       839     786318170
27       827     704075525
28       824     776157838
29       823     776157838
..       ...           ...
101      518  254303232494
102      516  254303232494
103      508     705927250
104      421  254153618487
105      420  254153618487
106      419  254821799120
107      418  254821799120
108      415  254821799120
109      414  254821799120
110      413  254821799120
111      410  254655329470
112      406  254218389676
113      392     724140371
114      390     702048296
115      389     718884129
116      375     700844158
117      374     705469122
118      367  254515908444
119      296  254489179152
120      295  254489179152
121      289  254895618702
122      273  254440283254
123      272  254504246009
124      271  254504246009
125      251  254358766131
126      244  254105969222
127      243  254105969222
128      242     755033570
129      193  254504246009
130      187  254897436451

[131 rows x 7 columns]
user-30            cached_name  call_type country_iso  data_usage  \
0                  NaN          1          KE           0
1             Mother 💙          3          KE           0
2           Mum Telkom          2          KE           0
3             Mother 💙          1          KE           0
4                  NaN          2          KE           0
5                  Sam          3          KE           0
6                  NaN          2          KE           0
7                  NaN          2          KE           0
8                  NaN          1          KE           0
9                  NaN          1          KE           0
10           Ian James          3          KE           0
11           Ian James          3          KE           0
12                 NaN          1          KE           0
13                 NaN          2          KE           0
14                 NaN          2          KE           0
15                 NaN          1          KE           0
16                 NaN          1          KE           0
17                 NaN          1          KE           0
18                 NaN          2          KE           0
19                 NaN          1          KE           0
20                 NaN          2          KE           0
21                 NaN          2          KE           0
22                 NaN          1          KE           0
23                 NaN          1          KE           0
24             Teki ❤️          2          KE           0
25            Mine 💙 😍          1          KE           0
26                 NaN          2          KE           0
27                 NaN          1          KE           0
28                 NaN          2          KE           0
29                 NaN          3          KE           0
...                ...        ...         ...         ...
1104            Ericoh          1          KE           0
1105             Mercy          2          KE           0
1106            Ericoh          2          KE           0
1107               NaN          2          KE           0
1108               NaN          2          KE           0
1109           👑Queen👑          3          KE           0
1110  Samuhmainacookie          2          KE           0
1111            Feggie          1          KE           0
1112               NaN          1          KE           0
1113             Clara          2          KE           0
1114           👑Queen👑          1          KE           0
1115               NaN          1          KE           0
1116           Bae 💙 💋          1          KE           0
1117           Bae 💙 💋          2          KE           0
1118          Eva Daro          2          KE           0
1119              Vane          2          KE           0
1120        Jose Class          2          KE           0
1121        Orina Econ          2          KE           0
1122           Bae 💙 💋          2          KE           0
1123            Ndichu          2          KE           0
1124            Ndichu          3          KE           0
1125           Bae 💙 💋          1          KE           0
1126           Bae 💙 💋          2          KE           0
1127          Mother 💙          1          KE           0
1128        Edy Mbatha          1          KE           0
1129            Louisa          1          KE           0
1130               NaN          1          KE           0
1131          Mother 💙          1          KE           0
1132              Dado          1          KE           0
1133              Dado          2          KE           0

                    datetime  duration  features_video geocoded_location  \
0    2017-09-13 16:28:16.924        20           False             Kenya
1    2017-09-13 16:27:53.255        10           False             Kenya
2    2017-09-13 16:27:52.561         0           False             Kenya
3    2017-09-13 16:26:03.921        18           False             Kenya
4    2017-09-13 14:59:25.406        15           False             Kenya
5    2017-09-13 14:14:26.932        40           False
6    2017-09-13 10:43:16.467         0           False
7    2017-09-13 10:42:32.477         7           False
8    2017-09-13 10:36:29.399        18           False
9    2017-09-13 10:04:45.867        48           False
10   2017-09-13 09:28:00.498        42           False             Kenya
11   2017-09-13 09:26:23.512         6           False             Kenya
12   2017-09-13 08:44:21.295        90           False             Kenya
13   2017-09-13 08:32:45.648        19           False             Kenya
14   2017-09-13 08:26:43.925        38           False             Kenya
15   2017-09-13 08:25:42.639         5           False             Kenya
16   2017-09-13 07:32:25.315       125           False             Kenya
17   2017-09-13 07:31:07.844        42           False             Kenya
18   2017-09-13 05:04:44.404        12           False             Kenya
19   2017-09-13 05:03:54.207         4           False             Kenya
20   2017-09-13 04:43:39.996         0           False             Kenya
21   2017-09-13 04:43:10.673         2           False             Kenya
22   2017-09-13 04:19:54.466        10           False             Kenya
23   2017-09-12 17:49:31.087        17           False             Kenya
24   2017-09-12 17:38:01.615       324           False             Kenya
25   2017-09-12 17:36:40.866        22           False             Kenya
26   2017-09-12 14:04:46.514         0           False             Kenya
27   2017-09-12 14:02:01.812        34           False             Kenya
28   2017-09-12 13:05:35.920        17           False             Kenya
29   2017-09-12 12:58:59.278        40           False             Kenya
...                      ...       ...             ...               ...
1104 2017-04-22 15:49:05.316        14           False             Kenya
1105 2017-04-22 15:44:19.162        36           False
1106 2017-04-22 15:42:49.633        46           False             Kenya
1107 2017-04-22 15:35:56.764         0           False             Kenya
1108 2017-04-22 15:35:47.852         2           False             Kenya
1109 2017-04-22 07:41:22.670        28           False             Kenya
1110 2017-04-21 13:39:07.696        11           False
1111 2017-04-21 10:18:57.086        38           False             Kenya
1112 2017-04-21 10:16:27.523        70           False             Kenya
1113 2017-04-21 06:37:54.237        19           False
1114 2017-04-21 06:20:57.129        93           False             Kenya
1115 2017-04-20 14:44:21.394        43           False             Kenya
1116 2017-04-20 14:22:26.037        43           False             Kenya
1117 2017-04-20 14:21:44.763         0           False             Kenya
1118 2017-04-20 13:01:09.947        30           False             Kenya
1119 2017-04-20 12:57:25.907         0           False
1120 2017-04-20 12:51:04.819         0           False
1121 2017-04-20 12:49:25.044         0           False
1122 2017-04-20 10:00:26.733         8           False             Kenya
1123 2017-04-20 09:36:33.511         0           False             Kenya
1124 2017-04-20 09:27:44.453        41           False             Kenya
1125 2017-04-20 08:18:25.062        34           False             Kenya
1126 2017-04-20 08:05:20.449        38           False             Kenya
1127 2017-04-20 07:58:56.486       260           False             Kenya
1128 2017-04-20 07:39:34.025        27           False             Kenya
1129 2017-04-19 19:49:09.780       159           False             Kenya
1130 2017-04-19 19:43:32.956       305           False             Kenya
1131 2017-04-19 18:15:05.227        92           False             Kenya
1132 2017-04-19 07:15:57.669        59           False             Kenya
1133 2017-04-19 06:59:33.510         3           False             Kenya

      is_read  item_id  phone_number
0       False     2464     724579067
1        True     2463     724579067
2        True     2462     774373886
3        True     2461     724579067
4        True     2460     716936741
5        True     2459     799446974
6        True     2458     792559594
7        True     2457     792559594
8        True     2456     792559594
9        True     2455     792559594
10       True     2454     721739131
11       True     2453     721739131
12       True     2452     733244927
13       True     2451     733244927
14       True     2450     733244927
15       True     2449     733244927
16       True     2448     700000940
17       True     2447     700000940
18       True     2446     775055665
19       True     2445     706267408
20       True     2444     706267408
21       True     2443     775055665
22       True     2442     706267408
23       True     2441     733233484
24       True     2440     775055665
25       True     2439     706267408
26       True     2438     716936741
27       True     2437     716936741
28       True     2436     716936741
29       True     2435     716936741
...       ...      ...           ...
1104    False      901     710158950
1105    False      900     792896285
1106    False      899     710158950
1107    False      898     715932106
1108    False      897     715932106
1109     True      896     786503507
1110    False      895     799446974
1111    False      894     703464044
1112    False      893     714322623
1113    False      892  254268600492
1114    False      891     786503507
1115    False      890     701375600
1116    False      889     706267408
1117    False      888     706267408
1118    False      887  254659984201
1119    False      886  254363033746
1120    False      885  254787441702
1121    False      884  254178032503
1122    False      883     706267408
1123    False      882     705490641
1124     True      881     705490641
1125    False      880     706267408
1126    False      879     706267408
1127    False      878     724579067
1128    False      877     700000940
1129    False      876     718585205
1130    False      875     737205889
1131    False      874     724579067
1132    False      873     724641913
1133    False      872     724641913

[1134 rows x 11 columns]

user-31      cached_name  call_type                datetime  duration  is_read  \
0          Mugwe          3 2017-11-12 18:41:52.783         0     True
1           Wife          1 2017-11-12 17:27:31.920         9    False
2           Wife          2 2017-11-12 17:26:07.707         0    False
3           Wife          2 2017-11-12 17:23:33.140         6    False
4           Wife          2 2017-11-12 17:22:38.548         2    False
5           Wife          1 2017-11-12 17:15:34.077        29    False
6           Wife          3 2017-11-12 17:14:35.956         0     True
7           Wife          3 2017-11-12 17:13:36.619         0     True
8           Wife          1 2017-11-12 17:09:17.265        24    False
9           Wife          2 2017-11-12 17:07:57.489        16    False
10          Wife          1 2017-11-12 16:48:22.344        43    False
11          Beth          2 2017-11-12 16:39:29.629        17    False
12          Wife          2 2017-11-12 15:29:13.497        19    False
13           Cha          1 2017-11-12 15:21:58.515       202    False
14           Cha          3 2017-11-12 15:10:09.372         0     True
15          Ciri          2 2017-11-12 12:34:28.228         0    False
16          Wife          2 2017-11-12 12:11:44.936        18    False
17          Ciri          3 2017-11-12 07:48:10.853         0     True
18          Ciri          3 2017-11-12 06:46:00.012         0     True
19          Ciri          1 2017-11-12 06:42:28.560        80    False
20           NaN          2 2017-11-12 04:30:57.049         0    False
21          Wife          1 2017-11-12 01:46:41.354         8    False
22          Wife          1 2017-11-12 01:44:03.209        14    False
23          Wife          2 2017-11-11 20:02:28.914         8    False
24         Mugwe          2 2017-11-11 19:55:40.799         8    False
25          Ciri          2 2017-11-11 19:18:14.617        12    False
26          Ciri          2 2017-11-11 18:22:57.813         0    False
27          Ciri          3 2017-11-11 18:04:51.486         0     True
28          Wife          1 2017-11-11 17:56:45.120        32    False
29          Meru          1 2017-11-11 16:30:45.456         4    False
...          ...        ...                     ...       ...      ...
3197        Beth          2 2017-05-15 08:26:52.197        21    False
3198         NaN          1 2017-05-15 06:42:25.873         3    False
3199        Beth          1 2017-05-15 06:40:55.053        24    False
3200         NaN          1 2017-05-15 06:37:59.917        29    False
3201         NaN          2 2017-05-15 06:35:38.002        29    False
3202         NaN          2 2017-05-15 06:14:13.058         0    False
3203         NaN          2 2017-05-15 06:10:55.654         0    False
3204         NaN          2 2017-05-15 06:09:15.223         0    False
3205         NaN          2 2017-05-15 06:08:39.405         0    False
3206        Beth          2 2017-05-15 05:55:14.443         0    False
3207        Wife          3 2017-05-14 17:32:30.200         0     True
3208        Wife          1 2017-05-14 17:31:46.785         0    False
3209         NaN          2 2017-05-14 17:23:05.373        41    False
3210         NaN          3 2017-05-14 17:19:14.058         0     True
3211         NaN          2 2017-05-14 17:18:18.671        27    False
3212         NaN          3 2017-05-14 17:00:53.504         0     True
3213        Beth          3 2017-05-14 16:27:53.562         0     True
3214        Wife          2 2017-05-14 16:24:58.981         0    False
3215        Wife          2 2017-05-14 16:22:03.963         4    False
3216        Beth          3 2017-05-14 15:54:59.351         0     True
3217         NaN          3 2017-05-14 15:47:08.340         0     True
3218        Beth          3 2017-05-14 15:27:18.109         0     True
3219        Beth          3 2017-05-14 15:26:31.963         0     True
3220        Wife          2 2017-05-14 14:21:47.467        16    False
3221        Wife          2 2017-05-14 14:21:36.042         0    False
3222        Wife          2 2017-05-14 14:20:36.069         2    False
3223        Wife          2 2017-05-14 14:18:26.441        51    False
3224        Wife          1 2017-05-14 14:16:03.179        47    False
3225        Wife          2 2017-05-14 14:10:02.132         0    False
3226        Wife          2 2017-05-14 14:05:57.876         0    False

      item_id   phone_number
0        8102     0724383865
1        8101     0702723286
2        8100     0702723286
3        8099     0702723286
4        8098     0702723286
5        8097     0702723286
6        8096     0702723286
7        8095     0702723286
8        8094     0702723286
9        8093     0702723286
10       8092     0702723286
11       8091     0714451279
12       8090     0702723286
13       8089     0713277352
14       8088     0713277352
15       8087     0728365872
16       8086     0702723286
17       8085     0728365872
18       8084     0728365872
19       8083     0728365872
20       8082     0720091106
21       8081     0702723286
22       8080     0702723286
23       8079     0702723286
24       8078  +254357796209
25       8077     0728365872
26       8076     0728365872
27       8075     0728365872
28       8074     0702723286
29       8073     0718475835
...       ...            ...
3197     4806  +254210797561
3198     4805     0799737579
3199     4804     0714451279
3200     4803     0799737579
3201     4802     0799737579
3202     4801     0727239403
3203     4800     0700477150
3204     4799     0700477150
3205     4798     0700477150
3206     4797  +254210797561
3207     4796     0702723286
3208     4795     0702723286
3209     4794     0727239403
3210     4793     0727239403
3211     4792     0711623646
3212     4791     0711623646
3213     4790     0714451279
3214     4789     0702723286
3215     4788     0702723286
3216     4787     0714451279
3217     4786     0765257805
3218     4785     0714451279
3219     4784     0714451279
3220     4783     0702723286
3221     4782     0702723286
3222     4781     0702723286
3223     4780     0702723286
3224     4779     0702723286
3225     4778     0702723286
3226     4777     0702723286

[3227 rows x 7 columns]
user-32          cached_name  call_type country_iso  data_usage  \
0              Njoro          2          KE           0
1                NaN          2          KE           0
2                NaN          2          KE           0
3                NaN          2          KE           0
4                NaN          3          KE           0
5                NaN          2          KE           0
6        baba maina2          1          KE           0
7                mam          2          KE           0
8                mam          2          KE           0
9    Njoki Kang'ethe          2          KE           0
10               NaN          2          KE           0
11               NaN          2          KE           0
12               NaN          2          KE           0
13               NaN          2          KE           0
14               NaN          3          KE           0
15               NaN          3          KE           0
16       0713 269411          2          KE           0
17               NaN          2          KE           0
18               NaN          2          KE           0
19               mam          1          KE           0
20               NaN          2          KE           0
21               NaN          1          KE           0
22               NaN          2          KE           0
23               NaN          3          KE           0
24               NaN          3          KE           0
25    Wanjiku Karuru          2          KE           0
26               NaN          2          KE           0
27         baba ciru          1          KE           0
28             Njoro          2          KE           0
29               NaN          2          KE           0
..               ...        ...         ...         ...
140           austin          2          KE           0
141          antony1          2          KE           0
142              mam          2          KE           0
143            mburu          2          KE           0
144            mburu          2          KE           0
145              mam          2          KE           0
146              mam          3          KE           0
147           DANIEL          2          KE           0
148              mam          2          KE           0
149              mam          2          KE           0
150              mam          2          KE           0
151              mam          2          KE           0
152      mama martin          2          KE           0
153              NaN          2          KE           0
154           DANIEL          2          KE           0
155              NaN          2          KE           0
156            Njoro          2          KE           0
157            mburu          2          KE           0
158           Babake          1          KE           0
159              Liz          2          KE           0
160           Babake          2          KE           0
161              NaN          2          KE           0
162             mose          2          KE           0
163             mose          2          KE           0
164              NaN          1          KE           0
165           Mukami          1          KE           0
166           Mukami          2          KE           0
167            mburu          2          KE           0
168              NaN          1          KE           0
169              NaN          2          KE           0

                   datetime  duration  features_video  is_read  item_id  \
0   2017-06-02 16:24:24.078         0           False    False     2658
1   2017-06-02 16:23:16.662         0           False    False     2657
2   2017-06-02 16:20:40.350         0           False    False     2656
3   2017-06-02 13:07:47.333         6           False    False     2653
4   2017-06-02 13:02:39.501         0           False     True     2652
5   2017-06-02 12:43:51.398        13           False    False     2651
6   2017-06-02 08:31:24.458        24           False    False     2650
7   2017-06-02 07:42:54.007         7           False    False     2649
8   2017-06-01 17:50:36.731        58           False    False     2648
9   2017-06-01 16:52:39.741         0           False    False     2647
10  2017-06-01 16:46:19.378         0           False    False     2646
11  2017-06-01 16:45:38.807         0           False    False     2645
12  2017-06-01 13:32:29.033         9           False    False     2644
13  2017-06-01 12:51:20.351         0           False    False     2643
14  2017-06-01 11:26:05.536         0           False     True     2642
15  2017-06-01 11:25:06.587         0           False     True     2641
16  2017-05-31 13:00:01.515        17           False    False     2640
17  2017-05-31 12:17:14.013         0           False    False     2639
18  2017-05-31 12:16:40.603         0           False    False     2638
19  2017-05-31 09:27:10.588        54           False    False     2637
20  2017-05-30 10:35:08.890         0           False    False     2636
21  2017-05-30 10:30:47.269       165           False    False     2635
22  2017-05-29 20:17:26.772         0           False    False     2634
23  2017-05-29 15:44:35.559         0           False     True     2633
24  2017-05-29 15:33:21.273         0           False     True     2632
25  2017-05-29 12:16:07.699         0           False    False     2631
26  2017-05-29 12:12:14.042         0           False    False     2630
27  2017-05-29 05:16:15.682        18           False    False     2629
28  2017-05-28 18:08:20.717        29           False    False     2628
29  2017-05-28 17:25:57.816        42           False    False     2627
..                      ...       ...             ...      ...      ...
140 2017-05-22 17:23:35.945         0           False    False     2516
141 2017-05-22 17:21:52.627        71           False    False     2515
142 2017-05-22 17:21:04.242         0           False    False     2514
143 2017-05-22 13:45:09.803        15           False    False     2513
144 2017-05-22 13:16:20.337        19           False    False     2512
145 2017-05-22 06:46:34.727        48           False    False     2511
146 2017-05-22 04:04:07.284         0           False     True     2510
147 2017-05-21 18:29:46.848        57           False    False     2509
148 2017-05-21 18:28:44.842         0           False    False     2508
149 2017-05-21 18:27:46.722         0           False    False     2507
150 2017-05-21 18:26:44.622         0           False    False     2506
151 2017-05-21 18:25:54.226         0           False    False     2505
152 2017-05-21 18:03:41.905       348           False    False     2504
153 2017-05-21 18:00:16.472         6           False    False     2503
154 2017-05-21 17:45:39.492       264           False    False     2502
155 2017-05-21 17:45:04.450         0           False    False     2501
156 2017-05-21 17:24:44.267       472           False    False     2500
157 2017-05-21 12:52:42.882        14           False    False     2499
158 2017-05-20 18:53:05.183       340           False    False     2498
159 2017-05-20 18:47:14.703       125           False    False     2497
160 2017-05-20 18:43:00.823         0           False    False     2496
161 2017-05-20 18:27:51.601       362           False    False     2495
162 2017-05-20 18:22:41.248        95           False    False     2494
163 2017-05-20 18:22:10.640        11           False    False     2493
164 2017-05-20 15:42:24.239         3           False    False     2492
165 2017-05-20 15:18:54.938       229           False    False     2491
166 2017-05-20 15:18:23.153         0           False    False     2490
167 2017-05-20 13:25:32.447         6           False    False     2489
168 2016-01-01 00:47:13.870        86           False    False     2655
169 2016-01-01 00:14:05.669         9           False    False     2654

      phone_number
0       0711361712
1       0723972735
2    +254534306901
3       0725225520
4       0725225520
5       0725225520
6       0713801096
7       0724007715
8       0724007715
9       0724726065
10      0724726065
11      0722111534
12             141
13      0729616421
14      0725225520
15      0725225520
16      0713703946
17      0729616421
18      0729616421
19      0724007715
20      0729616421
21      0729616421
22      0729616421
23      0725225520
24      0725225520
25      0726732868
26      0726732868
27      0728602045
28      0711361712
29      0725225520
..             ...
140     0718848009
141     0715251994
142     0724007715
143     0712122351
144     0712122351
145     0724007715
146     0724007715
147     0725793981
148     0724007715
149     0724007715
150     0724007715
151     0724007715
152     0714003171
153          *131*
154     0725793981
155         072550
156     0711361712
157     0712122351
158     0720197406
159     0729918599
160     0720197406
161     0725117857
162     0724102071
163     0724102071
164     0725225520
165     0725060080
166     0725060080
167     0712122351
168     0717265173
169     0725225520

[170 rows x 10 columns]

user-33                   cached_name  call_type country_iso  data_usage  \
0                      Salome          2          KE           0
1                      Salome          1          KE           0
2        Lucy Rodl & Partener          2          KE           0
3        Lucy Rodl & Partener          2          KE           0
4                         NaN          1          KE           0
5                Alex Ndiritu          2          KE           0
6                  Stella Pkf          2          KE           0
7                  Stella Pkf          2          KE           0
8                  Stella Pkf          1          KE           0
9        Lucy Rodl & Partener          2          KE           0
10        Jacqueline Kata Kam          2          KE           0
11        Benadet Mbogo Rodls          2          KE           0
12                     Salome          2          KE           0
13               Alex Ndiritu          2          KE           0
14                      Gakuo          2          KE           0
15                      Lilly          2          KE           0
16                      Lilly          2          KE           0
17                     Regina          2          KE           0
18                     Regina          3          KE           0
19                   Franklin          2          KE           0
20                     Regina          1          KE           0
21                        NaN          1          KE           0
22        Benadet Mbogo Rodls          2          KE           0
23                     Regina          2          KE           0
24                   Franklin          2          KE           0
25                 Stella Pkf          1          KE           0
26                      Jared          2          KE           0
27                     Regina          1          KE           0
28                     Regina          2          KE           0
29         Edwine Wanjau Rodl          2          KE           0
...                       ...        ...         ...         ...
2945             George Maina          1          KE           0
2946              Linda Njeri          1          KE           0
2947          Mbugua Westkate          1          KE           0
2948                      NaN          2          KE           0
2949           Maina Westgate          2          KE           0
2950                      NaN          1          KE           0
2951                      NaN          1          KE           0
2952                      Mum          1          KE           0
2953           Maina Westgate          1          KE           0
2954                      NaN          1          KE           0
2955         Wibabara Cynthia          2          KE           0
2956         Wibabara Cynthia          2          KE           0
2957           Maina Westgate          2          KE           0
2958           Maina Westgate          2          KE           0
2959                      NaN          1          KE           0
2960                      NaN          1          KE           0
2961                      NaN          2          KE           0
2962                      NaN          1          KE           0
2963                   Afshan          2          KE           0
2964               Dad Ashfan          2          KE           0
2965              Mama George          1          KE           0
2966                      NaN          2          KE           0
2967                      NaN          2          KE           0
2968                   Afshan          1          KE           0
2969                      NaN          1          KE           0
2970                   Afshan          1          KE           0
2971                   Afshan          3          KE           0
2972  Patrick Karoki Westgate          2          KE           0
2973                   Afshan          1          KE           0
2974                      NaN          2          KE           0

                    datetime  duration  features_video geocoded_location  \
0    2017-11-10 13:00:14.180        18           False
1    2017-11-10 12:22:57.063        18           False
2    2017-11-10 12:18:01.367        66           False
3    2017-11-10 12:01:14.527        28           False
4    2017-11-10 11:41:13.664        40           False
5    2017-11-10 11:23:31.110         7           False
6    2017-11-10 11:22:54.442         9           False
7    2017-11-10 11:18:37.314         0           False
8    2017-11-10 11:15:05.010        14           False
9    2017-11-10 11:08:03.816         0           False
10   2017-11-10 11:06:58.434         0           False
11   2017-11-10 11:06:46.054         0           False
12   2017-11-10 10:37:38.770        35           False
13   2017-11-10 10:28:37.477        31           False
14   2017-11-10 10:11:55.942         0           False
15   2017-11-10 10:09:30.917        25           False
16   2017-11-10 10:08:41.637         2           False
17   2017-11-10 10:04:11.797        10           False
18   2017-11-10 10:03:36.116         0           False
19   2017-11-10 10:03:02.632        42           False
20   2017-11-10 10:00:28.879        65           False
21   2017-11-10 09:52:24.028       215           False
22   2017-11-10 09:49:55.274         0           False
23   2017-11-10 09:48:43.837         0           False
24   2017-11-10 09:47:34.843        35           False
25   2017-11-10 09:45:58.263        38           False
26   2017-11-10 09:42:38.169        29           False
27   2017-11-10 09:40:50.091        11           False
28   2017-11-10 09:39:38.079        11           False
29   2017-11-10 09:38:36.764         8           False
...                      ...       ...             ...               ...
2945 2017-05-22 05:15:04.303        17           False
2946 2017-05-22 04:53:23.350        28           False
2947 2017-05-21 18:56:13.342        67           False
2948 2017-05-21 16:37:32.217         0           False
2949 2017-05-21 16:36:33.888        30           False
2950 2017-05-21 16:32:26.525        19           False
2951 2017-05-21 16:07:48.048        19           False
2952 2017-05-21 16:03:03.152        16           False
2953 2017-05-21 15:53:30.855         9           False
2954 2017-05-21 15:31:23.839        25           False
2955 2017-05-21 15:09:20.788         0           False
2956 2017-05-21 15:08:47.023         9           False
2957 2017-05-21 14:56:58.251        53           False
2958 2017-05-21 14:56:23.853         2           False
2959 2017-05-21 13:49:15.047        59           False
2960 2017-05-21 13:15:09.799        22           False
2961 2017-05-21 13:13:57.574        29           False
2962 2017-05-21 12:47:27.835        24           False
2963 2017-05-21 12:34:05.801         7           False
2964 2017-05-21 12:21:58.543         6           False
2965 2017-05-21 12:20:33.032        56           False
2966 2017-05-21 12:18:10.618        25           False
2967 2017-05-21 12:17:14.665        13           False
2968 2017-05-21 11:55:44.116        15           False
2969 2017-05-21 11:25:12.090        88           False
2970 2017-05-21 11:02:37.258        10           False
2971 2017-05-21 11:01:36.104         0           False
2972 2017-05-21 10:42:05.107        58           False
2973 2017-05-21 09:55:35.816        38           False
2974 2017-05-21 09:54:41.384         0           False

      is_read  item_id   phone_number
0        True     1633     0710540614
1        True     1632     0710540614
2        True     1631     0729888746
3        True     1630     0729888746
4        True     1629
5        True     1628  +254924995443
6        True     1627     0725201314
7        True     1626     0725201314
8        True     1625     0725201314
9        True     1624     0729888746
10       True     1623  +254866555231
11       True     1622  +254309387297
12       True     1621     0710540614
13       True     1620  +254924995443
14       True     1619  +254165964312
15       True     1618     0712002193
16       True     1617     0712002193
17       True     1616     0718186625
18       True     1614     0718186625
19       True     1615  +254717927963
20       True     1613     0718186625
21       True     1612  +254468452382
22       True     1611  +254309387297
23       True     1610     0718186625
24       True     1609  +254717927963
25       True     1608     0725201314
26       True     1607  +254578345502
27       True     1606     0718186625
28       True     1605     0718186625
29       True     1604  +254940324250
...       ...      ...            ...
2945     True      514     0711899693
2946     True      513     0733121367
2947     True      512     0726459590
2948     True      511     0725782362
2949     True      510  +254465242726
2950     True      509     0725782362
2951     True      508     0725782362
2952     True      507     0718837238
2953     True      506     0724908930
2954     True      505     0725782362
2955     True      504  +254487676854
2956     True      503  +254487676854
2957     True      502  +254465242726
2958     True      501  +254465242726
2959     True      500     0725782362
2960     True      499     0725115251
2961     True      498     0725115251
2962     True      497     0792701681
2963     True      496     0721899622
2964     True      495     0720257018
2965     True      494     0713530146
2966     True      493     0701824943
2967     True      492  +254548947336
2968     True      491     0721899622
2969     True      490     0725782362
2970     True      489     0721899622
2971     True      488     0721899622
2972     True      487  +254151918210
2973     True      486     0721899622
2974     True      485  +254548947336

[2975 rows x 11 columns]
user-34    cached_name  call_type                datetime  duration  is_read  item_id  \
0          NaN          1 2017-05-30 12:54:57.224        74    False     4598
1          Alu          1 2017-05-30 11:21:17.033         4    False     4597
2        Ambai          2 2017-05-30 10:41:27.582        18    False     4596
3        Ambai          3 2017-05-30 10:39:55.479         0     True     4595
4      Eliakim          2 2017-05-30 09:32:10.976        78    False     4594
5         Alus          1 2017-05-30 09:21:40.134       130    False     4593
6          Jen          1 2017-05-30 08:13:15.816        43    False     4592
7          Alu          1 2017-05-30 06:11:58.321         4    False     4591
8      Felix's          1 2017-05-30 05:49:26.032        15    False     4590
9      Felix's          1 2017-05-30 05:44:25.032         7    False     4589
10     Felix's          3 2017-05-30 05:43:29.033         0     True     4588
11        Alus          2 2017-05-30 04:25:51.699         0    False     4587
12  KAMAU MAKA          1 2017-05-29 17:43:29.144        72    False     4586
13      Ashuma          1 2017-05-29 17:39:20.036         7    False     4585
14         NaN          1 2017-05-29 17:04:55.040        59    False     4584
15         NaN          1 2017-05-29 16:59:33.127        29    False     4583
16     Manjeri          3 2017-05-29 13:57:46.115         0     True     4571
17     Manjeri          3 2017-05-29 13:50:39.830         0     True     4570
18     Manjeri          3 2017-05-29 13:49:11.033         0     True     4569
19        Alus          2 2017-05-29 09:24:00.813         0    False     4541
20        IREN          3 2017-05-28 05:21:09.742         0     True     4511
21      Onderi          2 2017-05-27 08:57:19.147        21    False     4475
22      Onderi          2 2017-05-27 08:51:06.457        37    False     4474

    phone_number
0      736576062
1      706649028
2      714919582
3      714919582
4      726912790
5      790249337
6      718301658
7      706649028
8      722139436
9      722139436
10     722139436
11     790249337
12     722996672
13     700434758
14     725335914
15     725335914
16     723513590
17     723513590
18     723513590
19     790249337
20     706912164
21     771343750
22     771343750

user-35      cached_name  call_type                datetime  duration  is_read  \
0       Kiss 100          2 2017-10-16 04:53:02.028         0    False
1       Kiss 100          2 2017-10-16 04:52:25.231         0    False
2       Kiss 100          2 2017-10-16 04:51:26.068         0    False
3       Kiss 100          2 2017-10-16 04:50:26.766         0    False
4       Kiss 100          2 2017-10-16 04:50:15.119         0    False
5      Mose Naks          3 2017-10-15 19:17:38.801         0     True
6      Mose Naks          3 2017-10-15 19:11:34.445         0     True
7            Yln          2 2017-10-15 16:26:05.554       309    False
8            Yln          2 2017-10-15 16:10:44.456         1    False
9            Yln          3 2017-10-15 16:01:39.322         0     True
10           Yln          3 2017-10-15 16:00:53.758         0     True
11    Marion Sis          1 2017-10-15 12:14:42.910        10    False
12           NaN          1 2017-10-15 10:11:12.022        16    False
13           NaN          3 2017-10-15 10:10:16.024         0     True
14         Ceila          1 2017-10-15 09:51:30.042       142    False
15       Hillary          3 2017-10-15 09:37:44.032         0     True
16       Hillary          3 2017-10-15 08:12:53.040         0     True
17    Marion Sis          1 2017-10-14 18:35:59.014        45    False
18    Marion Sis          1 2017-10-14 14:04:05.467        89    False
19       Lutomia          2 2017-10-14 13:01:53.539        44    False
20    Marion Sis          1 2017-10-14 12:09:28.031         0    False
21     Jo Airtel          1 2017-10-14 07:35:50.031        26    False
22     Jo Airtel          1 2017-10-14 05:57:05.042        44    False
23       Lutomia          1 2017-10-14 04:31:24.765        35    False
24     Mose Naks          1 2017-10-13 19:35:45.211         0    False
25     Mose Naks          3 2017-10-13 17:27:17.952         0     True
26        Kadogo          3 2017-10-13 17:24:10.500         0     True
27          Sinz          3 2017-10-13 17:17:58.139         0     True
28       Lutomia          1 2017-10-13 17:16:57.837        41    False
29          Sinz          1 2017-10-13 17:12:48.996        80    False
...          ...        ...                     ...       ...      ...
1421      George          1 2017-05-04 13:45:52.029        61    False
1422         Ian          2 2017-05-04 12:46:27.828         0    False
1423      Kadogo          2 2017-05-04 11:29:28.427         0    False
1424      Kadogo          2 2017-05-04 11:21:11.451         0    False
1425        Sinz          1 2017-05-03 18:25:44.285        16    False
1426        Sinz          1 2017-05-03 18:22:33.418        54    False
1427         Yln          2 2017-05-03 18:22:09.350         0    False
1428        Sinz          2 2017-05-03 18:21:48.415         0    False
1429        Sinz          3 2017-05-03 18:12:27.022         0     True
1430        Sinz          1 2017-05-03 17:52:00.193        55    False
1431     Lutomia          2 2017-05-03 16:17:05.538         3    False
1432     Lutomia          1 2017-05-03 16:09:20.797        52    False
1433     Lutomia          2 2017-05-03 16:08:50.420         1    False
1434     Lutomia          3 2017-05-03 16:04:23.035         0     True
1435     Lutomia          3 2017-05-03 16:00:13.850         0     True
1436   Physi Edu          2 2017-05-03 15:54:48.560        20    False
1437         NaN          1 2017-05-03 11:13:12.751        63    False
1438      Kadogo          2 2017-05-03 11:12:48.367         0    False
1439         NaN          2 2017-05-03 11:12:13.585         5    False
1440         NaN          2 2017-05-03 11:11:43.623         0    False
1441   Mama Gogi          2 2017-05-03 11:10:46.569         0    False
1442   Mama Gogi          2 2017-05-03 11:08:10.496         2    False
1443   Mama Gogi          3 2017-05-03 11:02:23.887         0     True
1444       Ceila          2 2017-05-03 09:56:16.149         5    False
1445         NaN          2 2017-05-03 09:27:14.388        10    False
1446     Lutomia          2 2017-05-03 08:09:52.775        29    False
1447         NaN          1 2017-05-03 06:42:19.358        26    False
1448         NaN          2 2017-05-03 06:41:39.400         1    False
1449         NaN          3 2017-05-03 06:07:37.767         0     True
1450         NaN          2 2017-05-03 05:21:55.551         0    False

      item_id   phone_number
0       13209     0711197308
1       13208     0711197308
2       13207     0711197308
3       13206     0711197308
4       13205     0711197308
5       13204     0714482088
6       13203     0714482088
7       13202     0702537499
8       13201     0702537499
9       13200     0702537499
10      13199     0702537499
11      13198     0740338166
12      13197     0791394227
13      13196     0791394227
14      13195  +254759099013
15      13194     0702052385
16      13193     0702052385
17      13192     0740338166
18      13191     0740338166
19      13190     0722527006
20      13189     0740338166
21      13188     0738552790
22      13187     0738552790
23      13186     0722527006
24      13185     0714482088
25      13184     0714482088
26      13183     0715546140
27      13182     0726818148
28      13181     0722527006
29      13180     0726818148
...       ...            ...
1421     9899  +254596080596
1422     9898     0703860330
1423     9897     0715546140
1424     9896     0715546140
1425     9895     0726818148
1426     9894     0726818148
1427     9893  +254953922231
1428     9892     0726818148
1429     9891     0726818148
1430     9890     0726818148
1431     9889     0722527006
1432     9888     0722527006
1433     9887     0722527006
1434     9886     0722527006
1435     9885     0722527006
1436     9884     0707269520
1437     9883     0725180101
1438     9882     0715546140
1439     9881     0725180101
1440     9880      072505007
1441     9879     0722766705
1442     9878     0722766705
1443     9877     0722766705
1444     9876     0724191540
1445     9875     0725180101
1446     9874     0722527006
1447     9873     0722527006
1448     9872     0722527006
1449     9871     0722527006
1450     9870     0791353099

[1451 rows x 7 columns]
user-36     cached_name  call_type                datetime  duration  is_read  \
0           NaN          2 1970-01-02 02:07:10.979         0    False
1           Mam          1 1970-01-02 00:19:51.554        11    False
2           Mam          2 1970-01-02 00:19:33.646         1    False
3        bratha          1 1970-01-02 00:16:57.956         5    False
4         wambu          2 1970-01-02 00:16:01.007        36    False
5         mbtha          2 1970-01-02 00:14:59.281         0    False
6         mbtha          2 1970-01-02 00:14:36.819         0    False
7           NaN          2 1970-01-02 00:14:00.539         0    False
8           NaN          2 1970-01-02 00:06:35.768         0    False
9           NaN          1 1970-01-02 00:05:59.232         8    False
10        mbtha          2 1970-01-02 00:05:45.284         0    False
11        mbtha          2 1970-01-02 00:05:32.050         0    False
12          NaN          2 1970-01-02 00:05:29.821         0    False
13          NaN          2 1970-01-02 00:05:08.565         0    False
14     Mam Mwny          2 1970-01-02 00:04:42.934        16    False
15        wambu          2 1970-01-02 00:03:45.789        42    False
16          Mam          2 1970-01-02 00:03:26.917         0    False
17       antony          2 1970-01-02 00:00:48.159        20    False
18     Mam Mwny          1 2017-05-27 07:35:11.050        17    False
19                       2 2017-05-27 07:01:23.968         0    False
20                       2 2017-05-27 07:01:05.219         0    False
21         ruts          2 2017-04-20 13:39:31.297         0    False
22        caroh          2 2017-04-20 12:18:11.908         0    False
23        caroh          2 2017-04-20 12:18:02.147         0    False
24        caroh          2 2017-04-20 12:17:32.028         0    False
25        caroh          2 2017-04-20 12:17:24.232         0    False
26        caroh          2 2017-04-20 12:17:17.443         0    False
27        caroh          2 2017-04-20 12:17:09.118         0    False
28           #t          1 2017-04-17 19:00:31.454        78    False
29           #t          1 2017-04-17 18:59:43.491        20    False
..          ...        ...                     ...       ...      ...
112         NaN          2 2017-03-27 14:53:31.536        30    False
113         NaN          2 2017-03-27 14:50:46.289         0    False
114         NaN          2 2017-03-27 14:49:17.146         0    False
115         NaN          1 2017-03-27 14:45:38.741        65    False
116         Mak          2 2017-03-27 14:44:51.368         0    False
117         NaN          2 2017-03-27 13:46:07.431         0    False
118        Anko          2 2017-03-27 05:57:45.232        16    False
119         Mam          2 2017-03-27 05:22:54.879         0    False
120        Anko          2 2017-03-27 05:18:43.629        44    False
121         NaN          3 2017-03-27 05:02:31.944         0     True
122      bratha          3 2017-03-26 08:52:21.500         0     True
123      bratha          2 2017-03-25 07:05:02.916         0    False
124      bratha          3 2017-03-25 07:02:58.597         0     True
125         NaN          2 2017-03-24 18:50:55.517        47    False
126         NaN          2 2017-03-24 18:49:43.877        58    False
127         NaN          1 2017-03-24 17:18:58.632        10    False
128    Mam Mwny          3 2017-03-24 17:18:07.692         0     True
129    blansiko          2 2017-03-24 16:53:50.494         0    False
130        Anko          2 2017-03-23 05:48:17.798         8    False
131                      2 2017-03-23 05:47:11.460         0    False
132                      2 2017-03-23 05:46:14.007         0    False
133                      2 2017-03-23 05:45:17.566         0    False
134         NaN          2 2017-03-21 18:24:22.227         0    False
135         Mam          1 2017-03-20 16:55:24.594        23    False
136         Mam          2 2017-03-20 11:45:06.994        14    False
137         Mam          3 2017-03-20 11:45:03.234         0     True
138         Mam          2 2017-03-20 11:39:06.100        15    False
139         NaN          2 2017-03-20 11:35:59.668         0    False
140         Mam          1 2017-03-20 10:40:58.097        15    False
141         Mam          1 2017-03-20 10:39:03.737        18    False

     item_id         phone_number
0        139        +254094460325
1         71           0725246826
2         70           0725246826
3         22           0733526854
4         61        +254949926858
5         60        +254100893711
6         59        +254100893711
7        129        +254343182358
8        137        +254201058037
9         56           0780349547
10        64        +254100893711
11        63        +254100893711
12        53           0713346713
13       138               837798
14        98           0716799569
15        62        +254949926858
16         7           0725246826
17        21        +254094460325
18       142           0716799569
19       141           0711899188
20       140           0711899188
21       136           0702932659
22       135           0720054208
23       134           0720054208
24       133           0720054208
25       132           0720054208
26       131           0720054208
27       130           0720054208
28       128           0713346713
29       127           0713346713
..       ...                  ...
112       33           0712874266
113       32           0712874266
114       31           0712874266
115       30           0780349547
116       29        +254286629932
117       28           0712874266
118       27        +254343182358
119       26           0725246826
120       25        +254343182358
121       24           0780349547
122       23           0733526854
123       20           0733526854
124       19           0733526854
125       18                  100
126       17                  100
127       16           0780349547
128       15           0716799569
129       14                *144*
130       13        +254343182358
131       12           0704902454
132       11           0704902454
133       10           0704902454
134        9                  100
135        8           0725246826
136        6           0725246826
137        5           0725246826
138        4           0725246826
139        3  1419906061715655970
140        2           0725246826
141        1           0725246826

[142 rows x 7 columns]

user-37              cached_name  call_type                datetime  duration  \
0                aguvasu          2 2017-07-18 09:59:36.009        93
1                    NaN          3 2017-07-18 08:22:26.639         0
2                 Kigwei          2 2017-07-18 08:03:04.364        76
3            Kevin Odero          2 2017-07-18 07:52:49.972         6
4    Ma Mwange Caretaker          1 2017-07-18 07:18:17.005        38
5            Kevin Odero          2 2017-07-18 06:34:51.483         8
6            Kevin Odero          1 2017-07-18 06:34:03.137         0
7            Kevin Odero          2 2017-07-18 06:27:15.032        18
8                  Loice          1 2017-07-18 05:43:52.957        83
9                  Origi          2 2017-07-18 05:41:46.817        64
10                 Origi          1 2017-07-18 05:39:39.039        72
11           Kevin Odero          1 2017-07-18 05:08:48.310        14
12   Ma Mwange Caretaker          1 2017-07-18 04:28:39.126         8
13                 Origi          1 2017-07-18 03:36:36.179        37
14                 Peter          2 2017-07-18 03:33:00.693        52
15                 Origi          1 2017-07-18 03:30:08.660        65
16                 Peter          2 2017-07-17 20:14:22.272         0
17            ma moureen          2 2017-07-17 20:07:38.030        18
18   Ma Mwange Caretaker          3 2017-07-17 18:02:11.121         0
19                 Origi          1 2017-07-17 17:13:55.177         7
20                 Origi          2 2017-07-17 17:06:30.547         9
21            ma moureen          2 2017-07-17 15:20:55.987        64
22            ma moureen          2 2017-07-17 15:17:43.696        46
23                 Origi          1 2017-07-17 15:16:33.817        16
24            ma moureen          2 2017-07-17 15:13:38.649         0
25                 Origi          1 2017-07-17 15:10:35.594        16
26                 Origi          2 2017-07-17 15:02:11.883        32
27                 Origi          1 2017-07-17 14:51:45.505        10
28                 Origi          1 2017-07-17 14:25:49.378         9
29                 Origi          1 2017-07-17 14:24:31.200         0
..                   ...        ...                     ...       ...
970             Baby Gal          2 2017-04-03 19:38:30.271         0
971             Baby Gal          2 2017-04-03 19:37:51.174         0
972             Baby Gal          2 2017-04-03 19:36:50.806         0
973                Loice          1 2017-04-03 19:34:30.768         0
974                Loice          3 2017-04-03 19:33:37.702         0
975                Origi          3 2017-04-03 03:41:06.154         0
976             chadrick          1 2017-04-02 18:44:16.153        50
977             chadrick          2 2017-04-02 18:43:27.891         0
978                Origi          2 2017-04-02 18:42:21.039        21
979             chadrick          1 2017-04-02 18:41:07.814        31
980                 mimo          1 2017-04-02 18:15:19.656       128
981                  NaN          2 2017-04-02 12:20:45.656        36
982                  NaN          2 2017-04-01 20:10:37.685       274
983                  NaN          2 2017-04-01 20:05:36.518         0
984                  NaN          2 2017-04-01 20:04:45.297         0
985                  NaN          1 2017-04-01 20:04:09.046        10
986                  NaN          2 2017-04-01 19:39:10.752        10
987                  NaN          2 2017-04-01 19:38:55.827         0
988                  NaN          3 2017-04-01 19:05:23.977         0
989          obote choir          1 2017-04-01 16:26:44.783       106
990                  NaN          2 2017-04-01 14:16:35.226        63
991                  NaN          3 2017-04-01 14:13:38.049         0
992                  NaN          1 2017-04-01 10:34:57.188       373
993         geofrey ntti          1 2017-04-01 09:33:35.144         4
994                Origi          3 2017-04-01 03:59:02.608         0
995                Origi          3 2017-04-01 03:56:46.984         0
996               Garang          2 2017-04-01 01:33:39.441         0
997                  NaN          2 2017-04-01 01:32:57.225         0
998             Baby Gal          2 2017-03-31 20:00:43.679       141
999             Baby Gal          2 2017-03-31 19:59:32.515         0

     is_read  item_id   phone_number
0      False     3276     0790747814
1       True     3275     0709788470
2      False     3274     0723241323
3      False     3273  +254804479716
4      False     3272     0727162993
5      False     3271  +254804479716
6      False     3270  +254804479716
7      False     3269  +254804479716
8      False     3268     0712776303
9      False     3267     0713620047
10     False     3266     0713620047
11     False     3265  +254804479716
12     False     3264     0727162993
13     False     3263     0713620047
14     False     3262     0720777711
15     False     3261     0713620047
16     False     3260     0720777711
17     False     3259  +254861820598
18      True     3258     0727162993
19     False     3257     0713620047
20     False     3256     0713620047
21     False     3255     0723711861
22     False     3254     0723711861
23     False     3253     0713620047
24     False     3252     0723711861
25     False     3251     0713620047
26     False     3250     0713620047
27     False     3249     0713620047
28     False     3248     0713620047
29     False     3247     0713620047
..       ...      ...            ...
970    False     2281  +254698382832
971    False     2280  +254698382832
972    False     2279  +254698382832
973    False     2278     0712776303
974     True     2277     0712776303
975     True     2276     0713620047
976    False     2275     0717415052
977    False     2274     0717415052
978    False     2273     0713620047
979    False     2272     0717415052
980    False     2271  +254532295294
981    False     2270  +254225804496
982    False     2268  +254225804496
983    False     2267  +254225804496
984    False     2266  +254225804496
985    False     2265  +254225804496
986    False     2264  +254225804496
987    False     2263  +254225804496
988     True     2262  +254225804496
989    False     2261     0720616619
990    False     2260  +254225804496
991     True     2259  +254225804496
992    False     2258  +254761486819
993    False     2257     0723574096
994     True     2256     0713620047
995     True     2255     0713620047
996    False     2254     0729254905
997    False     2253  +254809358172
998    False     2252     0736767405
999    False     2251     0736767405

[1000 rows x 7 columns]
user-38           cached_name  call_type country_iso  data_usage  \
0                 NaN          1          KE           0
1                 NaN          1          KE           0
2                 NaN          1          KE           0
3                 NaN          1          KE           0
4                 NaN          1          KE           0
5                 NaN          1          KE           0
6                 NaN          1          KE           0
7                 NaN          1          KE           0
8                 NaN          2          KE           0
9                 NaN          2          KE           0
10                NaN          3          KE           0
11                NaN          3          KE           0
12                NaN          3          KE           0
13                NaN          1          KE           0
14      Mike (orange)          1          KE           0
15                NaN          2          KE           0
16        Cuzo Rutesh          2          KE           0
17                NaN          3          KE           0
18                NaN          3          KE           0
19                NaN          1          KE           0
20                NaN          1          KE           0
21                NaN          1          KE           0
22                NaN          1          KE           0
23                NaN          2          KE           0
24      Mike (orange)          1          KE           0
25      Mike (orange)          1          KE           0
26      Mike (orange)          1          KE           0
27      Mike (orange)          3          KE           0
28          Cuzo Kush          1          KE           0
29          Cuzo Kush          2          KE           0
...               ...        ...         ...         ...
2555    Mike (orange)          1          KE           0
2556            Tracy          2          KE           0
2557            Tracy          1          KE           0
2558    Mike (orange)          1          KE           0
2559  Baba Neville 06          2          KE           0
2560            Irene          1          KE           0
2561          Tabitha          2          KE           0
2562            Irene          1          KE           0
2563    Mike (orange)          1          KE           0
2564    Mike (orange)          1          KE           0
2565            Tracy          2          KE           0
2566    Mike (orange)          1          KE           0
2567    Mike (orange)          1          KE           0
2568    Mike (orange)          1          KE           0
2569    Mike (orange)          1          KE           0
2570  Baba Neville 06          1          KE           0
2571              NaN          3          KE           0
2572            Sheri          1          KE           0
2573            Sheri          3          KE           0
2574            Sheri          3          KE           0
2575    Mike (orange)          3          KE           0
2576    Mike (orange)          3          KE           0
2577    Mike (orange)          1          KE           0
2578    Mike (orange)          3          KE           0
2579    Mike (orange)          3          KE           0
2580    Mike (orange)          1          KE           0
2581              NaN          2          KE           0
2582              NaN          2          KE           0
2583              NaN          2          KE           0
2584              NaN          2          KE           0

                    datetime  duration  features_video geocoded_location  \
0    2017-08-18 18:44:27.076        81           False             Kenya
1    2017-08-18 17:44:18.388        86           False             Kenya
2    2017-08-18 17:42:41.951        50           False             Kenya
3    2017-08-18 17:36:11.075       150           False             Kenya
4    2017-08-18 17:33:09.024        21           False             Kenya
5    2017-08-18 17:29:57.596        65           False             Kenya
6    2017-08-18 17:23:41.344       181           False             Kenya
7    2017-08-18 17:18:16.354       119           False             Kenya
8    2017-08-18 15:16:51.570         0           False             Kenya
9    2017-08-18 15:16:26.718         0           False             Kenya
10   2017-08-18 15:07:16.442         0           False             Kenya
11   2017-08-18 15:06:06.843         0           False             Kenya
12   2017-08-18 15:05:05.413         0           False             Kenya
13   2017-08-18 14:57:28.153         5           False             Kenya
14   2017-08-18 14:49:57.216       392           False             Kenya
15   2017-08-18 14:06:10.303         0           False             Kenya
16   2017-08-18 13:33:10.404         0           False
17   2017-08-18 13:06:23.841         0           False             Kenya
18   2017-08-18 13:05:22.177         0           False             Kenya
19   2017-08-18 11:38:42.232        46           False             Kenya
20   2017-08-18 11:14:07.506        42           False
21   2017-08-18 07:44:49.076        97           False             Kenya
22   2017-08-18 07:41:24.054        47           False             Kenya
23   2017-08-18 07:38:24.863       118           False             Kenya
24   2017-08-18 06:42:36.807        88           False             Kenya
25   2017-08-18 05:09:02.621        97           False             Kenya
26   2017-08-18 04:14:39.183       207           False             Kenya
27   2017-08-18 04:13:56.155         0           False             Kenya
28   2017-08-17 16:10:15.704         7           False             Kenya
29   2017-08-17 16:09:31.001         0           False             Kenya
...                      ...       ...             ...               ...
2555 2017-05-02 18:39:45.509      1396           False             Kenya
2556 2017-05-02 18:26:32.611       299           False             Kenya
2557 2017-05-02 18:18:41.106       380           False             Kenya
2558 2017-05-02 13:31:21.724       331           False             Kenya
2559 2017-05-02 11:00:26.716         2           False             Kenya
2560 2017-05-02 10:31:33.098        49           False             Kenya
2561 2017-05-02 08:55:24.929         5           False             Kenya
2562 2017-05-02 07:19:13.699        56           False             Kenya
2563 2017-05-02 04:33:09.168       247           False             Kenya
2564 2017-05-02 03:04:41.071        36           False             Kenya
2565 2017-05-02 02:38:34.643         1           False             Kenya
2566 2017-05-01 18:20:23.540       237           False             Kenya
2567 2017-05-01 18:14:07.309        65           False             Kenya
2568 2017-05-01 18:09:38.352        31           False             Kenya
2569 2017-05-01 18:07:48.953        53           False             Kenya
2570 2017-05-01 18:07:05.127        10           False             Kenya
2571 2017-05-01 13:56:51.968         0           False             Kenya
2572 2017-05-01 12:00:56.130        36           False             Kenya
2573 2017-05-01 11:07:23.194         0           False             Kenya
2574 2017-05-01 10:32:14.193         0           False             Kenya
2575 2017-05-01 10:25:38.212         0           False             Kenya
2576 2017-05-01 10:24:51.115         0           False             Kenya
2577 2017-05-01 07:31:25.533        10           False             Kenya
2578 2017-05-01 05:11:00.408         0           False             Kenya
2579 2017-05-01 05:10:18.177         0           False             Kenya
2580 2017-04-30 18:10:35.385      1069           False             Kenya
2581 2017-04-30 17:19:27.390         0           False             Kenya
2582 2017-04-30 17:19:05.175         0           False             Kenya
2583 2017-04-30 16:46:07.725         0           False             Kenya
2584 2017-04-30 16:39:36.387        19           False             Kenya

      is_read  item_id   phone_number
0       False     2868     0706415702
1       False     2867     0706415702
2       False     2866     0706415702
3       False     2865     0706415702
4       False     2864     0706415702
5       False     2863     0706415702
6       False     2862     0706415702
7       False     2861     0706415702
8       False     2860     0738868017
9       False     2859     0706415702
10       True     2858     0706415702
11       True     2857     0706415702
12       True     2856     0706415702
13      False     2855     0738868017
14      False     2854     0771849412
15      False     2853     0738868017
16      False     2852     0798293293
17       True     2851     0738868017
18       True     2850     0738868017
19      False     2849     0738868017
20      False     2848     0776663430
21       True     2847     0706415702
22       True     2846     0706415702
23       True     2845     0706415702
24       True     2844     0771849412
25       True     2843     0771849412
26       True     2842     0771849412
27       True     2841     0771849412
28       True     2840     0708412717
29       True     2839     0708412717
...       ...      ...            ...
2555     True       38     0771849412
2556     True       37     0710969371
2557     True       36     0710969371
2558     True       35     0771849412
2559     True       34     0706829676
2560     True       33     0701579563
2561     True       32  +254166119802
2562     True       31     0701579563
2563     True       29     0771849412
2564     True       28     0771849412
2565     True       27  +254075000945
2566     True       26     0771849412
2567     True       25     0771849412
2568     True       24     0771849412
2569     True       23     0771849412
2570     True       22     0706829676
2571     True       21     0773130027
2572     True       20     0707829125
2573     True       17     0707829125
2574     True       16     0707829125
2575     True       15     0771849412
2576     True       14     0771849412
2577     True        9     0771849412
2578     True        8     0771849412
2579     True        7     0771849412
2580     True        5     0771849412
2581     True        4  +254631050537
2582     True        3  +254631050537
2583     True        2  +254631050537
2584     True        1  +254631050537

[2585 rows x 11 columns]
user-39      call_type country_iso  data_usage                datetime  duration  \
0            1          KE           0 2017-07-01 10:13:44.059        16
1            2          KE           0 2017-07-01 09:59:33.227        23
2            1          KE           0 2017-07-01 09:56:49.524        34
3            1          KE           0 2017-07-01 09:55:35.118        39
4            1          KE           0 2017-07-01 09:06:56.479        63
5            2          KE           0 2017-07-01 09:00:26.713        45
6            1          KE           0 2017-07-01 08:58:29.181        90
7            2          KE           0 2017-07-01 08:50:22.138        28
8            3          KE           0 2017-07-01 08:50:07.431         0
9            1          KE           0 2017-07-01 08:49:04.041        37
10           1          KE           0 2017-07-01 08:22:12.030        47
11           2          KE           0 2017-07-01 08:13:36.006        44
12           1          KE           0 2017-07-01 08:12:28.084        15
13           1          KE           0 2017-07-01 07:30:06.035        23
14           1          KE           0 2017-07-01 07:22:57.055        62
15           2          KE           0 2017-07-01 06:52:34.286        19
16           3          KE           0 2017-07-01 06:38:01.033         0
17           3          KE           0 2017-07-01 06:31:17.538         0
18           2          KE           0 2017-07-01 06:14:49.840        41
19           1          KE           0 2017-07-01 06:04:14.029        19
20           2          KE           0 2017-07-01 06:01:18.119        13
21           2          KE           0 2017-07-01 05:54:33.808         0
22           2          KE           0 2017-07-01 05:48:57.464        49
23           1          KE           0 2017-07-01 05:46:34.039        33
24           1          KE           0 2017-07-01 05:40:29.063       259
25           1          KE           0 2017-07-01 05:09:47.043        31
26           3          KE           0 2017-07-01 04:50:14.130         0
27           2          KE           0 2017-07-01 04:48:55.755        18
28           2          KE           0 2017-07-01 04:38:13.573         0
29           1          KE           0 2017-07-01 04:00:29.059        14
..         ...         ...         ...                     ...       ...
970          2          KE           0 2017-05-20 13:04:15.152         0
971          2          KE           0 2017-05-20 13:03:20.550         0
972          1          KE           0 2017-05-20 12:48:23.823        34
973          2          KE           0 2017-05-20 12:16:05.672         4
974          3          KE           0 2017-05-20 11:43:00.025         0
975          2          KE           0 2017-05-20 11:40:18.511         0
976          2          KE           0 2017-05-20 11:39:59.950         0

user-40     cached_name  call_type                datetime  duration  is_read  \
0          davy          2 2017-05-24 16:29:22.631        64      0.0
1          davy          2 2017-05-24 16:29:03.244         7      0.0
2    Amos Loans          2 2017-05-24 15:27:20.306         0      0.0
3        Rachel          2 2017-05-24 15:09:08.226         0      0.0
4      Dr Kungu          2 2017-05-24 15:05:55.362         0      0.0
5    Amos Loans          2 2017-05-24 15:04:14.998         0      0.0
6    Amos Loans          2 2017-05-24 13:44:05.381         0      0.0
7    Amos Loans          2 2017-05-24 13:43:11.453         0      0.0
8        Winnie          2 2017-05-24 12:04:24.467        17      0.0
9          Asha          1 2017-05-24 10:09:07.916        12      0.0
10         Asha          1 2017-05-24 09:57:14.344        12      0.0
11       Mariam          1 2017-05-24 09:49:37.730        14      0.0
12       Mariam          1 2017-05-24 09:43:26.636        35      0.0
13       Mariam          2 2017-05-24 09:42:57.396         2      0.0
14   Amos Loans          2 2017-05-24 09:20:44.089         9      0.0
15       Mariam          2 2017-05-24 09:20:28.413         0      0.0
16   Amos Loans          2 2017-05-24 09:12:07.576         0      0.0
17         Rita          2 2017-05-24 08:26:17.950         1      0.0
18       Mariam          1 2017-05-24 07:08:13.778        13      0.0
19       Mariam          1 2017-05-24 05:05:45.478        34      0.0
20       Mariam          1 2017-05-24 05:03:29.741        86      0.0
21          NaN          1 2017-05-24 04:59:36.481        17      0.0
22          NaN          3 2017-05-24 04:50:42.466         0      1.0
23   Amos Loans          2 2017-05-23 17:12:25.092        41      0.0
24       bildad          2 2017-05-23 15:12:10.815        16      0.0
25   Amos Loans          2 2017-05-23 15:11:05.030        34      0.0
26       Winnie          2 2017-05-23 12:11:32.208         0      0.0
27          NaN          1 2017-05-23 09:36:49.811        30      0.0
28          NaN          2 2017-05-23 09:36:12.384        12      0.0
29       Winnie          2 2017-05-23 09:35:57.904         0      0.0
..          ...        ...                     ...       ...      ...
584      Mariam          2 2017-04-15 07:29:19.781        15      1.0
585      Mariam          3 2017-04-15 07:23:08.753         0      1.0
586  Kenne Chai          2 2017-04-15 07:04:30.019        10      1.0
587         NaN          3 2017-04-14 19:18:53.938         0      1.0
588       smoty          1 2017-04-14 19:11:10.530       105      NaN
589        Asha          1 2017-04-14 11:04:33.866        14      NaN
590  Summy Iten          1 2017-04-14 10:57:09.625       102      NaN
591  Summy Iten          2 2017-04-14 10:53:34.822         6      NaN
592  Accountant          1 2017-04-14 10:53:02.867         8      NaN
593  Accountant          1 2017-04-14 10:22:50.891         8      NaN
594        Asha          1 2017-04-14 10:20:03.896        30      NaN
595       Aisha          2 2017-04-14 08:40:21.634         7      NaN
596  Accountant          1 2017-04-14 08:25:15.901        52      NaN
597  Accountant          1 2017-04-14 07:32:37.435        55      NaN
598  Accountant          1 2017-04-14 06:33:58.379        43      NaN
599  Summy Iten          1 2017-04-14 06:31:00.365        68      NaN
600  Accountant          2 2017-04-14 06:23:00.676         4      NaN
601  Accountant          3 2017-04-14 06:22:33.299         0      NaN
602         NaN          2 2017-04-14 06:13:50.231         0      NaN
603         NaN          2 2017-04-14 06:13:34.893         4      NaN
604  Summy Iten          1 2017-04-14 06:09:12.033       209      NaN
605  Summy Iten          1 2017-04-14 06:08:25.632         0      NaN
606  Summy Iten          2 2017-04-14 06:07:12.050         6      NaN
607  Accountant          2 2017-04-14 05:53:15.680         0      NaN
608         NaN          2 2017-04-14 05:52:22.983         0      NaN
609         NaN          2 2017-04-14 05:52:06.588         3      NaN
610  Summy Iten          1 2017-04-14 05:37:53.692        91      NaN
611  Accountant          2 2017-04-14 05:37:27.003         0      NaN
612  Accountant          2 2017-04-14 05:37:00.419         0      NaN
613  Summy Iten          2 2017-04-14 05:35:55.404        40      NaN

     item_id   phone_number
0       1726     0720679734
1       1725     0720679734
2       1724     0723544079
3       1723     0726489046
4       1722     0702147544
5       1721     0723544079
6       1720     0723544079
7       1719     0723544079
8       1718     0725147231
9       1717     0725872411
10      1716     0725872411
11      1715     0711422708
12      1714     0711422708
13      1713     0711422708
14      1712     0723544079
15      1711     0711422708
16      1710     0723544079
17      1709     0716131808
18      1708     0711422708
19      1707     0711422708
20      1706     0711422708
21      1705     0780968853
22      1704     0780968853
23      1703     0723544079
24      1702  +254320437787
25      1701     0723544079
26      1700     0725147231
27      1699     0780968853
28      1698     0780968853
29      1697     0725147231
..       ...            ...
584     1142     0711422708
585     1141     0711422708
586     1140  +254146064003
587     1139    +6762307241
588       21     0724201011
589       20     0725872411
590       19     0771191211
591       18  +254125918281
592       17     0718086046
593       16     0718086046
594       15     0725872411
595       14  +254831476165
596       13     0718086046
597       12     0718086046
598       11     0718086046
599       10  +254125918281
600        9     0718086046
601        8  +254237433983
602        7     0780968853
603        6     0780968853
604        5  +254125918281
605        4  +254125918281
606        3  +254125918281
607        2     0718086046
608        1  +254081932684
609        0  +254081932684
610        3  +254125918281
611        2     0718086046
612        1     0718086046
613        0  +254125918281

[614 rows x 7 columns]
user-41           cached_name  call_type                datetime  duration  is_read  \
0                 NaN          3 2017-11-26 10:17:53.448         0     True
1              SHABIK          2 2017-11-25 17:54:28.828         0    False
2     NGOGAN MACHARIA          1 2017-11-25 11:48:00.495        20    False
3                 MUM          3 2017-11-25 10:05:33.075         0     True
4                 NaN          2 2017-11-24 10:49:41.719         0    False
5        COSSY MUTURI          1 2017-11-24 07:06:51.462        52    False
6              MORUJE          1 2017-11-22 11:18:14.168         1    False
7        SUSAN MBUGUA          2 2017-11-22 06:17:10.087         0    False
8        SUSAN MBUGUA          3 2017-11-22 06:07:24.592         0     True
9     EUNICE WATHIGIU          1 2017-11-21 10:13:02.618       100    False
10    MAINA SAMARITAN          3 2017-11-20 10:52:20.630         0     True
11    MAINA SAMARITAN          3 2017-11-19 11:11:49.582         0     True
12    MAINA SAMARITAN          2 2017-11-19 09:57:50.691        73    False
13    MAINA SAMARITAN          2 2017-11-19 09:57:34.761         0    False
14    MAINA SAMARITAN          2 2017-11-19 09:56:53.924         4    False
15    MAINA SAMARITAN          2 2017-11-19 09:56:48.578         0    False
16    MAINA SAMARITAN          2 2017-11-19 09:56:41.214         0    False
17    MAINA SAMARITAN          3 2017-11-19 09:55:00.364         0     True
18    MAINA SAMARITAN          3 2017-11-19 08:39:26.226         0     True
19    MAINA SAMARITAN          3 2017-11-19 08:33:01.972         0     True
20        WAMUYU LUCY          2 2017-11-17 15:15:12.453       421    False
21        WAMUYU LUCY          1 2017-11-17 14:57:43.496        64    False
22        NJAU DRIVER          2 2017-11-17 13:40:23.031        37    False
23                NaN          3 2017-11-17 11:41:56.331         0     True
24       STELLA DAVID          2 2017-11-13 11:34:50.421       115    False
25       STELLA DAVID          1 2017-11-13 11:34:18.915         1    False
26       STELLA DAVID          2 2017-11-13 10:52:41.043         0    False
27             WAMUYU          1 2017-11-13 10:20:19.865       148    False
28             WAMUYU          2 2017-11-13 10:17:45.459         0    False
29             WAMUYU          2 2017-11-13 10:17:38.867         0    False
...               ...        ...                     ...       ...      ...
1184      CARLO KILEE          2 2017-05-24 16:53:36.197         2    False
1185              NaN          1 2017-05-24 16:53:14.508        13    False
1186      CARLO KILEE          2 2017-05-24 16:52:04.111         0    False
1187      CARLO KILEE          2 2017-05-24 16:50:44.868         0    False
1188      CARLO KILEE          2 2017-05-24 16:49:53.129         0    False
1189      CARLO KILEE          2 2017-05-24 16:49:26.885         0    False
1190      CARLO KILEE          2 2017-05-24 16:40:26.351        11    False
1191             FORO          2 2017-05-24 16:09:00.908        32    False
1192     CIRU WANGARI          2 2017-05-24 16:06:49.564        87    False
1193      CARLO KILEE          2 2017-05-24 16:05:31.893         0    False
1194      CARLO KILEE          2 2017-05-24 15:43:59.327        19    False
1195             FORO          3 2017-05-24 15:43:04.080         0     True
1196             FORO          3 2017-05-24 14:38:37.168         0     True
1197      CARLO KILEE          2 2017-05-24 14:05:54.479        32    False
1198              NaN          2 2017-05-24 13:33:17.089        24    False
1199              NaN          2 2017-05-24 13:30:28.919        26    False
1200              NaN          1 2017-05-24 13:29:49.448         3    False
1201              NaN          2 2017-05-24 11:52:45.747        74    False
1202              NaN          3 2017-05-24 11:49:45.331         0     True
1203              NaN          2 2017-05-24 11:29:32.759       176    False
1204      CARLO KILEE          2 2017-05-24 09:17:54.134       115    False
1205              NaN          2 2017-05-24 07:41:41.269        87    False
1206      CARLO KILEE          2 2017-05-24 07:39:25.633         0    False
1207              NaN          2 2017-05-24 07:38:31.223         0    False
1208              NaN          2 2017-05-24 07:37:42.494         0    False
1209      CARLO KILEE          2 2017-05-24 07:32:18.943         0    False
1210     CIRU WANGARI          2 2017-05-23 18:28:11.596       192    False
1211     CIRU WANGARI          2 2017-05-23 18:27:53.179         0    False
1212      CARLO KILEE          2 2017-05-23 18:13:19.985         0    False
1213      CARLO KILEE          2 2017-05-23 17:19:08.035         0    False

      item_id phone_number
0          27   0753650880
1          26       290742
2          25   0715685138
3          24   0715366533
4          23   0722135093
5          22   0724423516
6          21   0716464744
7          20   0725991447
8          19   0725991447
9          16   0720443028
10         15   0726245877
11         14   0726245877
12         13   0726245877
13         12   0726245877
14         11   0726245877
15         10   0726245877
16          9   0726245877
17          8   0726245877
18          7   0726245877
19          6   0726245877
20          4   0791063958
21          3   0791063958
22          2   0725425505
23          1   0723930830
24       5764   0718628993
25       5763   0718628993
26       5762   0718628993
27       5761   0791063958
28       5760   0791063958
29       5759   0791063958
...       ...          ...
1184     2813   0729208154
1185     2812   0776261181
1186     2811   0729208154
1187     2810   0729208154
1188     2809   0729208154
1189     2808   0729208154
1190     2807   0729208154
1191     2806   0716145265
1192     2805   0721872160
1193     2804   0729208154
1194     2803   0729208154
1195     2802   0716145265
1196     2801   0716145265
1197     2800   0729208154
1198     2799   0727241259
1199     2798   0721894844
1200     2797   0721894844
1201     2796   0721894844
1202     2795   0721894844
1203     2794   0721894844
1204     2793   0729208154
1205     2792   0740105501
1206     2791   0729208154
1207     2790   0740105501
1208     2789   0740105501
1209     2788   0729208154
1210     2787   0721872160
1211     2786   0721872160
1212     2785   0729208154
1213     2784   0729208154

[1214 rows x 7 columns]
user-42       call_type country_iso  data_usage                datetime  duration  \
0             2          KE           0 2017-08-08 13:11:57.498         6
1             2          KE           0 2017-08-08 13:11:47.886         0
2             2          KE           0 2017-08-08 13:11:33.879         0
3             1          KE           0 2017-08-08 12:46:57.436        67
4             2          KE           0 2017-08-08 12:43:11.523        37
5             3          KE           0 2017-08-08 12:29:02.058         0
6             1          KE           0 2017-08-08 10:47:12.801         0
7             2          KE           0 2017-08-08 08:44:02.083       193
8             2          KE           0 2017-08-08 08:42:57.329        38
9             2          KE           0 2017-08-08 08:42:02.422         0
10            2          KE           0 2017-08-08 08:21:35.291         0
11            2          KE           0 2017-08-08 07:17:23.815        80
12            2          KE           0 2017-08-08 07:11:42.188        39
13            2          KE           0 2017-08-08 06:20:22.623        37
14            2          KE           0 2017-08-08 06:20:16.621         0
15            1          KE           0 2017-08-08 04:54:04.451       100
16            1          KE           0 2017-08-08 04:34:24.781        27
17            2          KE           0 2017-08-08 04:30:51.737         0
18            1          KE           0 2017-08-08 04:16:42.493        47
19            2          KE           0 2017-08-08 04:15:18.234         5
20            2          KE           0 2017-08-08 04:14:53.304        12
21            1          KE           0 2017-08-08 04:14:10.822        18
22            2          KE           0 2017-08-08 04:13:18.985         8
23            2          KE           0 2017-08-08 04:12:26.393        27
24            1          KE           0 2017-08-08 03:54:13.646        24
25            1          KE           0 2017-08-08 03:45:24.552        27
26            1          KE           0 2017-08-08 03:10:14.525        17
27            2          KE           0 2017-08-08 03:08:48.569        28
28            1          KE           0 2017-08-08 03:08:32.029         5
29            1          KE           0 2017-08-08 03:04:30.523        12
...         ...         ...         ...                     ...       ...
1739          3          KE           0 2017-05-09 08:19:34.036         0
1740          2          KE           0 2017-05-09 06:27:02.229       107
1741          2          KE           0 2017-05-09 06:26:55.108         0
1742          2          KE           0 2017-05-09 06:06:08.915        14
1743          2          KE           0 2017-05-08 18:35:40.923         0
1744          2          KE           0 2017-05-08 18:34:57.620         0
1745          2          KE           0 2017-05-08 15:04:01.352         7
1746          2          KE           0 2017-05-08 14:53:48.384       101
1747          2          KE           0 2017-05-08 13:42:43.146       107
1748          2          KE           0 2017-05-08 13:40:53.781         0
1749          2          KE           0 2017-05-08 13:40:09.585         0
1750          1          KE           0 2017-05-08 13:18:40.226        53
1751          2          KE           0 2017-05-08 12:07:16.542         0
1752          1          KE           0 2017-05-08 09:22:48.493        53
1753          3          KE           0 2017-05-08 09:02:01.359         0
1754          2          KE           0 2017-05-07 16:38:39.056       359
1755          2          KE           0 2017-05-07 15:31:47.293        11
1756          1          KE           0 2017-05-07 07:00:04.770        31
1757          1          KE           0 2017-05-06 22:59:05.040         7
1758          1          KE           0 2017-05-06 15:52:31.719        66
1759          2          KE           0 2017-05-06 15:50:28.273        13
1760          1          KE           0 2017-05-06 13:10:06.636        46
1761          1          KE           0 2017-05-06 13:01:39.201        39
1762          1          KE           0 2017-05-06 12:41:55.816        43
1763          2          KE           0 2017-05-06 11:44:32.036       454
1764          3          KE           0 2017-05-06 11:31:25.304         0
1765          2          KE           0 2017-05-06 11:26:56.672        63
1766          1          KE           0 2017-05-06 11:21:23.669        41
1767          2          KE           0 2017-05-06 10:28:49.949         0
1768          2          KE           0 2017-05-06 10:27:55.443         0

      features_video geocoded_location  is_read  item_id   phone_number
0              False                      False     4078           *544
1              False             Kenya    False     4077  +254712266281
2              False             Kenya    False     4076  +254712266281
3              False             Kenya    False     4075     0770297714
4              False             Kenya    False     4074     0700444534
5              False             Kenya     True     4073     0770297714
6              False             Kenya    False     4072     0724695781
7              False             Kenya    False     4071     0710388703
8              False             Kenya    False     4070     0710388703
9              False             Kenya    False     4069     0710388703
10             False             Kenya    False     4068     0710388703
11             False             Kenya    False     4067     0700444534
12             False             Kenya    False     4066     0723409940
13             False             Kenya    False     4065     0723409940
14             False             Kenya    False     4064     0710388703
15             False             Kenya    False     4063     0724695781
16             False             Kenya    False     4062     0723409940
17             False             Kenya    False     4061     0723409940
18             False             Kenya    False     4060     0723409940
19             False             Kenya    False     4059     0723409940
20             False             Kenya    False     4058     0707709589
21             False             Kenya    False     4057     0723409940
22             False             Kenya    False     4056     0723409940
23             False             Kenya    False     4055     0723409940
24             False             Kenya    False     4054     0723409940
25             False             Kenya    False     4053     0710388703
26             False             Kenya    False     4052     0723409940
27             False             Kenya    False     4051     0723409940
28             False             Kenya    False     4050     0723409940
29             False             Kenya    False     4049     0723409940
...              ...               ...      ...      ...            ...
1739           False             Kenya     True      382     0723409940
1740           False             Kenya    False      381     0700444534
1741           False             Kenya    False      380     0720831519
1742           False             Kenya    False      379     0723409940
1743           False             Kenya    False      378     0723409940
1744           False             Kenya    False      377     0723409940
1745           False             Kenya    False      376     0712982847

user-44     cached_name  call_type                datetime  duration  item_id  \
0    HAMAD YU 2          1 2017-06-07 13:04:09.766      1551      439
1       HAMAD 2          2 2017-06-07 13:03:14.230         5      438
2       HAMAD 2          2 2017-06-07 13:01:55.879         5      437
3       HAMAD 2          2 2017-06-07 12:22:07.728         9      436
4       HAMAD 2          2 2017-06-07 12:19:48.188        10      435
5           NaN          2 2017-06-07 12:19:29.421        10      434
6    HAMAD YU 2          1 2017-06-07 07:12:30.187      1074      433
7    HAMAD YU 2          2 2017-06-07 07:11:58.401        13      432
8    HAMAD YU 2          1 2017-06-07 07:10:13.239        27      431
9           NaN          2 2017-06-07 07:09:29.667        33      430
10      HAMAD 2          1 2017-06-07 07:06:44.646         9      429
11      HAMAD 2          1 2017-06-07 03:24:10.239       385      428
12      DAM_SIZ          1 2017-06-06 16:19:06.113       228      427
13      DAM_SIZ          1 2017-06-06 16:14:15.221         0      426
14      HAMAD 2          1 2017-06-06 13:48:07.709       374      425
15   HAMAD YU 2          1 2017-06-06 12:40:15.485       645      424
16   HAMAD YU 2          1 2017-06-06 12:37:45.203        49      423
17   HAMAD YU 2          1 2017-06-06 12:23:30.325       632      422
18      HAMAD 2          2 2017-06-06 12:22:32.714        11      421
19          NaN          2 2017-06-06 12:21:53.912        30      420
20      HAMAD 2          1 2017-06-06 10:15:37.215        92      419
21      HAMAD 2          1 2017-06-06 05:30:33.044       120      418
22      HAMAD 2          1 2017-06-06 05:28:41.521        29      417
23          NaN          1 2017-06-06 05:25:41.482        32      416
24      HAMAD 2          3 2017-06-06 02:58:49.559         0      415
25      HAMAD 2          1 2017-06-06 01:42:01.252         1      414
26   DOMMINIC C          1 2017-06-05 19:29:43.932        12      413
27      HAMAD 2          1 2017-06-05 18:34:14.302       314      412
28      HAMAD 2          1 2017-06-05 18:16:34.205        33      411
29      HAMAD 2          1 2017-06-05 16:26:52.253        67      410
..          ...        ...                     ...       ...      ...
754    PELTER B          2 2017-04-22 17:35:49.003         0       29
755     HAMAD 2          2 2017-04-22 16:59:36.553         0       28
756     HAMAD 2          2 2017-04-22 16:17:58.173         0       27
757    PELTER B          2 2017-04-22 06:31:13.278         0       26
758      MARTHA          3 2017-04-22 06:01:10.214         0       25
759      MARTHA          2 2017-04-22 05:58:24.893         0       24
760      MARTHA          3 2017-04-22 05:46:06.214         0       23
761      MARTHA          2 2017-04-22 05:22:42.098        67       22
762      MARTHA          3 2017-04-22 05:18:58.252         0       21
763       LEWIS          2 2017-04-22 04:57:42.584         0       20
764      MARTHA          2 2017-04-22 04:56:36.915         0       19
765      MARTHA          2 2017-04-22 04:55:42.865         0       18
766     HAMAD 2          3 2017-04-21 10:24:49.362         0       17
767     DENNO C          1 2017-04-21 08:27:06.648        11       16
768     DENNO C          2 2017-04-21 08:05:35.308        11       15
769         NaN          2 2017-04-21 07:02:28.453         0       14
770     DENNO C          2 2017-04-21 07:00:30.022         0       13
771         NaN          2 2017-04-21 06:51:07.132         0       12
772         NaN          2 2017-04-21 06:39:22.579         0       11
773         NaN          2 2017-04-21 06:38:47.404         0       10
774         NaN          2 2017-04-21 06:38:12.200         0        9
775         NaN          2 2017-04-21 06:37:36.142         0        8
776         NaN          2 2017-04-21 06:37:01.584         0        7
777         NaN          2 2017-04-21 06:36:24.649         0        6
778     NANCY C          1 2017-04-21 04:26:46.437        30        5
779     BRO BEN          2 2017-04-21 04:17:48.228        12        4
780     NANCY C          2 2017-04-21 04:16:41.587         0        3
781     BRO BEN          2 2017-04-21 04:16:33.631         0        2
782     DENNO C          1 2017-04-21 04:06:29.299        67        1
783     HAMAD 2          2 2017-04-20 13:41:34.837         0        0

     phone_number
0    254928089374
1       791708851
2       791708851
3       791708851
4       791708851
5    254928089374
6    254928089374
7    254928089374
8    254928089374
9    254928089374
10      791708851
11      791708851
12      721562958
13      721562958
14      791708851
15   254928089374
16   254928089374
17   254928089374
18      791708851
19   254928089374
20      791708851
21      791708851
22      791708851
23      799069951
24      791708851
25      791708851
26      711244097
27      791708851
28      791708851
29      791708851
..            ...
754     727719355
755     791708851
756     791708851
757     727719355
758  254167646446
759  254167646446
760  254167646446
761  254167646446
762  254167646446
763  254949450579
764     724936189
765     724936189
766     791708851
767     790269653
768     790269653
769     716845145
770     790269653
771  254593030894
772  254593030894
773  254593030894
774  254593030894
775  254593030894
776  254593030894
777     751163185
778     715144880
779     724851173
780     715144880
781     724851173
782     790269653
783     791708851

[784 rows x 6 columns]
user-45       cached_name  call_type country_iso  data_usage                datetime  \
0             NaN          2          KE           0 2017-10-02 07:04:29.331
1             NaN          2          KE           0 2017-10-02 07:02:58.849
2             NaN          2          KE           0 2017-10-02 07:02:39.421
3             NaN          3          KE           0 2017-10-02 07:01:16.321
4         Hesbonz          2          KE           0 2017-10-02 04:47:52.381
5           Jelaa          2          KE           0 2017-10-01 20:22:54.562
6           Jelaa          2          KE           0 2017-10-01 20:19:43.417
7             NaN          1          KE           0 2017-10-01 19:15:17.200
8             NaN          1          KE           0 2017-10-01 19:10:26.613
9             NaN          1          KE           0 2017-10-01 19:09:16.016
10         Dismas          2          KE           0 2017-10-01 18:48:48.294
11          Antho          3          KE           0 2017-10-01 16:24:40.296
12         Dismas          3          KE           0 2017-10-01 16:19:20.268
13       Bethwell          2          KE           0 2017-10-01 16:13:20.731
14        Hesbonz          3          KE           0 2017-10-01 10:18:27.260
15            Fei          2          KE           0 2017-10-01 09:46:30.404
16            NaN          1          KE           0 2017-09-30 19:22:14.254
17          Antho          3          KE           0 2017-09-30 17:47:42.248
18          Antho          1          KE           0 2017-09-30 15:55:26.258
19            NaN          2          KE           0 2017-09-30 15:11:19.063
20      Bro Aleky          2          KE           0 2017-09-30 14:59:28.614
21          Antho          1          KE           0 2017-09-30 14:29:31.295
22          Antho          1          KE           0 2017-09-30 14:28:51.285
23          Jelaa          2          KE           0 2017-09-30 13:07:19.738
24       Bethwell          2          KE           0 2017-09-30 12:25:29.581
25          Jelaa          2          KE           0 2017-09-30 09:47:20.051
26          Jelaa          2          KE           0 2017-09-30 09:26:31.085
27        gloriah          2          KE           0 2017-09-29 20:48:16.187
28          Jelaa          2          KE           0 2017-09-29 20:31:16.247
29          B@Tuy          2          KE           0 2017-09-29 19:54:18.351
...           ...        ...         ...         ...                     ...
1790       Elphas          2          KE           0 2017-04-22 16:05:04.392
1791         Boaz          1          KE           0 2017-04-22 15:05:53.989
1792     BRO LASH          2          KE           0 2017-04-22 12:43:35.353
1793    Bro Bryan          2          KE           0 2017-04-21 16:43:36.283
1794    Bro Bryan          2          KE           0 2017-04-21 15:47:33.270
1795    Bro Bryan          2          KE           0 2017-04-21 15:44:38.507
1796      Victork          1          KE           0 2017-04-21 04:10:23.395
1797          NaN          1          KE           0 2017-04-19 03:53:53.282
1798          NaN          1          KE           0 2017-04-19 03:53:12.455
1799  Jomb Victor          1          KE           0 2017-04-17 18:50:35.444
1800     Bethwell          2          KE           0 2017-04-16 16:58:22.163
1801     Bethwell          2          KE           0 2017-04-16 16:54:50.749
1802        Hilla          1          KE           0 2017-04-15 17:42:15.362
1803          NaN          1          KE           0 2017-04-15 16:08:17.254
1804    Cuzo jiri          2          KE           0 2017-04-15 14:20:56.012
1805       Dismas          1          KE           0 2017-04-14 19:29:50.278
1806    AMOZ Amoz          2          KE           0 2017-04-14 14:08:35.174
1807          NaN          2          KE           0 2017-04-13 06:11:57.467
1808       Kosgey          2          KE           0 2017-03-30 09:17:25.656
1809      Hesbonz          1          KE           0 2017-03-30 04:29:41.953
1810       Kosgey          2          KE           0 2017-03-29 17:16:19.827
1811          Fei          2          KE           0 2017-03-28 19:32:57.225
1812          NaN          2          KE           0 2017-03-28 08:35:13.738
1813          NaN          2          KE           0 2017-03-28 08:27:10.450
1814          NaN          2          KE           0 2017-03-28 04:23:02.892
1815       Elphas          1          KE           0 2017-03-27 17:52:41.223
1816          NaN          2          KE           0 2017-03-26 18:44:04.266
1817          NaN          2          KE           0 2017-03-26 18:43:49.026
1818        Hilla          1          KE           0 2017-03-26 18:38:20.424
1819       Elphas          2          KE           0 2017-03-25 10:20:00.312

      duration  features_video geocoded_location  is_read  item_id  \
0            9           False             Kenya    False     7880
1            0           False             Kenya    False     7879
2            0           False             Kenya    False     7878
3           26           False             Kenya     True     7877
4            9           False             Kenya    False     7876
5            0           False             Kenya    False     7875
6            0           False             Kenya    False     7873
7           15           False                      False     7872
8           35           False                      False     7871
9           15           False                      False     7870
10           0           False                      False     7869
11          11           False             Kenya     True     7868
12          24           False                       True     7867
13          24           False             Kenya    False     7866
14          40           False             Kenya     True     7865
15          66           False             Kenya    False     7864
16          12           False                      False     7863
17           1           False             Kenya     True     7862
18          24           False             Kenya    False     7861
19           0           False             Kenya    False     7860
20           0           False             Kenya    False     7859
21           7           False             Kenya    False     7858
22          18           False             Kenya    False     7857
23           0           False             Kenya    False     7856
24          17           False             Kenya    False     7855
25          98           False             Kenya    False     7854
26           0           False             Kenya    False     7853
27           0           False             Kenya    False     7852
28         488           False             Kenya    False     7851
29          19           False                      False     7850
...        ...             ...               ...      ...      ...
1790        27           False             Kenya    False     5570
1791        60           False             Kenya    False     5567
1792        94           False             Kenya    False     5563
1793         0           False             Kenya    False     5551
1794         0           False             Kenya    False     5550
1795         0           False             Kenya    False     5549
1796        60           False             Kenya    False     5531
1797        15           False                      False     5465
1798        10           False                      False     5464
1799       211           False             Kenya    False     5457
1800        39           False             Kenya    False     5429
1801         0           False             Kenya    False     5428
1802       325           False             Kenya    False     5411
1803        17           False             Kenya    False     5409
1804       109           False                      False     5406
1805         5           False                      False     5387
1806        72           False             Kenya    False     5368
1807        89           False                      False     5336
1808       157           False             Kenya    False     5174
1809        33           False             Kenya    False     5173
1810         0           False             Kenya    False     5172
1811         0           False             Kenya    False     5162
1812         0           False             Kenya    False     5151
1813         0           False             Kenya    False     5150
1814        26           False             Kenya    False     5149
1815         8           False             Kenya    False     5147
1816         0           False             Kenya    False     5118
1817         0           False             Kenya    False     5117
1818       247           False             Kenya    False     5116
1819         0           False             Kenya    False     5107

       phone_number
0        0711850416
1        0711850416
2        0711850416
3        0711850416
4        0729218474
5     +254746007742
6     +254746007742
7        0791952726
8        0791952726
9        0791952726
10       0798871967
11       0710410778
12       0798871967
13       0713334649
14       0729218474
15    +254618531604
16       0799065481
17       0710410778
18       0710410778
19       0720080336
20       0711896511
21       0710410778
22       0710410778
23    +254746007742
24       0713334649
25    +254746007742
26    +254746007742
27       0705445972
28    +254746007742
29       0798229771
...             ...
1790     0723655873
1791     0724123618
1792     0724358617
1793     0710516408
1794     0710516408
1795     0710516408
1796     0722504607
1797     0795623613
1798     0795623613
1799     0725163400
1800     0713334649
1801     0713334649
1802     0724388912
1803     0733786029
1804     0797096781
1805     0798871967
1806     0718479757
1807  +254043514084
1808  +254123641833
1809     0729218474
1810  +254123641833
1811  +254618531604
1812     0704070920
1813     0704070920
1814  +254685946612
1815     0723655873
1816  +254682093496
1817  +254682093496
1818     0724388912
1819     0723655873

[1820 rows x 11 columns]

user-46      cached_name  call_type                datetime  duration  is_read  \
0            NaN          1 2017-05-24 05:00:35.433         0    False
1            NaN          1 2017-05-24 04:49:00.146         0    False
2            NaN          2 2017-05-24 04:45:58.010        24    False
3            NaN          1 2017-05-24 04:45:42.085         0    False
4            NaN          2 2017-05-24 04:43:24.890        18    False
5          ponta          1 2017-05-23 20:59:07.298         0    False
6          ponta          2 2017-05-23 20:49:47.924        35    False
7            NaN          1 2017-05-23 20:48:50.736        20    False
8            NaN          3 2017-05-23 20:47:53.043         0     True
9          ponta          1 2017-05-23 20:42:24.167         0    False
10         ponta          1 2017-05-23 20:36:09.385         0    False
11         ponta          1 2017-05-23 20:31:12.303         0    False
12         ponta          2 2017-05-23 20:29:59.046         0    False
13         ponta          1 2017-05-23 20:29:23.599         0    False
14         ponta          2 2017-05-23 20:27:28.531        12    False
15         ponta          2 2017-05-23 20:25:36.025         0    False
16         ponta          1 2017-05-23 20:24:12.733         0    False
17         ponta          2 2017-05-23 20:23:27.444         0    False
18         ponta          1 2017-05-23 20:22:00.410         0    False
19         ponta          2 2017-05-23 20:19:53.597         0    False
20         ponta          1 2017-05-23 20:17:41.851         0    False
21         ponta          1 2017-05-23 20:16:39.639         0    False
22         ponta          2 2017-05-23 20:14:07.690         0    False
23         ponta          1 2017-05-23 20:12:22.249         0    False
24         ponta          2 2017-05-23 20:11:28.519         0    False
25         ponta          1 2017-05-23 20:11:11.860         0    False
26         ponta          1 2017-05-23 20:10:16.381         0    False
27         ponta          2 2017-05-23 20:08:43.211         0    False
28         ponta          1 2017-05-23 20:07:29.617         0    False
29         ponta          2 2017-05-23 20:04:02.898         0    False
..           ...        ...                     ...       ...      ...
644         Ssss          2 2017-05-18 15:06:17.341         0    False
645         Ssss          1 2017-05-18 15:05:36.991         0    False
646  Kura Sharon          2 2017-05-18 15:05:04.733         0    False
647          NaN          2 2017-05-18 15:02:31.458         0    False
648          NaN          1 2017-05-18 15:01:22.640         0    False
649         Ssss          2 2017-05-18 14:58:13.216         0    False
650          NaN          2 2017-05-18 14:54:52.344         0    False
651          NaN          1 2017-05-18 14:50:15.101         0    False
652          NaN          2 2017-05-18 14:45:28.442         0    False
653          NaN          1 2017-05-18 14:45:12.891         0    False
654          NaN          2 2017-05-18 14:44:14.947         0    False
655          NaN          1 2017-05-18 14:43:38.305         0    False
656          Eli          2 2017-05-18 14:36:52.747         0    False
657     Sulaiman          1 2017-05-18 14:27:56.463         7    False
658     Sulaiman          1 2017-05-18 14:25:47.184        83    False
659     Sulaiman          2 2017-05-18 14:25:18.772         0    False
660     Sulaiman          2 2017-05-18 14:24:19.117         0    False
661          NaN          1 2017-05-18 14:24:05.226         0    False
662        Mwala          5 2017-05-18 14:22:23.487         0    False
663          NaN          1 2017-05-18 14:17:44.523         0    False
664     Sulaiman          1 2017-05-18 14:12:06.762        35    False
665         Lova          2 2017-05-18 13:58:54.105         0    False
666  Kura Sharon          2 2017-05-18 13:52:29.246         0    False
667  Kura Sharon          1 2017-05-18 13:52:02.301         0    False
668  Kura Sharon          2 2017-05-18 13:50:31.456         0    False
669  Kura Sharon          1 2017-05-18 13:50:02.536         0    False
670          NaN          1 2017-05-18 13:27:43.338         0    False
671  Kura Sharon          2 2017-05-18 13:17:34.976         0    False
672          NaN          1 2017-05-18 13:11:03.928         0    False
673          NaN          1 2017-05-18 13:09:46.945         0    False

     item_id   phone_number
0        823      Safaricom
1        822      Safaricom
2        821  +256487510918
3        820          MPESA
4        819  +256487510918
5        818  +254524684481
6        817  +254524684481
7        816     0799215010
8        815     0799215010
9        814  +254524684481
10       813  +254524684481
11       812  +254524684481
12       811  +254524684481
13       810  +254524684481
14       809  +254524684481
15       808  +254524684481
16       807  +254524684481
17       806  +254524684481
18       805  +254524684481
19       804  +254524684481
20       803  +254524684481
21       802  +254524684481
22       801  +254524684481
23       800  +254524684481
24       799  +254524684481
25       798  +254524684481
26       797  +254524684481
27       796  +254524684481
28       795  +254524684481
29       794  +254524684481
..       ...            ...
644       30  +254684467519
645       29  +254684467519
646       28  +254819889496
647       27  +254659693499
648       26  +254659693499
649       25     0798319571
650       24  +254659693499
651       23  +254659693499
652       22  +254659693499
653       21  +254659693499
654       20  +254659693499
655       19  +254659693499
656       18     0719230725
657       17     0726066952
658       16     0726066952
659       15     0726066952
660       14     0726066952
661       13      Safaricom
662       12     0740628304
663       11      Safaricom
664       10     0726066952
665        9     0724102674
666        8  +254819889496
667        7  +254819889496
668        6  +254819889496
669        5  +254819889496
670        4      Safaricom
671        3  +254819889496
672        2      Safaricom
673        1      Safaricom

[674 rows x 7 columns]
user-47      cached_name  call_type                datetime  duration  is_read  \
0        My Daer          2 2017-09-18 10:26:36.992         0    False
1       Kim Bako          2 2017-09-18 10:18:21.849        67    False
2       Kim Bako          2 2017-09-18 10:18:03.245         0    False
3      Dad Sadam          2 2017-09-18 10:12:12.707         0    False
4        My Daer          2 2017-09-18 10:11:11.489         0    False
5        My Daer          2 2017-09-18 10:07:59.404         0    False
6       Wiki Dmp          2 2017-09-18 09:57:30.966        85    False
7      Dad Sadam          2 2017-09-18 09:16:43.550         0    False
8       Kim Bako          2 2017-09-18 08:55:40.660        16    False
9       Kibet Op          2 2017-09-18 07:22:12.726         3    False
10      Kim Bako          1 2017-09-18 05:59:37.035        50    False
11      Eng Cris          1 2017-09-18 04:46:35.759        33    False
12      Eng Cris          2 2017-09-18 04:45:49.587         8    False
13      Kibet Op          2 2017-09-18 04:40:18.533         0    False
14      Kim Bako          2 2017-09-18 04:27:42.346         5    False
15      Eng Cris          2 2017-09-18 04:25:05.561         0    False
16       Muiruri          3 2017-09-17 19:41:38.326         0     True
17    Bro murimi          1 2017-09-17 18:11:46.030       155    False
18      Ogora Fd          1 2017-09-17 17:05:23.025        47    False
19       Muiruri          2 2017-09-17 16:45:06.780         0    False
20       Muiruri          2 2017-09-17 16:39:01.098        23    False
21      Csn Ribu          2 2017-09-17 16:23:03.382       268    False
22         Ngecu          1 2017-09-17 16:18:47.727        37    False
23         Ngecu          2 2017-09-17 16:15:43.812         0    False
24         Ngecu          3 2017-09-17 15:41:54.900         0     True
25      Ogora Fd          3 2017-09-17 14:37:52.979         0     True
26      Ogora Fd          3 2017-09-17 14:23:32.658         0     True
27      Ogora Fd          3 2017-09-17 14:21:34.701         0     True
28      Ogora Fd          2 2017-09-17 13:22:02.974        49    False
29      My House          1 2017-09-17 13:11:09.319        73    False
..           ...        ...                     ...       ...      ...
970       Kang'o          2 2017-05-15 10:53:58.080         7    False
971       Kang'o          2 2017-05-15 10:48:15.731         0    False
972        Kajei          1 2017-05-15 09:37:54.116        66    False
973    Wakihonge          2 2017-05-15 09:23:22.024        22    False
974   Wa Magg kp          2 2017-05-15 08:21:38.814         0    False
975     My House          2 2017-05-15 08:20:23.442         0    False
976   Wa Magg kp          2 2017-05-15 07:39:32.575        15    False
977   Wa Magg kp          2 2017-05-15 07:39:20.801         0    False
978     Wa maggy          2 2017-05-15 07:39:01.762         4    False
979     Mutuku M          2 2017-05-15 06:34:36.975        88    False
980     Mutuku M          3 2017-05-15 06:34:14.025         0     True
981    My S. mso          2 2017-05-15 06:25:43.026         0    False
982    My S. mso          3 2017-05-15 06:24:42.022         0     True
983     Mutuku M          1 2017-05-15 05:29:11.022        24    False
984     Mutuku M          2 2017-05-15 05:28:15.112         0    False
985     Gaturi W          1 2017-05-15 05:25:54.351        27    False
986  Kim Kumbuka          2 2017-05-15 05:24:53.437         0    False
987  Kim Kumbuka          2 2017-05-15 05:24:45.101         0    False
988  Kim Kumbuka          2 2017-05-15 05:24:28.260         2    False
989      Gilbert          1 2017-05-15 05:23:21.340        38    False
990  Kim Kumbuka          1 2017-05-15 03:34:37.053        41    False
991     My House          2 2017-05-14 18:09:20.598        15    False
992     My House          3 2017-05-14 18:00:24.107         0     True
993     My House          3 2017-05-14 17:40:23.112         0     True
994     My House          3 2017-05-14 17:39:39.338         0     True
995     Mutuku M          2 2017-05-14 16:51:31.818         0    False
996     Csn Ribu          2 2017-05-14 16:18:06.817         0    False
997     Csn Ribu          1 2017-05-14 16:16:05.008        99    False
998     Wa maggy          1 2017-05-14 15:50:35.101       222    False
999    Peter wrn          2 2017-05-14 15:47:46.578         0    False

     item_id   phone_number
0      13939  +254541241621
1      13938     0703513272
2      13937     0703513272
3      13936     0723251902
4      13935  +254541241621
5      13934  +254541241621
6      13933     0723866432
7      13932     0723251902
8      13931     0703513272
9      13930     0799974563
10     13929     0703513272
11     13928     0732739655
12     13927     0720420876
13     13926     0799974563
14     13925     0703513272
15     13924     0732739655
16     13923     0725298533
17     13922     0706055603
18     13921     0770155111
19     13920     0725298533
20     13919     0725298533
21     13918     0708796309
22     13917     0722116058
23     13916     0722116058
24     13915     0722116058
25     13914     0770155111
26     13913     0770155111
27     13912     0770155111
28     13911     0770155111
29     13910  +254005471864
..       ...            ...
970     9869     0723929938
971     9868     0723929938
972     9867     0799930693
973     9866     0700813903
974     9865     0732082758
975     9864  +254005471864
976     9863     0732082758
977     9862     0732082758
978     9861     0727179923
979     9860     0720745905
980     9859     0720745905
981     9858     0792209278
982     9857     0792209278
983     9856     0720745905
984     9855     0720745905
985     9854     0704667756
986     9853     0717957529
987     9852     0717957529
988     9851     0717957529
989     9850     0739749394
990     9849     0717957529
991     9848  +254005471864
992     9847  +254005471864
993     9846  +254005471864
994     9845  +254005471864
995     9844     0720745905
996     9843     0708796309
997     9842     0708796309
998     9841     0727179923
999     9840     0723930764

[1000 rows x 7 columns]
user-48         cached_name  call_type                datetime  duration  is_read  \
0               NaN          2 2017-09-08 08:33:24.562         0    False
1               NaN          2 2017-09-08 08:32:45.002        19    False
2        Min Omondi          2 2017-09-08 06:00:44.388        41    False
3        WUON ABEBO          2 2017-09-07 15:24:00.620        32    False
4        WUON ABEBO          2 2017-09-07 13:48:19.936         0    False
5        WUON ABEBO          1 2017-09-07 13:43:05.545        48    False
6               NaN          2 2017-09-07 12:11:27.606        62    False
7               NaN          2 2017-09-07 11:39:32.017        10    False
8               NaN          2 2017-09-07 11:39:07.122         0    False
9               NaN          2 2017-09-07 11:09:27.980        40    False
10              NaN          2 2017-09-07 11:08:46.020        12    False
11              NaN          2 2017-09-07 11:08:27.382         0    False
12              NaN          2 2017-09-07 11:08:15.238         0    False
13              NaN          1 2017-09-07 11:07:15.165        13    False
14       Min Omondi          2 2017-09-07 04:52:32.480         0    False
15       Min Omondi          2 2017-09-07 04:42:49.113        16    False
16              NaN          1 2017-09-06 18:24:29.093        65    False
17          DARLING          2 2017-09-06 14:39:07.509         8    False
18              NaN          2 2017-09-06 14:38:55.921         0    False
19              NaN          1 2017-09-06 11:41:40.873        62    False
20              NaN          2 2017-09-06 11:34:41.261         0    False
21              NaN          2 2017-09-06 11:33:30.369         0    False
22              NaN          1 2017-09-06 09:40:35.650        92    False
23              NaN          2 2017-09-06 08:57:26.117        53    False
24              NaN          2 2017-09-06 06:36:31.287         0    False
25              NaN          2 2017-09-06 06:35:25.182         0    False
26              NaN          2 2017-09-06 06:35:00.269         0    False
27              NaN          1 2017-09-06 06:26:25.018        29    False
28          DARLING          2 2017-09-06 05:56:02.990        15    False
29          DARLING          2 2017-09-06 05:55:41.724         0    False
...             ...        ...                     ...       ...      ...
3078          MATHE          2 2017-05-11 16:28:36.921         0    False
3079        DARLING          2 2017-05-11 16:27:33.622        18    False
3080        DARLING          2 2017-05-11 16:08:16.867         5    False
3081          MATHE          2 2017-05-11 15:52:17.315         0    False
3082          MATHE          2 2017-05-11 15:44:14.622         2    False
3083          MATHE          2 2017-05-11 15:33:54.976         0    False
3084          MATHE          2 2017-05-11 08:50:35.233         0    False
3085        DARLING          1 2017-05-11 08:42:40.172        20    False
3086        DARLING          2 2017-05-11 08:41:40.103         0    False
3087        DARLING          2 2017-05-11 08:38:42.874         0    False
3088          MATHE          2 2017-05-11 08:35:51.202         0    False
3089          MATHE          1 2017-05-11 07:44:07.310        36    False
3090          MATHE          2 2017-05-11 04:52:03.130         8    False
3091          MATHE          2 2017-05-11 04:47:40.067        24    False
3092          MATHE          3 2017-05-11 04:23:52.949         0     True
3093          James          2 2017-05-11 03:22:49.363        17    False
3094          James          1 2017-05-11 03:21:16.019         0    False
3095          Boita          1 2017-05-10 19:08:38.257        13    False
3096  Boita Jakolal          2 2017-05-10 18:56:43.335       680    False
3097        Okakaka          2 2017-05-10 18:49:40.304       357    False
3098        Okakaka          2 2017-05-10 18:46:26.106       133    False
3099        Okakaka          2 2017-05-10 18:46:13.909         0    False
3100        Okakaka          2 2017-05-10 18:46:00.669         0    False
3101        Okakaka          2 2017-05-10 18:45:48.906         0    False
3102        Okakaka          2 2017-05-10 18:45:34.353         0    False
3103          Okaka          1 2017-05-10 18:34:43.713        36    False
3104            NaN          1 2017-05-10 18:17:57.160        81    False
3105            NaN          1 2017-05-10 18:12:01.848        94    False
3106            NaN          1 2017-05-10 18:11:14.147         3    False
3107          MATHE          1 2017-05-10 16:56:43.730        19    False

      item_id   phone_number
0       14767     0740333149
1       14766     0740333149
2       14765     0726910973
3       14764     0712070096
4       14763     0712070096
5       14762     0712070096
6       14761     0740333149
7       14760     0740333149
8       14759   254815509068
9       14758     0740333149
10      14757     0740333149
11      14756     0740333149
12      14755     0740333149
13      14754     0740333149
14      14753     0726910973
15      14752     0726910973
16      14750     0740333149
17      14749     0718619712
18      14748     0740333149
19      14747     0740333149
20      14746     0740333149
21      14745     0740333149
22      14743     0726371145
23      14742     0740333149
24      14741     0740333149
25      14740     0740333149
26      14739     0740333149
27      14738     0722518185
28      14737     0718619712
29      14736     0718619712
...       ...            ...
3078    11550     0720568852
3079    11549     0713175822
3080    11548     0713175822
3081    11547     0720568852
3082    11546     0720568852
3083    11545     0720568852
3084    11544     0720568852
3085    11543     0713175822
3086    11542     0713175822
3087    11541     0713175822
3088    11540     0720568852
3089    11539     0720568852
3090    11538     0720568852
3091    11537     0720568852
3092    11536     0720568852
3093    11535     0716549381
3094    11534     0716549381
3095    11533     0741306896
3096    11532     0703047684
3097    11531  +254248724278
3098    11530  +254248724278
3099    11529  +254248724278
3100    11528  +254248724278
3101    11527  +254248724278
3102    11526  +254248724278
3103    11525     0725501605
3104    11524     0716566854
3105    11523     0716566854
3106    11522     0716566854
3107    11521     0720568852

[3108 rows x 7 columns]

user-49      call_type country_iso  data_usage                datetime  duration  \
0            1          KE           0 2017-09-08 17:26:15.033        10
1            2          KE           0 2017-09-08 15:45:51.318         0
2            2          KE           0 2017-09-08 15:12:32.216         0
3            1          KE           0 2017-09-08 14:48:37.024       159
4            3          KE           0 2017-09-08 13:55:40.032         0
5            2          KE           0 2017-09-08 12:49:37.103        52
6            3          KE           0 2017-09-08 11:50:15.024         0
7            3          KE           0 2017-09-08 10:45:08.047         0
8            3          KE           0 2017-09-07 15:39:33.053         0
9            1          KE           0 2017-09-07 14:02:04.021        25
10           2          KE           0 2017-09-07 12:15:10.418         0
11           2          KE           0 2017-09-07 09:06:36.460       145
12           2          KE           0 2017-09-07 09:01:53.402         0
13           2          KE           0 2017-09-07 08:47:01.712         0
14           1          KE           0 2017-09-06 17:52:17.845         6
15           2          KE           0 2017-09-06 12:25:36.497        33
16           1          KE           0 2017-09-05 12:38:59.026        29
17           2          KE           0 2017-09-05 12:34:35.254         1
18           2          KE           0 2017-09-05 10:53:45.059         0
19           2          KE           0 2017-09-05 10:53:33.751         2
20           2          KE           0 2017-09-05 10:42:49.689         0
21           2          KE           0 2017-09-05 10:42:33.961         0
22           1          KE           0 2017-09-05 08:38:03.028        67
23           2          KE           0 2017-09-05 07:59:51.922         7
24           2          KE           0 2017-09-04 16:53:56.071         4
25           2          KE           0 2017-09-04 16:23:23.239         8
26           2          KE           0 2017-09-04 16:19:41.326         4
27           3          KE           0 2017-09-04 15:44:42.036         0
28           2          KE           0 2017-09-04 15:26:48.878         6
29           2          KE           0 2017-09-04 15:18:10.050        33
..         ...         ...         ...                     ...       ...
270          2          KE           0 2017-08-26 11:59:46.290        62
271          2          KE           0 2017-08-26 11:59:29.594         8
272          2          KE           0 2017-08-26 11:51:14.331         0
273          2          KE           0 2017-08-26 11:51:01.153         3
274          1          KE           0 2017-08-26 11:40:09.682       180
275          2          KE           0 2017-08-26 11:21:07.543       126
276          2          KE           0 2017-08-26 11:09:59.765       398
277          2          KE           0 2017-08-26 10:28:34.893       185
278          2          KE           0 2017-08-26 10:26:51.955         0
279          2          KE           0 2017-08-26 10:24:28.862        27
280          2          KE           0 2017-08-26 10:11:06.168         0
281          1          KE           0 2017-08-26 10:09:49.312        57
282          2          KE           0 2017-08-26 10:09:28.997         0
283          2          KE           0 2017-08-26 09:46:26.331         0
284          2          KE           0 2017-08-26 09:04:35.437        29
285          2          KE           0 2017-08-26 07:20:21.494       587
286          1          KE           0 2017-08-26 07:04:34.035        68
287          2          KE           0 2017-08-26 05:41:19.436         0
288          2          KE           0 2017-08-26 05:33:03.518        64
289          2          KE           0 2017-08-26 05:26:06.751       271
290          2          KE           0 2017-08-26 05:25:53.774         4
291          2          KE           0 2017-08-26 04:59:38.228        87
292          2          KE           0 2017-08-26 04:56:49.197         5
293          2          KE           0 2017-08-26 04:56:28.219         7
294          2          KE           0 2017-08-26 04:55:04.020         4
295          2          KE           0 2017-08-26 04:54:25.231         8
296          2          KE           0 2017-08-26 04:54:05.746         0
297          2          KE           0 2017-08-26 04:53:09.875         0
298          1          KE           0 2017-08-26 04:21:10.026       128
299          3          KE           0 2017-08-26 04:18:04.033         0

     features_video geocoded_location  is_read  item_id   phone_number
0             False             Kenya    False      300     0706891457
1             False             Kenya    False      299     0727121542
2             False             Kenya    False      298     0727121542
3             False             Kenya    False      297     0729227298
4             False             Kenya     True      296     0729227298
5             False             Kenya    False      295     0714190563
6             False             Kenya     True      294     0729227298
7             False             Kenya     True      293     0727998333
8             False             Kenya     True      292     0729227298
9             False             Kenya    False      291     0719179082
10            False             Kenya    False      290     0710523984
11            False             Kenya    False      289     0729227298
12            False             Kenya    False      288     0727121542
13            False             Kenya    False      287     0707406650
14            False                      False      286     0795647128
15            False             Kenya    False      285     0710523984
16            False             Kenya    False      284     0700195472
17            False             Kenya    False      283     0710523984
18            False                      False      282  1305777295732
19            False                      False      281  1305777295732
20            False                      False      280          *130*
21            False             Kenya    False      279     0710523984
22            False             Kenya    False      278     0727121542
23            False             Kenya    False      277     0710523984
24            False             Kenya    False      276     0764238871
25            False             Kenya    False      275     0764238871
26            False             Kenya    False      274     0727121542
27            False                       True      273     0790198613
28            False             Kenya    False      272     0727121542
29            False                      False      271     0742602297
..              ...               ...      ...      ...            ...
270           False             Kenya    False       30     0725837047
271           False             Kenya    False       29     0725837047
272           False             Kenya    False       28     0714190563
273           False             Kenya    False       27     0714190563
274           False             Kenya    False       26     0714190563
275           False             Kenya    False       25     0725837047
276           False             Kenya    False       24     0702151151
277           False             Kenya    False       23     0714190563
278           False             Kenya    False       22     0702855779
279           False             Kenya    False       21     0716172772
280           False             Kenya    False       20     0716172772
281           False             Kenya    False       19     0704804522
282           False             Kenya    False       18     0716172772
283           False             Kenya    False       17     0716172772
284           False             Kenya    False       16     0704804522
285           False             Kenya    False       15     0704804522
286           False             Kenya    False       14     0722858946
287           False             Kenya    False       13     0702855779
288           False             Kenya    False       12     0714190563
289           False             Kenya    False       11     0714190563
290           False             Kenya    False       10     0714190563
291           False             Kenya    False        9     0725052514
292           False             Kenya    False        8     0725052514
293           False             Kenya    False        7     0725052514
294           False             Kenya    False        6     0725052514
295           False             Kenya    False        5     0725052514
296           False                      False        4    02744623124
297           False             Kenya    False        3     0721076476
298           False             Kenya    False        2     0722858946
299           False             Kenya     True        1     0722858946

[300 rows x 10 columns]
user-50           cached_name  call_type country_iso  data_usage  \
0            Hoyo Mcn          1          KE           0
1            Hoyo Mcn          2          KE           0
2            Hoyo Mcn          3          KE           0
3       Zeytun Jirani          2          KE           0
4                 NaN          1          KE           0
5            Hoyo Mcn          1          KE           0
6       Zeytun Jirani          2          KE           0
7       Zeytun Jirani          1          KE           0
8                 Lul          2          KE           0
9                 Lul          1          KE           0
10      Zeytun Jirani          1          KE           0
11           Hoyo Mcn          2          KE           0
12           Hoyo Mcn          1          KE           0
13                NaN          1          KE           0
14      Walalkey  Mcn          2          KE           0
15      Walalkey  Mcn          3          KE           0
16            Mahat 2          1          KE           0
17   Zeytun Jiran Puk          2          KE           0
18                NaN          2          KE           0
19            Mahat 2          2          KE           0
20           Hoyo Mcn          2          KE           0
21                NaN          2          KE           0
22           Hoyo Mcn          2          KE           0
23      Walalkey  Mcn          2          KE           0
24         Abahey Mcn          1          KE           0
25             Marwoy          1          KE           0
26          Bawo Umar          1          KE           0
27            Mahat 2          1          KE           0
28      Zeytun Jirani          1          KE           0
29      Walalkey  Mcn          1          KE           0
..                ...        ...         ...         ...
470          Hoyo Mcn          1          KE           0
471          Hoyo Mcn          1          KE           0
472          Hoyo Mcn          2          KE           0
473               NaN          1          KE           0
474               NaN          3          KE           0
475          Hoyo Mcn          2          KE           0
476          Hoyo Mcn          5          KE           0
477        Diney Bare          1          KE           0
478            Marwoy          1          KE           0
479               NaN          1          KE           0
480       Abay Anawey          2          KE           0
481       Abay Anawey          1          KE           0
482        Diney Bare          2          KE           0
483        Diney Bare          2          KE           0
484        Diney Bare          2          KE           0
485        Diney Bare          2          KE           0
486        Diney Bare          2          KE           0
487               NaN          2          KE           0
488        Diney Bare          2          KE           0
489             Diney          2          KE           0
490               NaN          2          KE           0
491               NaN          2          KE           0
492               NaN          2          KE           0
493               NaN          2          KE           0
494             Linti          1          KE           0
495            Marwoy          1          KE           0
496             Linti          2          KE           0
497             Linti          2          KE           0
498       Abay Anawey          2          KE           0
499       Abay Anawey          1          KE           0

                   datetime  duration  features_video geocoded_location  \
0   2017-05-17 14:03:24.231        73           False             Kenya
1   2017-05-17 14:02:18.450         0           False             Kenya
2   2017-05-17 13:17:40.563         0           False             Kenya
3   2017-05-17 08:18:06.337         0           False             Kenya
4   2017-05-17 07:54:51.456        45           False             Kenya
5   2017-05-17 07:47:44.880        97           False             Kenya
6   2017-05-17 03:41:35.655        15           False             Kenya
7   2017-05-17 03:40:51.454        28           False             Kenya
8   2017-05-16 18:16:51.588         0           False             Kenya
9   2017-05-16 18:12:07.433        92           False             Kenya
10  2017-05-16 17:32:41.424        24           False             Kenya
11  2017-05-16 17:10:49.876        10           False             Kenya
12  2017-05-16 17:10:14.457        26           False             Kenya
13  2017-05-16 13:44:25.466        55           False             Kenya
14  2017-05-16 13:41:14.002        30           False             Kenya
15  2017-05-16 13:40:42.459         0           False             Kenya
16  2017-05-16 11:25:52.483       405           False             Kenya
17  2017-05-16 09:10:28.627         0           False
18  2017-05-16 09:08:03.612        23           False
19  2017-05-16 07:04:48.336         0           False             Kenya
20  2017-05-16 06:47:24.291        27           False             Kenya
21  2017-05-16 06:47:11.634         4           False               NaN
22  2017-05-16 06:45:17.244        92           False             Kenya
23  2017-05-16 05:58:58.082         8           False             Kenya
24  2017-05-15 19:26:39.568        23           False             Kenya
25  2017-05-15 18:47:30.424        30           False             Kenya
26  2017-05-15 18:08:53.426         2           False             Kenya
27  2017-05-15 17:10:05.440       219           False             Kenya
28  2017-05-15 16:51:08.485        17           False             Kenya
29  2017-05-15 16:46:01.448        27           False             Kenya
..                      ...       ...             ...               ...
470 2017-04-23 07:18:44.983        92           False             Kenya
471 2017-04-23 07:18:21.116        10           False             Kenya
472 2017-04-23 07:17:21.264        24           False             Kenya
473 2017-04-22 17:10:40.164        20           False             Kenya
474 2017-04-22 17:09:41.514         0           False             Kenya
475 2017-04-22 16:07:26.568       102           False             Kenya
476 2017-04-22 16:05:44.317         0           False             Kenya
477 2017-04-22 15:21:13.426        20           False             Kenya
478 2017-04-22 15:16:18.459        13           False             Kenya
479 2017-04-22 15:13:52.422        42           False             Kenya
480 2017-04-22 15:11:53.353        17           False             Kenya
481 2017-04-22 15:11:24.428        23           False             Kenya
482 2017-04-22 14:51:26.830         0           False             Kenya
483 2017-04-22 14:51:17.940         0           False             Kenya
484 2017-04-22 14:50:51.681        12           False             Kenya
485 2017-04-22 14:49:51.677         0           False             Kenya
486 2017-04-22 14:49:39.544         0           False             Kenya
487 2017-04-22 14:48:08.709        48           False             Kenya
488 2017-04-22 14:46:56.178        41           False             Kenya
489 2017-04-22 14:45:16.068         0           False             Kenya
490 2017-04-22 14:40:52.244         0           False             Kenya
491 2017-04-22 14:39:59.973         0           False             Kenya
492 2017-04-22 14:39:51.473         0           False             Kenya
493 2017-04-22 14:39:33.872         0           False             Kenya
494 2017-04-22 14:26:03.229         8           False             Kenya
495 2017-04-22 14:25:33.159         9           False             Kenya
496 2017-04-22 14:22:07.682        31           False             Kenya
497 2017-04-22 14:18:17.756        51           False             Kenya
498 2017-04-22 14:09:01.067         8           False             Kenya
499 2017-04-22 14:03:42.408        10           False             Kenya

     is_read  item_id         phone_number
0      False     5633           0705580809
1      False     5632           0705580809
2       True     5631           0705580809
3       True     5613           0729336014
4       True     5611           0728256277
5       True     5609           0705580809
6       True     5604           0729336014
7       True     5603           0729336014
8       True     5597           0717887198
9       True     5596           0717887198
10      True     5595           0729336014
11      True     5594           0705580809
12      True     5593           0705580809
13      True     5592           0728256277
14      True     5591           0707137657
15      True     5590           0707137657
16      True     5589           0724970412
17      True     5581             23737983
18      True     5579                  100
19      True     5577           0724970412
20      True     5575           0705580809
21      True     5574  1410307599477064708
22      True     5573           0705580809
23      True     5572           0707137657
24      True     5571           0728009448
25      True     5570           0724283576
26      True     5569           0700445200
27      True     5568           0724970412
28      True     5567           0729336014
29      True     5566           0707137657
..       ...      ...                  ...
470     True     4839           0705580809
471     True     4838           0705580809
472     True     4837           0705580809
473     True     4833           0725444087
474     True     4832           0725444087
475     True     4827           0705580809
476     True     4826           0705580809
477     True     4824           0710373668
478     True     4823           0724283576
479     True     4822           0722495623
480     True     4821           0726903785
481     True     4820           0726903785
482     True     4819           0710373668
483     True     4818           0710373668
484     True     4817           0710373668
485     True     4816           0710373668
486     True     4815           0710373668
487     True     4814           0717521805
488     True     4813           0710373668
489     True     4812           0724203456
490     True     4811           0717521805
491     True     4810           0717521805
492     True     4809           0717521805
493     True     4808           0717521805
494     True     4807           0726044050
495     True     4806           0724283576
496     True     4805           0726044050
497     True     4804           0726044050
498     True     4803           0726903785
499     True     4802           0726903785

[500 rows x 11 columns]
user-51        cached_name  call_type                datetime  duration  is_read  \
0          ambecha          2 2017-06-24 07:03:19.406        14    False
1          ambecha          1 2017-06-24 07:01:33.112        13    False
2          ambecha          1 2017-06-24 04:00:49.770         7    False

user-52                   cached_name  call_type country_iso  data_usage  \
0               Jackson Melly          1          KE           0
1               Jackson Melly          2          KE           0
2                  Vero Nurse          2          KE           0
3                         Doc          2          KE           0
4             Jordan Hospital          1          KE           0
5                     Shammah          1          KE           0
6            Cleft Marcus Kim         10          KE           0
7               Noreen Kemboi          1          KE           0
8                       Syuma          1          KE           0
9                        Mumo          2          KE           0
10              Noreen Kemboi          1          KE           0
11               Grace  Ngina          1          KE           0
12             Mrs Kiptalam 1          1          KE           0
13                   Landlord          1          KE           0
14             Rebecca Kiptoo          1          KE           0
15             Rebecca Kiptoo          1          KE           0
16                      Anita          1          KE           0
17    Kyalo Mbila Naivas Alex          1          KE           0
18                      Perpe          2          KE           0
19              Titus Records          2          KE           0
20                      Syuma          2          KE           0
21              Titus Records          1          KE           0
22    Kyalo Mbila Naivas Alex          2          KE           0
23    Kyalo Mbila Naivas Alex          2          KE           0
24                  Uhuruto 2          2          KE           0
25                  Uhuruto 2          2          KE           0
26                      Melii          2          KE           0
27                 Siz Shally          2          KE           0
28          Felistus Lecturer          1          KE           0
29               C. O Priscah          1          KE           0
...                       ...        ...         ...         ...
1973       Kplc Emerg Douglas          1          KE           0
1974       Kplc Emerg Douglas          2          KE           0
1975     Charles Maintainance          2          KE           0
1976           Lilian Equitel          2          KE           0
1977           Lilian Equitel          3          KE           0
1978                    Nikii          1          KE           0
1979                    Nikii          1          KE           0
1980           Nurse Fridah 1          2          KE           0
1981                   Mwende          2          KE           0
1982          Lilian Marcus 1          3          KE           0
1983               Siz Gladys          1          KE           0
1984               Siz Gladys          1          KE           0
1985                   Mwende          2          KE           0
1986                 Dan Moto          2          KE           0
1987          Lilian Marcus 1          3          KE           0
1988          Lilian Marcus 1          3          KE           0
1989          Lilian Marcus 1          3          KE           0
1990              Seku Jelimo          1          KE           0
1991        Felistus Lecturer          1          KE           0
1992        Felistus Lecturer          2          KE           0
1993              Seku Jelimo          1          KE           0
1994           Nicho Pharmacy          1          KE           0
1995         Agnes 2 Pharmacy          2          KE           0
1996       Kplc Emerg Douglas          1          KE           0
1997           Nicho Pharmacy          2          KE           0
1998       Kplc Emerg Douglas          2          KE           0
1999                    Nikii          2          KE           0
2000                      NaN          2          KE           0
2001                      NaN          2          KE           0
2002                      NaN          3          KE           0

                    datetime  duration  features_video geocoded_location  \
0    2017-07-02 16:16:28.895       111           False             Kenya
1    2017-07-02 16:14:23.154         0           False             Kenya
2    2017-07-02 16:12:17.861        81           False             Kenya
3    2017-07-02 16:10:37.049        60           False             Kenya
4    2017-07-02 16:04:29.954        73           False             Kenya
5    2017-07-02 15:18:52.922        50           False             Kenya
6    2017-07-02 14:08:54.826         0           False             Kenya
7    2017-07-02 14:07:40.414        38           False             Kenya
8    2017-07-02 14:04:30.980        25           False             Kenya
9    2017-07-02 13:14:52.757        62           False             Kenya
10   2017-07-02 13:11:02.911       142           False             Kenya
11   2017-07-02 12:55:45.466        69           False             Kenya
12   2017-07-02 12:14:45.600        90           False             Kenya
13   2017-07-02 12:10:03.932        32           False             Kenya
14   2017-07-02 11:22:57.064        85           False             Kenya
15   2017-07-02 11:22:18.913         8           False             Kenya
16   2017-07-02 10:41:36.456         7           False             Kenya
17   2017-07-02 10:21:26.625       182           False             Kenya
18   2017-07-02 09:27:25.320        12           False             Kenya
19   2017-07-02 08:56:09.491        75           False             Kenya
20   2017-07-02 08:54:20.311        65           False             Kenya
21   2017-07-02 08:52:40.082        72           False             Kenya
22   2017-07-02 08:33:46.723         0           False             Kenya
23   2017-07-02 08:32:53.744         0           False             Kenya
24   2017-07-02 08:22:26.013         9           False             Kenya
25   2017-07-02 08:02:39.443        35           False             Kenya
26   2017-07-02 07:23:16.069        24           False             Kenya
27   2017-07-02 07:22:29.201         0           False             Kenya
28   2017-07-02 06:26:00.706        46           False             Kenya
29   2017-07-02 05:28:03.460        33           False             Kenya
...                      ...       ...             ...               ...
1973 2017-05-14 06:22:33.432       121           False             Kenya
1974 2017-05-14 06:21:03.684        38           False             Kenya
1975 2017-05-14 06:17:40.433         0           False             Kenya
1976 2017-05-14 06:16:08.093        57           False
1977 2017-05-14 06:15:13.207         0           False
1978 2017-05-14 05:46:56.438         5           False             Kenya
1979 2017-05-14 05:42:26.012        18           False             Kenya
1980 2017-05-14 05:05:50.902        65           False
1981 2017-05-14 05:04:03.866        46           False             Kenya
1982 2017-05-14 04:59:06.584         0           False             Kenya
1983 2017-05-14 04:54:28.331        15           False             Kenya
1984 2017-05-14 04:30:50.642      1338           False             Kenya
1985 2017-05-14 03:48:19.216        88           False             Kenya
1986 2017-05-13 18:00:38.231         0           False             Kenya
1987 2017-05-13 17:51:09.691         0           False             Kenya
1988 2017-05-13 17:46:09.270         0           False             Kenya
1989 2017-05-13 17:39:55.317         0           False             Kenya
1990 2017-05-13 17:24:28.857        22           False             Kenya
1991 2017-05-13 16:42:20.858        15           False             Kenya
1992 2017-05-13 16:41:37.033         0           False             Kenya
1993 2017-05-13 16:38:31.271        27           False             Kenya
1994 2017-05-13 16:03:54.728        31           False             Kenya
1995 2017-05-13 16:02:23.154         0           False             Kenya
1996 2017-05-13 15:58:06.288        61           False             Kenya
1997 2017-05-13 15:55:54.439         2           False             Kenya
1998 2017-05-13 15:52:58.019         0           False             Kenya
1999 2017-05-13 15:51:37.813         0           False             Kenya
2000 2017-05-13 15:40:31.950       146           False             Kenya
2001 2017-05-13 15:40:22.656         0           False             Kenya
2002 2017-05-13 15:39:56.843         0           False             Kenya

      is_read  item_id  phone_number
0       False     4692     721437933
1       False     4691  254609926660
2       False     4690     716956011
3       False     4689     722798562
4       False     4688     712226870
5       False     4687     722745331
6       False     4686     719401489
7       False     4685     720477795
8       False     4684     710243930
9       False     4683     722930029
10      False     4682     720477795
11      False     4681     717329973
12      False     4680     731992129
13      False     4679     721500309
14       True     4678     721775830
15       True     4677     721775830
16      False     4676     712477170
17      False     4675     729022564
18      False     4674  254279041721
19      False     4673     724142003
20      False     4672     710243930
21      False     4671     724142003
22      False     4670  254948006344
23      False     4669  254948006344
24      False     4668  254179426696
25      False     4667  254179426696
26      False     4666  254583213681
27      False     4665     720737307
28      False     4664     721539469
29      False     4663     706552367
...       ...      ...           ...
1973    False      978     721202533
1974    False      977     721202533
1975    False      976  254065755070
1976    False      975     763443022
1977    False      974     763443022
1978    False      973     725005048
1979    False      972     725005048
1980    False      971     797626760
1981    False      970     727487372
1982     True      969     788147342
1983    False      968     722845294
1984    False      967     722845294
1985    False      966     727487372
1986    False      965     726110664
1987    False      964     788147342
1988    False      963     788147342
1989    False      962     788147342
1990    False      961     727308330
1991    False      960     721539469
1992    False      959  254912083879
1993    False      958     727308330
1994    False      957     770651025
1995    False      956  254568139640
1996    False      955     721202533
1997    False      954  254274677552
1998    False      953     721202533
1999    False      952  254921349521
2000    False      951     724082540
2001    False      950     724082540
2002    False      949     724082540

[2003 rows x 11 columns]
user-53               cached_name  call_type                datetime  duration  \
0                   Siz M          1 2017-06-11 10:28:43.129        82
1                     NaN          2 2017-06-09 12:03:32.679         3
2                     NaN          2 2017-06-09 12:03:19.298         0
3                 Wa Jose          2 2017-06-09 07:10:32.965         7
4                  S Goge          2 2017-06-09 07:09:04.341         0
5                  S Goge          2 2017-06-09 07:07:58.834         0
6                  S Goge          2 2017-06-09 07:07:00.036         0
7                     NaN          1 2017-06-09 04:20:25.273        37
8                Wa Njeri          1 2017-06-08 17:01:46.782       116
9                Wa Njeri          3 2017-06-08 17:00:50.145         0
10                    NaN          1 2017-06-08 16:20:33.565        51
11                    NaN          1 2017-06-08 16:18:47.705        48
12               My Lover          1 2017-06-08 15:50:03.011        54
13               My Lover          1 2017-06-08 15:49:18.373        20
14                    NaN          2 2017-06-08 15:26:36.888         0
15              Be Mwangi          2 2017-06-08 14:42:31.747        41
16                 S Wami          2 2017-06-08 14:40:59.326        17
17                C Faith          2 2017-06-08 14:24:43.937        27
18               Mukurinu          2 2017-06-08 14:11:54.426        24
19               Mukurinu          2 2017-06-08 14:11:32.570         0
20               Mukurinu          3 2017-06-08 14:04:15.748         0
21               Mukurinu          1 2017-06-08 13:54:34.657        11
22               Mukurinu          2 2017-06-08 13:33:52.387        34
23                 S Wami          2 2017-06-08 13:14:51.623        16
24               Mukurinu          1 2017-06-08 13:05:50.265        20
25               Mwiraria          1 2017-06-08 11:59:30.537         6
26   Leah Gathoni Finlays          2 2017-06-08 10:06:43.079        14
27                Wa Jose          2 2017-06-08 10:05:55.070         0
28                Wa Jose          2 2017-06-08 10:04:35.803         0
29   Leah Gathoni Finlays          1 2017-06-08 09:56:38.460        48
..                    ...        ...                     ...       ...
653              My Lover          2 2017-04-19 10:47:25.302         0
654              My Lover          2 2017-04-19 10:45:19.795         0
655              My Lover          2 2017-04-19 10:21:36.048        49
656                   Mum          2 2017-04-19 08:22:27.240        20
657                   Mum          2 2017-04-19 08:21:47.963         0
658                S Goge          2 2017-04-19 06:55:43.107         0
659                  Fudi          1 2017-04-19 06:36:00.378        62
660                   NaN          1 2017-04-19 06:04:19.984        55
661                S Goge          2 2017-04-19 05:17:13.327        31
662              Kinuthia          2 2017-04-19 04:19:22.212        16
663                   Mum          1 2017-04-18 17:18:20.233        42
664                   Mum          2 2017-04-18 16:21:43.769        16
665                 Karim          2 2017-04-18 16:20:19.317        51
666                S Goge          2 2017-04-18 10:28:07.326        15
667               Nyawaya          2 2017-04-18 10:27:03.220        20
668                 S Kim          2 2017-04-18 10:12:56.953        30
669                  Choi          2 2017-04-18 08:32:20.585         0
670                   NaN          1 2017-04-18 08:08:50.101        46
671              My Lover          2 2017-04-18 07:18:10.869        10
672              My Lover          1 2017-04-18 07:17:36.809         1
673                  Choi          2 2017-04-18 06:36:48.867         0
674                   Mum          2 2017-04-18 03:41:35.686        36
675                   Mum          2 2017-04-17 18:18:37.084        47
676                 Karim          2 2017-04-17 16:55:44.029         7
677              My Lover          2 2017-04-17 16:54:16.777        16
678              My Lover          1 2017-04-17 16:24:18.297        11
679                Bowazi          2 2017-04-17 15:21:10.645         0
680              My Lover          2 2017-04-17 15:16:30.360        21
681              Wa Emmah          1 2017-04-17 15:14:27.293        48
682                   Mum          3 2017-04-17 15:02:13.135         0

     is_read  item_id  phone_number
0      False      959    0707377656
1      False      958    0700087181
2      False      957    0700087181
3      False      956    0724095310
4      False      955    0712649042
5      False      954    0712649042
6      False      953    0712649042
7      False      952    0764917615
8      False      951    0710025207
9       True      950    0710025207
10      True      949    0788317848
11      True      948    0788317848
12      True      947    0726781769
13      True      946    0726781769
14      True      945         *544#
15      True      944    0719328854
16      True      943    0712939223
17      True      942    0721436726
18      True      941    0722428303
19      True      940    0722428303
20      True      939    0722428303
21      True      938    0722428303
22      True      937    0722428303
23      True      936    0712939223
24      True      935    0722428303
25      True      934    0715029166
26      True      933    0728008373
27      True      932    0724095310
28      True      931    0724095310
29      True      930    0728008373
..       ...      ...           ...
653     True      306    0726781769
654     True      305    0726781769
655     True      304    0726781769
656     True      303    0726014022
657     True      302    0726014022
658     True      301    0712649042
659     True      300    0718876121
660     True      299    0723496543
661     True      298    0712649042
662     True      297    0710828735
663     True      296    0726014022
664     True      295    0726014022
665     True      294    0703352267
666     True      293    0712649042
667     True      292    0714685593
668     True      291    0713062825
669     True      290    0720344027
670     True      289    0708548968
671     True      288    0726781769
672     True      287    0726781769
673     True      286    0720344027
674     True      285    0726014022
675     True      284    0726014022
676     True      283    0703352267
677     True      282    0726781769
678     True      281    0726781769
679     True      280  744535370197
680     True      279    0726781769
681     True      278    0704325180
682     True      277    0726014022

[683 rows x 7 columns]

user-54          cached_name  call_type                datetime  duration  is_read  \
0                NaN          1 2017-08-09 03:30:30.084        26    False
1       JULIANA SHEM          2 2017-08-09 03:03:41.051        22    False
2                NaN          1 2017-08-09 03:00:06.735        54    False
3       JULIANA SHEM          2 2017-08-08 14:31:23.765       100    False
4     dano former fj          1 2017-08-08 12:53:10.068         6    False
5     dano former fj          1 2017-08-08 12:47:02.073        23    False
6     dano former fj          1 2017-08-08 12:32:06.691        27    False
7               Wife          1 2017-08-08 10:25:02.074        21    False
8     dano former fj          1 2017-08-08 09:29:27.778        25    False
9                NaN          1 2017-08-08 03:27:04.201        52    False
10        Hyvone nei          2 2017-08-07 20:08:49.787         6    False
11            Eva fj          2 2017-08-07 13:53:14.987       117    False
12            Eva fj          3 2017-08-07 13:52:24.061         0     True
13            Eva fj          2 2017-08-07 13:49:25.654         0    False
14            Eva fj          1 2017-08-07 10:43:15.076        51    False
15               NaN          2 2017-08-07 08:20:05.496         0    False
16        anoopa fsq          2 2017-08-07 07:14:45.827        39    False
17               NaN          1 2017-08-07 07:10:09.419         9    False
18               NaN          1 2017-08-07 07:09:36.114        11    False
19               NaN          2 2017-08-07 07:08:01.025         0    False
20            Eva fj          1 2017-08-06 18:45:21.185        96    False
21            Eva fj          2 2017-08-06 18:42:41.670         1    False
22            Eva fj          2 2017-08-06 18:42:10.081         9    False
23            Eva fj          2 2017-08-06 18:38:30.012       191    False
24            Eva fj          1 2017-08-06 11:37:03.956        35    False
25          Leeky Fj          2 2017-08-06 11:32:40.479        99    False
26            Eva fj          2 2017-08-06 11:31:31.187         0    False
27          Leeky Fj          1 2017-08-06 11:30:45.315         2    False
28            Eva fj          1 2017-08-06 11:30:15.600        11    False
29      RUTH KIUWINI          1 2017-08-06 11:07:00.777        56    False
...              ...        ...                     ...       ...      ...
1055            Wife          2 2017-03-22 14:08:51.620        69    False
1056            Wife          2 2017-03-22 08:29:23.036        68    False
1057             NaN          3 2017-03-21 18:02:41.349         0     True
1058           Ketty          3 2017-03-21 13:33:46.548         0     True
1059           Ketty          1 2017-03-21 13:28:23.553        28    False
1060   Faith Husband          2 2017-03-20 14:01:51.981         0    False
1061            Wife          2 2017-03-20 13:27:09.929        58    False
1062            Wife          2 2017-03-20 12:05:44.561        27    False
1063    Faith t_mall          2 2017-03-20 11:44:01.883         0    False
1064            Wife          2 2017-03-20 11:43:45.825         0    False
1065       Vegs Piza          3 2017-03-19 17:13:06.072         0     True
1066    Faith t_mall          1 2017-03-19 16:00:47.732        14    False
1067    Faith t_mall          2 2017-03-19 15:59:39.262        34    False
1068    Faith t_mall          2 2017-03-19 15:53:50.423        37    False
1069             NaN          3 2017-03-19 15:00:12.388         0     True
1070    Faith t_mall          1 2017-03-19 09:39:11.626        40    False
1071    Faith t_mall          2 2017-03-19 09:33:59.186        27    False
1072            Wife          2 2017-03-18 15:12:27.945        50    False
1073            Wife          2 2017-03-18 15:03:38.023         0    False
1074            Wife          2 2017-03-18 15:02:24.498         0    False
1075            Wife          2 2017-03-18 15:01:54.850         0    False
1076             mom          2 2017-03-18 12:15:25.526        63    False
1077             mom          2 2017-03-18 12:14:24.113        19    False
1078             NaN          3 2017-03-18 11:36:50.959         0     True
1079           Grace          1 2017-03-18 06:30:03.078         2    False
1080             mum          2 2017-03-18 04:24:01.478         0    False
1081             mom          2 2017-03-18 04:21:52.244         0    False
1082           Grace          2 2017-03-18 04:21:10.625         0    False
1083            Wife          1 2017-03-17 03:55:57.072        32    False
1084            Wife          3 2017-03-17 03:54:53.072         0     True

      item_id   phone_number
0        9773     0791894897
1        9772     0708449017
2        9771     0791894897
3        9770     0708449017
4        9769     0725279248
5        9768     0725279248
6        9767     0725279248
7        9766     0707093699
8        9765     0725279248
9        9764     0742349698
10       9763     0724218756
11       9762     0724874514
12       9761     0724874514
13       9760     0724874514
14       9759     0724874514
15       9758     0720205490
16       9757     0717374690
17       9756     0716127058
18       9755     0716127058
19       9754     0722951480
20       9753     0724874514
21       9752     0724874514
22       9751     0724874514
23       9750     0724874514
24       9749     0724874514
25       9748     0723860944
26       9747     0724874514
27       9746     0723860944
28       9745     0724874514
29       9744  +254417112100
...       ...            ...
1055     8717     0707093699
1056     8716     0707093699
1057     8715     0704019974
1058     8714     0723182082
1059     8713     0723182082
1060     8712     0710463524
1061     8711     0707093699
1062     8710     0707093699
1063     8709     0716871293
1064     8708     0707093699
1065     8707     0720006492
1066     8706     0716871293
1067     8705     0716871293
1068     8704     0716871293
1069     8703     0727943317
1070     8702     0716871293
1071     8701     0716871293
1072     8700     0707093699
1073     8699     0707093699
1074     8698     0707093699
1075     8697     0707093699
1076     8696  +254879158615
1077     8695  +254879158615
1078     8694  +254879158615
1079     8693     0706843318
1080     8692     0792908631
1081     8691     0721615895
1082     8690     0706843318
1083     8689     0707093699
1084     8688     0707093699

[1085 rows x 7 columns]
user-55    cached_name  call_type                datetime  duration  is_read  item_id  \
0          NaN          1 2017-11-29 11:58:04.893         0    False       98
1          NaN          1 2017-11-29 11:43:45.259         0    False       97
2          NaN          1 2017-11-29 09:39:12.687         0    False       96
3          NaN          1 2017-11-29 08:57:18.545         0    False       95
4         Lucy          3 2017-11-29 08:22:24.155         0     True       94
5         Lucy          3 2017-11-29 08:21:32.952         0     True       93
6         Mary          2 2017-11-29 06:26:12.729         0    False       92
7         Mary          2 2017-11-29 06:25:39.283         0    False       91
8          NaN          1 2017-11-29 05:41:42.248         0    False       90
9          NaN          1 2017-11-29 04:52:03.518         0    False       89
10         NaN          1 2017-11-29 04:44:21.693         0    False       88
11         NaN          1 2017-11-29 04:43:18.843         0    False       87
12         Mum          2 2017-11-29 04:31:27.464         0    False       86
13         Mum          3 2017-11-29 04:16:36.795         0     True       85
14         Mum          3 2017-11-29 04:14:59.503         0     True       84
15         Mum          1 2017-11-29 04:12:51.505         0    False       83
16         NaN          1 2017-11-29 04:12:24.418         0    False       82
17         NaN          1 2017-11-28 22:26:46.823         0    False       81
18         NaN          1 2017-11-28 22:12:04.882         0    False       80
19         NaN          1 2017-11-28 21:53:10.307         0    False       79
20         NaN          1 2017-11-28 20:38:01.667         0    False       78
21         Mum          3 2017-11-28 20:33:59.328         0     True       77
22         NaN          1 2017-11-28 20:05:52.445         0    False       76
23         NaN          1 2017-11-28 20:04:31.533         0    False       75
24        Jane          2 2017-11-28 19:15:21.929         0    False       74
25        Lucy          2 2017-11-28 19:14:49.454         0    False       73
26        Ciku          2 2017-11-28 19:14:11.522         0    False       72
27        Mary          2 2017-11-28 19:13:44.573         0    False       71
28        Ciku          1 2017-11-28 19:13:43.412         0    False       70
29        Ciku          2 2017-11-28 19:12:50.390         0    False       69
..         ...        ...                     ...       ...      ...      ...
66         NaN          1 2017-11-27 15:28:34.056         0    False       32
67         NaN          1 2017-11-27 15:28:13.544         0    False       31
68         NaN          1 2017-11-27 15:28:10.366         0    False       30
69         NaN          1 2017-11-27 15:17:59.019         0    False       29
70        Lucy          1 2017-11-27 15:14:53.364        45    False       28
71        Lucy          1 2017-11-27 15:08:07.172         0    False       27
72         NaN          1 2017-11-27 14:39:34.476         0    False       26
73         NaN          1 2017-11-27 14:38:25.391         0    False       25
74         NaN          1 2017-11-27 14:38:03.700         0    False       23
75         NaN          1 2017-11-27 11:01:23.951         0    False       22
76         NaN          1 2017-11-27 10:40:24.535         0    False       21
77         NaN          1 2017-11-27 09:23:01.217         0    False       20
78         NaN          1 2017-11-27 09:19:29.376         0    False       19
79         NaN          1 2017-11-27 08:55:28.461         0    False       18
80         NaN          1 2017-11-27 06:20:05.840         0    False       17
81        Jane          1 2017-11-26 17:06:29.321         0    False       16
82         NaN          1 2017-11-26 17:06:17.503         0    False       15
83        Lucy          1 2017-11-25 19:47:03.515        28    False       13
84         NaN          1 2017-11-25 19:37:02.242         0    False       12
85         NaN          1 2017-11-25 18:34:03.256         0    False       11
86         NaN          1 2017-11-25 18:33:15.831         0    False       10
87         NaN          1 2017-11-25 18:33:02.033         0    False        9
88         NaN          1 2017-11-25 18:32:54.878         0    False        8
89        Lucy          1 2017-11-25 16:00:40.490        10    False        7
90        Lucy          1 2017-11-25 14:59:48.048        12    False        6
91         NaN          1 2017-11-25 14:59:36.676         0    False        5
92        Lucy          1 2017-11-25 14:50:01.244        47    False        4
93         NaN          1 2017-11-25 14:20:27.464         0    False        3
94         NaN          2 2017-11-25 12:59:03.597         6    False        2
95          Aa          1 2017-11-25 12:45:50.360         0    False        1

     phone_number
0           29008
1       Safaricom
2           29028
3           29588
4      0718324170
5      0718324170
6      0719440674
7    254943097345
8           29588
9       Safaricom
10          MPESA
11          MPESA
12     0719886768
13     0719886768
14     0719886768
15     0719886768
16          29588
17          Betin
18          MPESA
19      Safaricom
20      Safaricom
21     0719886768
22      Safaricom
23      Safaricom
24  +254278861518
25     0718324170
26  +254558042147
27   254943097345
28  +254558042147
29  +254558042147
..            ...
66      Safaricom
67      Safaricom
68      Safaricom
69      Safaricom
70     0718324170
71     0718324170
72          MPESA
73      Safaricom
74          MPESA
75      Safaricom
76      Safaricom
77          29028
78          29588
79      Safaricom
80          29588
81  +254278861518
82          29028
83     0718324170
84      Safaricom
85          MPESA
86          29588
87         Betika
88          MPESA
89     0718324170
90     0718324170
91      Safaricom
92     0718324170
93          29588
94            *13
95  +254036101957

[96 rows x 7 columns]

user-56        cached_name  call_type                datetime  duration  is_read  \
0              NaN          2 2017-05-28 05:45:34.653        10    False
1              NaN          3 2017-05-28 05:36:57.872         0     True
2              NaN          1 2017-05-28 05:19:23.121        56    False
3     Antie Hannah          2 2017-05-28 04:39:19.940        16    False
4      Kimani Boni          1 2017-05-28 04:07:35.664        46    False
5              NaN          1 2017-05-28 04:05:24.664        18    False
6            Mercy          2 2017-05-28 04:03:05.636        68    False
7            Mercy          2 2017-05-28 04:00:16.469        26    False
8            Mercy          2 2017-05-28 03:53:21.776        25    False
9            Mercy          2 2017-05-28 03:50:55.683        20    False
10           Daisy          2 2017-05-28 03:49:52.620        23    False
11           Daisy          2 2017-05-28 03:46:21.658         0    False
12     Kimani Boni          1 2017-05-28 02:11:26.052        63    False
13            SELA          2 2017-05-28 01:35:21.771         0    False
14      0715681971          2 2017-05-28 01:34:37.637        11    False
15      0715681971          2 2017-05-28 01:25:43.178        90    False
16            SELA          3 2017-05-28 01:25:25.473         0     True
17            SELA          2 2017-05-28 01:24:17.488        32    False
18           Betty          2 2017-05-28 01:23:09.489         0    False
19      0715681971          1 2017-05-28 01:18:04.415        28    False
20           Daisy          1 2017-05-28 01:15:18.018        28    False
21           Daisy          1 2017-05-28 01:14:45.153        11    False
22           Daisy          1 2017-05-28 01:13:28.392        11    False
23           Daisy          2 2017-05-28 01:12:31.405         2    False
24      0715681971          2 2017-05-28 01:11:07.118         0    False
25             NaN          2 2017-05-28 00:59:31.054         0    False
26        Fran Kim          2 2017-05-28 00:58:33.317        13    False
27        Fran Kim          2 2017-05-28 00:58:14.678         0    False
28          Njenga          1 2017-05-28 00:56:37.682        52    False
29          Njenga          2 2017-05-28 00:55:27.971         0    False
...            ...        ...                     ...       ...      ...
1050           NaN          2 2017-04-26 13:14:09.819        24    False
1051           NaN          2 2017-04-26 13:09:28.409       173    False
1052           NaN          2 2017-04-26 12:54:49.994       425    False
1053           NaN          1 2017-04-26 12:54:15.577         7    False
1054           NaN          2 2017-04-26 12:42:13.142         0    False
1055           NaN          2 2017-04-26 12:38:17.287         0    False
1056                        1 2017-04-26 12:37:44.888         2    False
1057           NaN          2 2017-04-26 12:36:42.681         0    False
1058           NaN          1 2017-04-26 12:35:57.360        35    False
1059           NaN          1 2017-04-26 12:31:45.207         6    False
1060           NaN          1 2017-04-26 12:25:01.999        34    False
1061           NaN          2 2017-04-26 12:22:40.294        43    False
1062           NaN          2 2017-04-26 12:11:10.187         0    False
1063           NaN          2 2017-04-26 12:01:49.427         0    False
1064           NaN          2 2017-04-26 11:57:43.978         0    False
1065           NaN          2 2017-04-26 11:57:13.268        11    False
1066           NaN          2 2017-04-26 11:56:19.622        32    False
1067           NaN          1 2017-04-26 11:55:08.744        18    False
1068           NaN          2 2017-04-26 11:05:36.872         0    False
1069           NaN          2 2017-04-26 09:06:44.495         0    False
1070           NaN          2 2017-04-26 09:04:15.752         0    False
1071           NaN          2 2017-04-26 09:03:12.710        30    False
1072           NaN          2 2017-04-26 08:48:57.859         0    False
1073           NaN          2 2017-04-26 08:46:56.465         0    False
1074           NaN          2 2017-04-26 06:55:39.693         0    False
1075           NaN          3 2017-04-26 06:34:57.052         0     True
1076           NaN          3 2017-04-26 06:34:02.168         0     True
1077           NaN          3 2017-04-25 20:13:39.870         0     True
1078           NaN          2 2017-04-25 19:02:54.742         0    False
1079           NaN          2 2017-04-25 18:34:52.078        56    False

      item_id   phone_number
0        5500     0725648706
1        5499     0725648706
2        5498     0725648706
3        5497     0729108717
4        5496     0790317128
5        5495     0711273121
6        5494     0710617634
7        5493     0710617634
8        5492     0710617634
9        5491     0710617634
10       5490     0725397498
11       5489     0725397498
12       5488     0790317128
13       5487     0715002810
14       5486     0715706008
15       5485     0715706008
16       5484     0715002810
17       5483     0715002810
18       5482     0729378278
19       5481     0715706008
20       5480     0725397498
21       5479     0725397498
22       5478     0725397498
23       5477     0725397498
24       5476     0715706008
25       5475     0720934804
26       5474     0722057906
27       5473     0722057906
28       5472     0716453899
29       5471  +254678102319
...       ...            ...
1050     4450     0717651811
1051     4449     0710181516
1052     4448     0710181516
1053     4447     0710181516
1054     4446     0710181516
1055     4445     0710181516
1056     4444
1057     4443     0713187616
1058     4442     0721811321
1059     4441     0710181516
1060     4440     0729844411
1061     4439  +254593615210
1062     4438     0799508276
1063     4437  +254593615210
1064     4436     0729844411
1065     4435     0729844411
1066     4434     0729844411
1067     4433     0729844411
1068     4432     0710181516
1069     4431     0710181516
1070     4430     0799508276
1071     4429  +254425684851
1072     4428     0799508276
1073     4427     0799508276
1074     4426     0796948560
1075     4425     0796948560
1076     4424     0796948560
1077     4423     0701511968
1078     4422     0729844411
1079     4421     0736837790

[1080 rows x 7 columns]

OverflowError: Python int too large to convert to C long